<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.repository.themes.LookNFeelRepositoryStore">
      </repositoryStore>
   </extension>

</plugin>
