<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.expression.proposalListener">
      <proposalListner
            name="%createDocumentLabel"
            providerClass="org.bonitasoft.studio.document.ui.DocumentProposalListener"
            type="TYPE_DOCUMENT">
      </proposalListner>
      <proposalListner
            name="%createDocumentLabel"
            providerClass="org.bonitasoft.studio.document.ui.DocumentProposalListener"
            type="DOCUMENT_REF_TYPE">
      </proposalListner>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.bonitasoft.studio.diagram">
             <propertySection
                      class="org.bonitasoft.studio.document.ui.DocumentPropertySection"
                      filter="org.bonitasoft.studio.document.ui.DocumentSectionFilter"
                      id="section.general.tab.document"
                      tab="tab.document"
                      viewID="org.bonitasoft.studio.views.properties.process.data">
                </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.bonitasoft.studio.common.barResourcesProvider">
      <barResourceProvider
            providerClass="org.bonitasoft.studio.document.core.expression.DocumentBarResourceProvider">
      </barResourceProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.expressionProvider">
      <expressionProvider
            providerClass="org.bonitasoft.studio.document.core.expression.DocumentObjectExpressionProvider">
      </expressionProvider>
      <expressionProvider
            providerClass="org.bonitasoft.studio.document.core.expression.DocumentReferenceExpressionProvider">
      </expressionProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.document.core.repository.DocumentRepositoryStore">
      </repositoryStore>
   </extension>
   <extension
         point="org.bonitasoft.studio.bosArchiveProvider">
      <bosArchiveProvider
            providerClass="org.bonitasoft.studio.document.core.repository.DocumentFilseStoreProvider">
      </bosArchiveProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.engine.definition.builder">
      <EngineDefinitionBuilder
            class="org.bonitasoft.studio.document.core.export.DocumentEngineDefinitionBuilder">
      </EngineDefinitionBuilder>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.wizardPage">
      <configurationWizardPage
            class="org.bonitasoft.studio.document.ui.AdditionalResourcesConfigurationWizardPage"
            priority="7">
      </configurationWizardPage>
   </extension>

</plugin>
