<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="org.bonitasoft.studio.presentation.BonitaTabsPresentationFactory"
            name="Bonita presentation"
            id="org.bonitasoft.studio.presentation"/>
   </extension>
   <extension point="org.eclipse.ui.themes">
	<themeElementCategory
    	id="org.bonitasoft.studio.presentation.view.theme"
       	label="Bonita Views Presentation"/>
    <categoryPresentationBinding
            categoryId="org.bonitasoft.studio.presentation.theme"
            presentationId="org.bonitasoft.studio.presentation.view.theme">
      </categoryPresentationBinding>
	<colorDefinition 
        id="org.bonitasoft.studio.presentation.foreground_focus"
        categoryId="org.bonitasoft.studio.presentation.theme"
        label="Border Color (Focus)"
        value="COLOR_WIDGET_BORDER">
        <description>
        This color is used for the forground color of the stack border when it has focus.
        </description>
      </colorDefinition>
      <colorDefinition 
        id="org.bonitasoft.studio.presentation.foreground_nofocus"
        categoryId="org.bonitasoft.studio.presentation.theme"
        label="Border Color (No-Focus)"
        value="COLOR_WIDGET_NORMAL_SHADOW">
        <description>
        This color is used for the forground color of the stack border when it doesn't have focus.
        </description>
      </colorDefinition>  
      <data
       name="org.bonitasoft.studio.presentation.bordersize"
       value="1"/>
       
</extension> 

</plugin>
