<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.importer.import">
      <importFactory
            description="%import_BAR_desc"
            filterExtensions="*.bar"
            importerFactoryClass="org.bonitasoft.studio.importer.bar.factory.BarImporterFactory"
            inputName="Bar v5.9"
            menuIcon="icons/bos-desc.png"
            priorityDisplay="2">
      </importFactory>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.bonitasoft.studio.importer.bar.preferences.BarImporterPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
