<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension-point id="org.bonitasoft.studio.form.preview.formPreviewContribution" name="formPreviewContribution" schema="schema/org.bonitasoft.studio.form.preview.contribution.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.bonitasoft.studio.application.bonita"
            class="org.bonitasoft.studio.form.preview.view.FormPreviewPropertiesView"
            icon="icons/Preview-icon.png"
            id="org.bonitasoft.studio.views.properties.form.preview"
            name="%Preview"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.bonitasoft.studio.application.preview"
            name="%previewFrom">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bonitasoft.studio.form.preview.handler.PreviewFormHandler"
            commandId="org.bonitasoft.studio.application.preview">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.bonitasoft.studio.model.process.diagram.form.part.FormDiagramEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>

   </extension>
   <extension
         point="org.bonitasoft.studio.coolbarContributionItem">
      <coolbarItem
            class="org.bonitasoft.studio.form.preview.coolbar.FormPreviewCoolbarItem"
            priority="0"
            toolbarPosition="14">
      </coolbarItem>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.bonitasoft.studio.processusMenu?before=org.bonitasoft.studio.validation.batchValidation">
         <command
               commandId="org.bonitasoft.studio.application.preview"
               icon="icons/preview.png"
               label="%formPreviewLabel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow">
                  <test
                        forcePluginActivation="true"
                        property="org.bonitasoft.is6XLegacyEnabled">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.bonitasoft.studio.form.preview.separator2"
               visible="true">
         </separator>
      </menuContribution>
   </extension>

</plugin>
