<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.bonitasoft.studio.application.bonita"
            class="org.bonitasoft.studio.explorer.parts.BonitaPackageExplorerPart"
            icon="icons/bonitasoft-icon-16-16-transparent.png"
            id="org.bonitasoft.studio.explorer"
            name="Bonita package explorer"
            restorable="true">
      </view>
   </extension>

</plugin>
