<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.bonitasoft.studio.preferences.pages.BPM"
            class="org.bonitasoft.studio.legacy6x.preferences.Legacy6xPreferencePage"
            id="org.bonitasoft.studio.preferences.legacy6x"
            name="%legacy6xPreferencePageTitle">
         <keywordReference
               id="org.bonitasoft.studio.preferences.keyword.legacy6x">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.bonitasoft.studio.preferences.keyword.legacy6x"
            label="%legacy6xKeywords">
      </keyword>
   </extension>

</plugin>
