<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.bonitasoft.studio.configuration.wizardPage" name="org.bonitasoft.studio.configuration.wizardPage" schema="schema/org.bonitasoft.studio.configuration.wizardPage.exsd"/>
   <extension-point id="org.bonitasoft.studio.configuration.exportConfigurationAction" name="org.bonitasoft.studio.configuration.exportConfigurationAction" schema="schema/org.bonitasoft.studio.configuration.exportConfigurationAction.exsd"/>
   <extension-point id="org.bonitasoft.studio.configuration.importConfigurationAction" name="org.bonitasoft.studio.configuration.importConfigurationAction" schema="schema/org.bonitasoft.studio.configuration.importConfigurationAction.exsd"/>
   <extension-point id="org.bonitasoft.studio.configuration.synchronizer" name="org.bonitasoft.studio.configuration.synchronizer" schema="schema/org.bonitasoft.studio.configuration.synchronizer.exsd"/>
   <extension-point id="org.bonitasoft.studio.configuration.environmentProvider" name="org.bonitasoft.studio.configuration.environmentProvider" schema="schema/org.bonitasoft.studio.configuration.environmentProvider.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.bonitasoft.studio.configuration.ui.handler.ConfigureHandler"
            id="org.bonitasoft.studio.configuration.configure"
            name="%Configure">
         <commandParameter
               id="configuration"
               name="configuration"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.bonitasoft.studio.coolbarContributionItem">
      <coolbarItem
            class="org.bonitasoft.studio.configuration.coolbar.ConfigureCoolbarItem"
            priority="0"
            toolbarPosition="14">
      </coolbarItem>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.bonitasoft.studio.configuration.preferences.ConfigurationPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.exportConfigurationAction">
      <exportConfigurationAction
            class="org.bonitasoft.studio.configuration.action.ExportProcessDependenciesAction">
      </exportConfigurationAction>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.bonitasoft.studio.menu.run?before=org.bonitasoft.studio.engine.runCommand">
         <command
               commandId="org.bonitasoft.studio.configuration.configure"
               icon="icons/configure.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.bonitasoft.studio.diagram.custom.configurationSynchronizer">
      <synchronizer
            class="org.bonitasoft.studio.configuration.ConfigurationSynchronizer">
      </synchronizer>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/environment.genmodel"
            uri="http://www.bonitasoft.org/ns/studio/environment"
            class="org.bonitasoft.studio.configuration.environment.EnvironmentPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="xml"
            class="org.bonitasoft.studio.configuration.environment.util.EnvironmentResourceFactoryImpl">
      </parser>
   </extension>
    <extension
         point="org.eclipse.emf.edapt.migrators">
      <migrator
            path="model/environment.history">
      </migrator>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.bonitasoft.studio.menu.run?after=org.bonitasoft.studio.application.openConsole">
         <separator
               name="org.bonitasoft.studio.configuration.separator"
               visible="true">
         </separator>
         <dynamic
               class="org.bonitasoft.studio.configuration.menu.OpenEnvironmentMenuContribution"
               id="org.bonitasoft.studio.configuration.menu.open">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.bonitasoft.studio.application.project.explorer?after=additions">
         <command
               commandId="org.bonitasoft.studio.configuration.command.setActive"
               style="push"
               mnemonic="A">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.bonitasoft.studio.configuration.ui.handler.EnvironmentHandler"
            name="%EnvironmentLabel"
            id="org.bonitasoft.studio.configuration.command.openEnvironment">
      </command>
   </extension>
   <extension
         point="org.bonitasoft.studio.repository.fileContribution">
      <fileContribution
            class="org.bonitasoft.studio.configuration.repository.DefaultEnvironmentContribution">
      </fileContribution>
   </extension>
   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.configuration.repository.EnvironmentRepositoryStore">
      </repositoryStore>
   </extension>
  
   <extension
         point="org.bonitasoft.studio.bosArchiveProvider">
      <bosArchiveProvider
            providerClass="org.bonitasoft.studio.configuration.EnvironmentResourceProvider">
      </bosArchiveProvider>
   </extension>

   <extension
         id="org.bonitasoft.studio.configuration.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.environmentProvider">
      <environmentProvider
            provider="org.bonitasoft.studio.configuration.EnvironmentProvider">
      </environmentProvider>
   </extension>
</plugin>
