<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.groovy.repository.ProvidedGroovyRepositoryStore">
      </repositoryStore>
      <repositoryStore
            class="org.bonitasoft.studio.groovy.repository.GroovyRepositoryStore">
      </repositoryStore>
   </extension>
   <extension
         point="org.bonitasoft.studio.repository.fileContribution">
      <fileContribution
            class="org.bonitasoft.studio.groovy.repository.DefaultScriptsContribution">
      </fileContribution>
   </extension>
   <extension
         point="org.bonitasoft.studio.common.barResourcesProvider">
      <barResourceProvider
            providerClass="org.bonitasoft.studio.groovy.provider.GroovyScriptBarResourceProvider">
      </barResourceProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.bosArchiveProvider">
      <bosArchiveProvider
            providerClass="org.bonitasoft.studio.groovy.provider.GroovyResourceProvider">
      </bosArchiveProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.common.repository.projectListenerProvider">
      <projectListenerProvider
            class="org.bonitasoft.studio.groovy.provider.GroovyProjectListenerProvider">
      </projectListenerProvider>
   </extension>

</plugin>
