<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2005, 2011 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
         IBM Corporation - initial API and implementation
          Martin Oberhuber (Wind River) - [292882] Default Browser on Solaris
          Martin Oberhuber (Wind River) - [293175] Default external web browser not found when running 32-bit Eclipse on 64-bit Ubuntu 9.04
 -->

<plugin>

   <extension-point id="browsers" name="%browser_extension_point_name" schema="schema/browsers.exsd"/>

   <extension point="org.eclipse.ui.preferencePages">
      <page
         id="org.eclipse.ui.browser.preferencePage"
         name="%preferenceWebBrowserTitle"
         category="org.eclipse.ui.preferencePages.Workbench"
         class="org.eclipse.ui.internal.browser.WebBrowserPreferencePage">
           <keywordReference id="org.eclipse.ui.browser.preferenceKeywords"/>
      </page>
   </extension>

   <extension point="org.eclipse.ui.keywords">
      <keyword
         label="%preferenceKeywords"
         id="org.eclipse.ui.browser.preferenceKeywords"/>
   </extension>  

   <extension point="org.eclipse.ui.browserSupport">
      <support
         default="true"
         class="org.eclipse.ui.internal.browser.DefaultBrowserSupport"/>
   </extension>

   <extension point="org.eclipse.ui.views">
      <view
         allowMultiple="true"
         category="org.eclipse.ui"
         class="org.eclipse.ui.internal.browser.WebBrowserView"
         icon="$nl$/icons/obj16/internal_browser.gif"
         id="org.eclipse.ui.browser.view"
         name="%viewWebBrowserTitle"/>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
         class="org.eclipse.ui.internal.browser.WebBrowserEditor"
         contributorClass="org.eclipse.ui.internal.browser.WebBrowserEditorActionBarContributor"
         icon="$nl$/icons/obj16/internal_browser.gif"
         id="org.eclipse.ui.browser.editor"
         name="%viewWebBrowserTitle"/>
      <editor
         extensions="htm,html,shtml"
         icon="$nl$/icons/obj16/internal_browser.gif"
         id="org.eclipse.ui.browser.editorSupport"
         launcher="org.eclipse.ui.internal.browser.BrowserLauncher"
         name="%viewWebBrowserSupportTitle"/>
  </extension>

<!--
  <extension point="org.eclipse.ui.actionSets">
    <actionSet
      id="org.eclipse.ui.browser.actionSet"
      label="%actionSetWebBrowserTitle"
      visible="true">
      <action
        id="org.eclipse.ui.browser.action.open"
        toolbarPath="browser"
        label="%actionSetOpenWebBrowser"
        tooltip="%actionSetOpenWebBrowser"
        icon="icons/obj16/internal_browser.gif"
        class="org.eclipse.ui.internal.browser.OpenBrowserWorkbenchAction"/>
    </actionSet>
  </extension>
-->

   <!-- Web Browsers -->
   <extension point="org.eclipse.ui.browser.browsers">
      <!-- Linux -->
      <browser
         id="org.eclipse.ui.browser.mozilla"
         name="%browserMozilla"
         os="linux,aix,hpux,solaris"
         executable="mozilla"
         factoryclass="org.eclipse.ui.internal.browser.browsers.MozillaFactory">
         <location>usr/bin/mozilla</location>
         <location>usr/X11/bin/mozilla</location>
         <location>usr/sfw/lib/mozilla/mozilla</location>
      </browser>
      <browser
         id="org.eclipse.ui.browser.netscape"
         name="%browserNetscape"
         os="linux,aix,hpux,solaris"
         executable="netscape"
         factoryclass="org.eclipse.ui.internal.browser.browsers.MozillaFactory">
         <location>usr/bin/netscape</location>
         <location>usr/X11R6/bin/netscape</location>
         <location>usr/dt/bin/netscape</location>
      </browser>
      <browser
         id="org.eclipse.ui.browser.firefox"
         name="%browserFirefox"
         os="linux,aix,hpux,solaris"
         executable="firefox"
         factoryclass="org.eclipse.ui.internal.browser.browsers.MozillaFactory">
         <location>
            usr/bin/firefox
         </location>
      </browser>
      <browser
         id="org.eclipse.ui.browser.konqueror"
         name="%browserKonqueror"
         os="linux,aix,hpux,solaris"
         executable="konqueror">
         <location>opt/kde3/bin/konqueror</location>
      </browser>
      <browser
         id="org.eclipse.ui.browser.galeon"
         name="%browserGaleon"
         os="linux,aix,hpux,solaris"
         executable="galeon">
         <location>opt/usr/gnome/bin/galeon</location>
      </browser>
      
      <!-- Windows -->
      <browser
         id="org.eclipse.ui.browser.mozilla"
         name="%browserMozilla"
         os="Win32"
         executable="mozilla.exe"
         factoryclass="org.eclipse.ui.internal.browser.browsers.MozillaFactory">
         <location>Program Files\mozilla.org\Mozilla\mozilla.exe</location>
      </browser>
      <browser
         id="org.eclipse.ui.browser.netscape7"
         name="%browserNetscape7"
         os="Win32"
         executable="netsc.exe"
         factoryclass="org.eclipse.ui.internal.browser.browsers.MozillaFactory">
         <location>Program Files\Netscape\Netscape\netscp.exe</location>
      </browser>
      <browser
         id="org.eclipse.ui.browser.netscape4"
         name="%browserNetscape4"
         os="Win32"
         executable="netscape.exe"
         factoryclass="org.eclipse.ui.internal.browser.browsers.MozillaFactory">
         <location>Program Files\Netscape\Communicator\Program\netscape.exe</location>
      </browser>
      <browser
         id="org.eclipse.ui.browser.firefox"
         name="%browserFirefox"
         os="Win32"
         executable="firefox.exe"
         factoryclass="org.eclipse.ui.internal.browser.browsers.MozillaFactory">
         <location>Program Files\mozilla.org\Firefox\firefox.exe</location>
         <location>Program Files\Mozilla Firefox\firefox.exe</location>
         <location>Program Files (x86)\Mozilla Firefox\firefox.exe</location>
      </browser>
      <browser
         id="org.eclipse.ui.browser.ie"
         name="%browserInternetExplorer"
         os="Win32"
         executable="iexplore.exe">
         <location>Program Files\Internet Explorer\iexplore.exe</location>
      </browser>
      <browser
         id="org.eclipse.ui.browser.opera"
         name="%browserOpera"
         os="Win32"
         executable="opera.exe">
         <location>Program Files\Opera7\opera.exe</location>
         <location>
            Program Files\Opera\opera.exe
         </location>
      </browser>
      
      <!-- Mac -->
      <browser
         id="org.eclipse.ui.browser.firefox"
         name="%browserFirefox"
         os="MacOSX"
         executable="firefox-bin"
         factoryclass="org.eclipse.ui.internal.browser.browsers.MozillaFactory">
         <location>Applications/Firefox.app/Contents/MacOS/firefox-bin</location>
      </browser>
      <browser
         id="org.eclipse.ui.browser.camino"
         name="%browserCamino"
         os="MacOSX"
         executable="Camino">
         <location>Applications/Camino.app/Contents/MacOS/Camino</location>
      </browser>
<!--      <browser
         id="org.eclipse.ui.browser.safari"
         name="%browserSafari"
         os="MacOSX"
         executable="Safari"
         factoryclass="org.eclipse.ui.internal.browser.macosx.SafariBrowserFactory">
         <location>Applications/Safari.app/Contents/MacOS/Safari</location>
      </browser> -->
      <browser
         id="org.eclipse.ui.browser.mozilla"
         name="%browserMozilla"
         os="MacOSX"
         executable="mozilla-bin"
         factoryclass="org.eclipse.ui.internal.browser.browsers.MozillaFactory">
         <location>Applications/Mozilla.app/Contents/MacOS/mozilla-bin</location>
      </browser>
      <browser
         id="org.eclipse.ui.browser.ie"
         name="%browserInternetExplorer"
         os="MacOSX"
         executable="Internet&#0032;Explorer">
         <location>Applications/Internet Explorer.app/Contents/MacOS/"Internet Explorer"</location>
      </browser>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="org.eclipse.ui.internal.browser.OpenBrowserHandler"
            description="%command.openBrowser.description"
            id="org.eclipse.ui.browser.openBrowser"
            name="%command.openBrowser.name">
         <commandParameter
               id="url"
               name="%commandParameter.openBrowser.url.name"
               optional="true"/>
         <commandParameter
               id="browserId"
               name="%commandParameter.openBrowser.browserId.name"
               optional="true"/>
         <commandParameter
               id="name"
               name="%commandParameter.openBrowser.name.name"
               optional="true"/>
         <commandParameter
               id="tooltip"
               name="%commandParameter.openBrowser.tooltip.name"
               optional="true"/>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.ui.browser.openBrowser"
            icon="$nl$/icons/obj16/internal_browser.gif"/>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.ui.internal.browser.WebBrowserEditorInput"
            id="org.eclipse.ui.browser.elementFactory">
      </factory>
   </extension>
</plugin>
