<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (C) 2009-2012 BonitaSoft S.A.
 BonitaSoft, 31 rue Gustave Eiffel - 38000 Grenoble
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 2.0 of the License, or
 (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<plugin>

<extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.bonitasoft.org/organization"
            class="org.bonitasoft.studio.actors.model.organization.OrganizationPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="organization"
            class="org.bonitasoft.studio.actors.model.organization.util.OrganizationResourceFactoryImpl"/>
   </extension>
    <extension
         point="org.eclipse.ui.menus">
          <menuContribution
                allPopups="false"
                locationURI="menu:org.eclipse.ui.main.menu?after=org.bonitasoft.studio.menu.edit">
            <menu
                  id="org.bonitasoft.studio.actor.organizationMenu"
                  label="%actors_Label">
                   <command
                  commandId="org.bonitasoft.studio.organization.manage"
                  icon="icons/manage.png"
                  style="push">
            </command>
              <separator
                  name="separator0"
                  visible="true">
            </separator>
             <command
                  commandId="org.bonitasoft.studio.organization.synchronize"
                  icon="icons/synchronize.png"
                  style="push">
            </command>
                   <separator
                  name="separator1"
                  visible="true">
            </separator>
               <command
                  commandId="org.bonitasoft.studio.actors.export"
                  icon="icons/organization_export.png"
                  style="push">
            </command>
               <command
                  commandId="org.bonitasoft.studio.actors.import"
                  icon="icons/organization_import.png"
                  style="push">
            </command>
            
            </menu>
            </menuContribution>
          <menuContribution
                allPopups="false"
                locationURI="menu:org.bonitasoft.studio.development?after=org.bonitasoft.studio.menu.connector">
             <menu
                   icon="icons/actor_filter.png"
                   id="org.bonitasoft.studio.menu.filter"
                   label="%Filters">
                <command
                      commandId="org.bonitasoft.studio.actors.newFilterDef"
                      icon="icons/actor_filter-def-new.png"
                      style="push">
                </command>
                <command
                      commandId="org.bonitasoft.studio.actors.editFilterDef"
                      icon="icons/actor_filter-def-edit.png"
                      style="push">
                </command>
                <separator
                      name="org.bonitasoft.studio.actors.separator"
                      visible="true">
                </separator>
                <command
                      commandId="org.bonitasoft.studio.actors.newFilterImpl"
                      icon="icons/actor_filter-implem-new.png"
                      style="push">
                </command>
                <command
                      commandId="org.bonitasoft.studio.actors.editFilterImpl"
                      icon="icons/actor_filter-implem-edit.png"
                      style="push">
                </command>
                <separator
                      name="org.bonitasoft.studio.actors.separator1"
                      visible="true">
                </separator>
                <command
                      commandId="org.bonitasoft.studio.actors.filter.export"
                      icon="icons/actor_filter-export.png"
                      style="push">
                </command>
                <command
                      commandId="org.bonitasoft.studio.actors.filter.import"
                      icon="icons/actor_filter-import.png"
                      style="push">
                </command>
             </menu>
          </menuContribution>
   </extension>
   
    <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.bonitasoft.studio.actors.ui.handler.ExportOrganizationHandler"
            id="org.bonitasoft.studio.actors.export"
            name="%export_Label">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.actors.ui.handler.ImportOrganizationHandler"
            id="org.bonitasoft.studio.actors.import"
            name="%import_Label">
      </command>
       <command
            defaultHandler="org.bonitasoft.studio.actors.ui.handler.SynchronizeOrganizationHandler"
            id="org.bonitasoft.studio.organization.synchronize"
            name="%loadOrganization_Label">
      </command>
       <command
             defaultHandler="org.bonitasoft.studio.actors.ui.handler.ManageOrganizationHandler"
             id="org.bonitasoft.studio.organization.manage"
             name="%manageOrganization_Label">
       </command>
       <command
             defaultHandler="org.bonitasoft.studio.actors.ui.handler.NewFilterDefinitionHandler"
             id="org.bonitasoft.studio.actors.newFilterDef"
             name="%newFilterDef">
       </command>
       <command
             defaultHandler="org.bonitasoft.studio.actors.ui.handler.EditFilterDefinitionHandler"
             id="org.bonitasoft.studio.actors.editFilterDef"
             name="%editFilterDef">
       </command>
       <command
             defaultHandler="org.bonitasoft.studio.actors.ui.handler.NewFilterImplementationHandler"
             id="org.bonitasoft.studio.actors.newFilterImpl"
             name="%newFilterImpl">
       </command>
         <command
             id="org.bonitasoft.studio.engine.installOrganization"
             name="%installOrganization">
            <commandParameter
                  id="artifact"
                  name="artifact"
                  optional="false">
            </commandParameter>
       </command>
       <command
             defaultHandler="org.bonitasoft.studio.actors.ui.handler.EditFilterImplementationHandler"
             id="org.bonitasoft.studio.actors.editFilterImpl"
             name="%editFilterImpl">
       </command>
       <command
             defaultHandler="org.bonitasoft.studio.actors.ui.handler.ExportActorFilterHandler"
             id="org.bonitasoft.studio.actors.filter.export"
             name="%export_Label">
       </command>
       <command
             defaultHandler="org.bonitasoft.studio.actors.ui.handler.ImportActorFilterHandler"
             id="org.bonitasoft.studio.actors.filter.import"
             name="%import_Label">
       </command>
      </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
       <propertyTabs
             contributorId="org.bonitasoft.studio.diagram">
          <propertyTab
                afterTab="tab.data"
                category="domain"
                id="tab.actors"
                label="%actor_tab_label">
          </propertyTab>
       </propertyTabs>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="org.bonitasoft.studio.diagram">
          <propertySection
                class="org.bonitasoft.studio.actors.ui.section.AssignableActorsPropertySection"
                enablesFor="1"
                filter="org.bonitasoft.studio.actors.ui.section.filter.AssignableActorsFilter"
                id="section.assignable.actors"
                tab="tab.actors"
                viewID="org.bonitasoft.studio.views.properties.process.general">
          </propertySection>
          <propertySection
                class="org.bonitasoft.studio.actors.ui.section.ProcessActorsPropertySection"
                enablesFor="1"
                filter="org.bonitasoft.studio.actors.ui.section.filter.ProcessActorsFilter"
                id="section.process.actors"
                tab="tab.actors"
                viewID="org.bonitasoft.studio.views.properties.process.general">
          </propertySection>
          <propertySection
                class="org.bonitasoft.studio.actors.ui.section.LaneAssignableActorsPropertySection"
                enablesFor="1"
                filter="org.bonitasoft.studio.actors.ui.section.filter.LaneActorFilter"
                id="section.lane.actors"
                tab="tab.actors"
                viewID="org.bonitasoft.studio.views.properties.process.general">
          </propertySection>
       </propertySections>
    </extension>
    <extension
          point="org.bonitasoft.studio.configuration.wizardPage">
       <configurationWizardPage
             class="org.bonitasoft.studio.actors.configuration.ActorMappingConfigurationWizardPage"
             priority="0">
       </configurationWizardPage>
       <configurationWizardPage
             class="org.bonitasoft.studio.actors.configuration.ActorFilterConfigurationWizardPage"
             priority="6">
       </configurationWizardPage>
    </extension>
    <extension
          point="org.bonitasoft.studio.configuration.importConfigurationAction">
       <importConfigurationAction
             class="org.bonitasoft.studio.actors.action.ImportActorMappingAction">
       </importConfigurationAction>
    </extension>
    <extension
          point="org.bonitasoft.studio.configuration.exportConfigurationAction">
       <exportConfigurationAction
             class="org.bonitasoft.studio.actors.action.ExportActorMappingAction">
       </exportConfigurationAction>
       <exportConfigurationAction
             class="org.bonitasoft.studio.actors.configuration.ExportActorFiltersAction">
       </exportConfigurationAction>
    </extension>
    <extension
          point="org.bonitasoft.studio.repositoryStore">
       <repositoryStore
             class="org.bonitasoft.studio.actors.repository.OrganizationRepositoryStore">
       </repositoryStore>
       <repositoryStore
             class="org.bonitasoft.studio.actors.repository.ActorFilterSourceRepositoryStore">
       </repositoryStore>
       <repositoryStore
             class="org.bonitasoft.studio.actors.repository.ActorFilterDefRepositoryStore">
       </repositoryStore>
       <repositoryStore
             class="org.bonitasoft.studio.actors.repository.ActorFilterImplRepositoryStore">
       </repositoryStore>
       <repositoryStore
             class="org.bonitasoft.studio.actors.repository.ActorFilterConfRepositoryStore">
       </repositoryStore>
    </extension>
    <extension
          point="org.bonitasoft.studio.repository.fileContribution">
       <fileContribution
             class="org.bonitasoft.studio.actors.repository.DefaultOrganizationContribution">
       </fileContribution>
    </extension>
    <extension
          point="org.bonitasoft.studio.configuration.synchronizer">
       <synchronier
             class="org.bonitasoft.studio.actors.configuration.ActorFiltersConfigurationSynchronizer">
       </synchronier>
       <synchronier
             class="org.bonitasoft.studio.actors.configuration.ActorMappingConfigurationSynchronizer">
       </synchronier>
    </extension>
        <extension
          point="org.bonitasoft.studio.common.barResourcesProvider">
       <barResourceProvider
             providerClass="org.bonitasoft.studio.actors.configuration.ActorFilterBarResourceProvider">
       </barResourceProvider>
    </extension>
    <extension
          point="org.bonitasoft.studio.bosArchiveProvider">
       <bosArchiveProvider
             providerClass="org.bonitasoft.studio.actors.repository.ActorFilterResourceProvider">
       </bosArchiveProvider>
    </extension>
    <extension
          point="org.eclipse.emf.edapt.migrators">
       <migrator
             path="model/Organization.history">
       </migrator>
    </extension>
    <extension
          point="org.bonitasoft.studio.engine.postEngineAction">
       <action
             class="org.bonitasoft.studio.actors.action.PublishActiveOrganizationAction">
       </action>
    </extension>
    <extension
          point="org.bonitasoft.studio.connectors.connectorWizard">
       <connectorWizard
             DefinitionId="custom-user-info"
             priority="5"
             useDefaultGeneratedPages="false"
             useDefaultOutputPage="true">
          <configurationPage
                page="org.bonitasoft.studio.actors.ui.wizard.connector.CustomUserInfoConnectorConfigurationWizardPage">
          </configurationPage>
       </connectorWizard>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.bonitasoft.studio.actors.ui.handler.InstallOrganizationHandler"
             commandId="org.bonitasoft.studio.engine.installOrganization">
          <activeWhen>
             <reference
                   definitionId="isABonitaProduct">
             </reference>
          </activeWhen>
       </handler>
    </extension>

</plugin>
