<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.IEditorInput"
            class="org.bonitasoft.studio.common.diagram.editor.internal.InputResourceAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IFile">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.gmf.runtime.emf.type.core.IElementType"
            class="org.bonitasoft.studio.common.diagram.editor.internal.ElementTypeAdapterFactory">
         <adapter
               type="org.eclipse.emf.ecore.EClass">
         </adapter>
      </factory>
   </extension>

</plugin>
