<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.bonitasoft.studio.validation.constraints"
            name="%ProcessConstraintsCategory">
      </category>
      <category
            id="org.bonitasoft.studio.validation.forms.constraints"
            name="Form validation">
      </category>
      <constraintProvider
            cache="true">
         <constraints
               categories="org.bonitasoft.studio.validation.constraints">
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.EmptyNameConstraint"
                  id="org.bonitasoft.studio.validation.constraints.nonemptynames"
                  lang="Java"
                  mode="Live"
                  name="%NotEmptyNameConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraints.emptyname.message
               </message>
               <target
                     class="Element">
                  <event
                        name="Set">
                     <feature
                           name="name">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="name">
                     </feature>
                  </event>
               </target>
               <description>
                  %constraints.element.desc
               </description>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.AssignableConstraint"
                  id="org.bonitasoft.studio.validation.constraints.assignable"
                  lang="Java"
                  mode="Live"
                  name="%ActorsSelector"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %Validation_assignable
                  
               </message>
               <target
                     class="Assignable">
                  <event
                        name="Set">
                     <feature
                           name="actor">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="actor">
                     </feature>
                  </event>
               </target>
               <target
                     class="Task">
                  <event
                        name="Set">
                     <feature
                           name="overrideActorsOfTheLane">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="overrideActorsOfTheLane">
                     </feature>
                  </event>
               </target>
               <target
                     class="Shape">
                  <event
                        name="Set">
                     <feature
                           name="element">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.TimerConstraint"
                  id="org.bonitasoft.studio.validation.constraint.Timer"
                  lang="Java"
                  mode="Live"
                  name="%Timer"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="AbstractTimerEvent">
                  <event
                        name="Set">
                     <feature
                           name="condition">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="condition">
                     </feature>
                  </event>
               </target>
               <target
                     class="Shape">
                  <event
                        name="Set">
                     <feature
                           name="element">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.CallActivityConstraint"
                  id="org.bonitasoft.studio.validation.constraints.CallActivity"
                  lang="Java"
                  mode="Batch"
                  name="%CallActivityConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="CallActivity">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.CallActivityWarningConstraint"
                  id="org.bonitasoft.studio.validation.constraints.SubProcessWarning"
                  lang="Java"
                  mode="Batch"
                  name="%SubProcessWarning"
                  severity="INFO"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="CallActivity">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.XORGatewayConstraint"
                  id="org.bonitasoft.studio.validation.xorGateway"
                  lang="java"
                  mode="Live"
                  name="XORGateway"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="XORGateway">
                  <event
                        name="Add">
                     <feature
                           name="outgoing">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="outgoing">
                     </feature>
                  </event>
               </target>
               <target
                     class="Shape">
                  <event
                        name="Set">
                     <feature
                           name="element">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.EndErrorEventConstraint"
                  id="org.bonitasoft.studio.validation.constraints.EndErrorEvent"
                  lang="Java"
                  mode="Live"
                  name="%EndErrorEvent"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="EndErrorEvent">
                  <event
                        name="Set">
                     <feature
                           name="errorCode">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="errorCode">
                     </feature>
                  </event>
               </target>
               <target
                     class="Shape">
                  <event
                        name="Set">
                     <feature
                           name="element">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.ExceptionTransitionConstraint"
                  id="org.bonitasoft.studio.validation.constraint.ExceptionTransition"
                  lang="Java"
                  mode="Live"
                  name="%ExceptionTransition"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="BoundaryEvent">
                  <event
                        name="Add">
                     <feature
                           name="outgoing">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="outgoing">
                     </feature>
                  </event>
               </target>
               <target
                     class="Shape">
                  <event
                        name="Set">
                     <feature
                           name="element">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.SignalEventConstraint"
                  id="org.bonitasoft.studio.validation.constraints.SignalEvent"
                  lang="Java"
                  mode="Live"
                  name="%SignalEvent"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SignalEvent">
                  <event
                        name="Set">
                     <feature
                           name="signalCode">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="signalCode">
                     </feature>
                  </event>
               </target>
               <target
                     class="Shape">
                  <event
                        name="Set">
                     <feature
                           name="element">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.SimulationConstraint"
                  id="org.bonitasoft.studio.validation.constraints.SimulationConstraint"
                  lang="Java"
                  mode="Batch"
                  name="%SimulationConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.SubprocessEventConstraint"
                  id="org.bonitasoft.studio.validation.constraint.subProcessEvent"
                  lang="Java"
                  mode="Batch"
                  name="%SubProcessEventConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SubProcessEvent">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.MessageEventConstraint"
                  id="org.bonitasoft.studio.validation.messageEventConstraint"
                  lang="java"
                  mode="Live"
                  name="%MessageEventConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Message">
                  <event
                        name="Unset">
                     <feature
                           name="targetProcessExpression">
                     </feature>
                  </event>
                  <event
                        name="Set">
                     <feature
                           name="targetProcessExpression">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.LoopConditionConstraint"
                  id="org.bonitasoft.studio.validation.constraints.nonemptyloopcondition"
                  lang="Java"
                  mode="Live"
                  name="%NonEmptyLoopCondition"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %Validation_loopMissingCondition
               </message>
               <target
                     class="Activity">
                  <event
                        name="Set">
                     <feature
                           name="isLoop">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="isLoop">
                     </feature>
                  </event>
                  <event
                        name="Set">
                     <feature
                           name="testBefore">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="testBefore">
                     </feature>
                  </event>
               </target>
               <description>
                  
               </description>
               <target
                     class="Expression">
                  <event
                        name="Set">
                     <feature
                           name="content">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="content">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.NoMessageDefinedConstraint"
                  id="org.bonitasoft.studio.validation.constraints.nomessage"
                  lang="Java"
                  mode="Live"
                  name="%MessageDefinition"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %Validation_nomessage
               </message>
               <target
                     class="ThrowMessageEvent">
                  <event
                        name="Add">
                     <feature
                           name="events">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="events">
                     </feature>
                  </event>
               </target>
               <target
                     class="Shape">
                  <event
                        name="Set">
                     <feature
                           name="element">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.NoIncomingLinkWarningConstraint"
                  id="org.bonitasoft.studio.validation.constraints.noincomingwarning"
                  lang="Java"
                  mode="Batch"
                  name="%NoIncomingWarning"
                  severity="INFO"
                  statusCode="1">
               <message>
                  {0}
                  
               </message>
               <target
                     class="FlowElement">
                  <event
                        name="Add">
                     <feature
                           name="incoming">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="incoming">
                     </feature>
                  </event>
               </target>
               <target
                     class="Shape">
                  <event
                        name="Set">
                     <feature
                           name="element">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.StartAndEndEventWarningConstraint"
                  id="org.bonitasoft.studio.validation.constraints.nostartorendevent"
                  lang="Java"
                  mode="Batch"
                  name="%NoStartOrEndEventWarning"
                  severity="INFO"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Pool">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.UniqueFlowElementIdConstraint"
                  id="org.bonitasoft.studio.validation.constraints.uniqueid"
                  lang="Java"
                  mode="Batch"
                  name="%UniqueFlowElementIdConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="FlowElement">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.UniqueBoundaryEventIdConstraint"
                  id="org.bonitasoft.studio.validation.constraints.uniqueboudaryid"
                  lang="Java"
                  mode="Batch"
                  name="%UniqueBoundaryIdConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="BoundaryEvent">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.CatchMessageEventConstraint"
                  id="org.bonitasoft.studio.validation.constraints.nocatchevent"
                  lang="Java"
                  mode="Live"
                  name="%CatchMessageEventConstaint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="AbstractCatchMessageEvent">
                  <event
                        name="Unset">
                     <feature
                           name="event">
                     </feature>
                  </event>
                  <event
                        name="Set">
                     <feature
                           name="event">
                     </feature>
                  </event>
               </target>
               <target
                     class="Shape">
                  <event
                        name="Set">
                     <feature
                           name="element">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.UniqueContainerIdConstraint"
                  id="org.bonitasoft.studio.validation.constraints.uniquecontainerid"
                  lang="Java"
                  mode="Batch"
                  name="%UniqueContainerIdConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Pool">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.ThrowLinkEventConstraint"
                  id="org.bonitasoft.studio.validation.constraints.throwlinkevent"
                  lang="Java"
                  mode="Live"
                  name="%ThrowLinkEvent"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="ThrowLinkEvent">
                  <event
                        name="Set">
                     <feature
                           name="to">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="to">
                     </feature>
                  </event>
               </target>
               <target
                     class="Shape">
                  <event
                        name="Set">
                     <feature
                           name="element">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.CatchLinkEventConstraint"
                  id="org.bonitasoft.studio.validation.constraints.catchlinkevent"
                  lang="Java"
                  mode="Live"
                  name="%CatchLinkEvent"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="CatchLinkEvent">
                  <event
                        name="Add">
                     <feature
                           name="from">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="from">
                     </feature>
                  </event>
               </target>
               <target
                     class="Shape">
                  <event
                        name="Set">
                     <feature
                           name="element">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.SequenceFlowConstraint"
                  id="org.bonitasoft.studio.validation.constraints.sequenceflow"
                  lang="Java"
                  mode="Batch"
                  name="%SequenceFlowConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SequenceFlow">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.OpeartionReturnTypeWarningConstraint"
                  id="org.bonitasoft.studio.validation.constraints.operationreturntype"
                  lang="Java"
                  mode="Live"
                  name="%IncompatibleReturnTypeInOperation"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description></description>
               <target
                     class="Expression">
                  <event
                        name="Set">
                     <feature
                           name="returnType">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="returnType">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.InclusiveGatewayConstraint"
                  id="org.bonitasoft.studio.validation.inclusiveGateway"
                  lang="java"
                  mode="Live"
                  name="InclusiveGateway"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="InclusiveGateway">
                  <event
                        name="Add">
                     <feature
                           name="incoming">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="incoming">
                     </feature>
                  </event>
               </target>
               <target
                     class="Shape">
                  <event
                        name="Set">
                     <feature
                           name="element">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.MaxLengthNames"
                  id="org.bonitasoft.studio.validation.constraints.maxlengthnames"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="Max-length names"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraints.maxlengthname.message
               </message>
               <target
                     class="Activity">
                  <event
                        name="Set">
                     <feature
                           name="name">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="name">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.GroovyCompilationOnScriptExpressionConstraint"
                  id="org.bonitasoft.studio.validation.constraint.groovyCompilationFailure"
                  lang="java"
                  mode="Batch"
                  name="Groovy script compilation failures"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Expression">
               </target>
               <target
                     class="Connector">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.BPMN2ValidationConstraint"
                  id="org.bonitasoft.studio.validation.constraints.bpmn2"
                  lang="java"
                  mode="Batch"
                  name="BPMN2 compliance"
                  severity="INFO"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="ConnectableElement">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.EndingPageflowConstraint"
                  id="org.bonitasoft.studio.validation.ex.constraint.pageflow"
                  lang="java"
                  mode="Batch"
                  name="Pageflow"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="PageFlow">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.OutputTransitionConstraint"
                  id="org.bonitasoft.studio.validation.outputTransitions"
                  lang="java"
                  mode="Batch"
                  name="Output transitions"
                  severity="INFO"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SourceElement">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.process.InternalDocumentConstraint"
                  id="org.bonitasoft.studio.validation.constraints.document"
                  lang="java"
                  mode="Batch"
                  name="Document default file"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Pool">
               </target>
            </constraint>
         </constraints>
         <package
               namespaceUri="http://www.bonitasoft.org/ns/studio/process">
         </package>
         <package
               namespaceUri="http://www.bonitasoft.org/ns/studio/form">
         </package>
         <package
               namespaceUri="http://www.bonitasoft.org/ns/studio/kpi">
         </package>
         <package
               namespaceUri="http://www.bonitasoft.org/ns/studio/process/simulation">
         </package>
         <package
               namespaceUri="http://www.eclipse.org/gmf/runtime/1.0.2/notation">
         </package>
         <constraints
               categories="org.bonitasoft.studio.validation.forms.constraints">
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.form.UniqueFormIdConstraint"
                  id="org.bonitasoft.studio.validation.constraint.Form"
                  lang="Java"
                  mode="Batch"
                  name="%FormWidgetUniqueId"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Form">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.form.ValidatorErrorMessageConstraint"
                  id="org.bonitasoft.studio.validation.constraint.ValidatorErrorMessage"
                  lang="Java"
                  mode="Live"
                  name="%ValidatorErrorMessage"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Validator">
                  <event
                        name="Set">
                     <feature
                           name="displayName">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="displayName">
                     </feature>
                  </event>
               </target>
               <target
                     class="Validable">
                  <event
                        name="Add">
                     <feature
                           name="validators">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="validators">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.form.UniqueWidgetIdConstraint"
                  id="org.bonitasoft.studio.validation.constraint.Widget"
                  lang="Java"
                  mode="Batch"
                  name="%UniqueWidgetId"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Widget">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.form.FormButtonConstraint"
                  id="org.bonitasoft.studio.validation.constraints.SubmitOrNextButtonInAForm"
                  lang="Java"
                  mode="Batch"
                  name="%SubmitOrNextButtonInAForm"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Form">
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.form.ValidatorTypeConstraint"
                  id="org.bonitasoft.studio.validation.constraint.ValidatorType"
                  lang="Java"
                  mode="Live"
                  name="%ValidatorType"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Validator">
                  <event
                        name="Set">
                     <feature
                           name="validatorClass">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="validatorClass">
                     </feature>
                  </event>
               </target>
               <target
                     class="Validable">
                  <event
                        name="Add">
                     <feature
                           name="validators">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="validators">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="org.bonitasoft.studio.validation.constraints.form.PageTemplateConstraint"
                  id="org.bonitasoft.studio.validation.constraint.form.pagetemplate"
                  lang="Java"
                  mode="Batch"
                  name="%FormPageTemplateValid"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Form">
               </target>
            </constraint>
         </constraints>
         <package
               namespaceUri="http://www.bonitasoft.org/ns/studio/expression">
         </package>
      </constraintProvider>
   </extension>
      <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="org.bonitasoft.studio.validation.bonitaContext">
         <selector
               class="org.bonitasoft.studio.validation.selector.BonitaClientSelector">
         </selector>
      </clientContext>
      <binding
            category="org.bonitasoft.studio.validation.constraints"
            context="org.bonitasoft.studio.validation.bonitaContext">
      </binding>
      <binding
            category="org.bonitasoft.studio.validation.forms.constraints"
            context="org.bonitasoft.studio.validation.bonitaContext">
      </binding>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.bonitasoft.studio.processusMenu?after=org.bonitasoft.studio.application.separator2">
            <command
                  commandId="org.bonitasoft.studio.validation.batchValidation"
                  style="push">
            </command>
             <separator
                  name="org.bonitasoft.studio.validation.separator2"
                  visible="true">
            </separator>
       </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
            <command
            defaultHandler="org.bonitasoft.studio.validation.BatchValidationHandler"
            id="org.bonitasoft.studio.validation.batchValidation"
            name="%batchValidationAction_Label">
      </command>
      </extension>
      <extension
            point="org.eclipse.ui.views">
         <view
               allowMultiple="false"
               category="org.bonitasoft.studio.application.bonita"
               class="org.bonitasoft.studio.validation.ui.view.ValidationViewPart"
               id="org.bonitasoft.studio.validation.view"
               name="%ValidationView"
               restorable="true">
         </view>
      </extension>
</plugin>
