<div class="text-{{ properties.alignment }}">
    <a ng-if="properties.allowHTML"
       ng-class="properties.buttonStyle !== 'none' ? 'btn btn-' + properties.buttonStyle : ''"
       ng-href="{{ctrl.getHref()}}" target="{{ctrl.getTarget()}}" ng-bind-html="properties.text | uiTranslate"></a>
    <a ng-if="!properties.allowHTML"
       ng-class="properties.buttonStyle !== 'none' ? 'btn btn-' + properties.buttonStyle : ''"
       ng-href="{{ctrl.getHref()}}" target="{{ctrl.getTarget()}}" ng-bind="properties.text | uiTranslate"></a>
</div>
