<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.bonitasoft.studio.edapt.migrators" name="org.bonitasoft.studio.edapt.migrators" schema="schema/org.bonitasoft.studio.edapt.migrators.exsd"/>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.bonitasoft.studio.migration.model.CustomMigrationFactoryImpl"
            uri="http://www.eclipse.org/emf/edapt/migration/0.3">
      </factory>
   </extension>
</plugin>
