<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.la.application.repository.ApplicationRepositoryStore">
      </repositoryStore>
   </extension>
   <extension
         id="org.bonitasoft.studio.la.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.bonitasoft.studio.development?after=org.bonitasoft.studio.menu.filter">
         <menu
               icon="icons/applicationStore.gif"
               label="%applicationMenuLabel">
            <command
                  commandId="org.bonitasoft.studio.la.new.command"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.la.open.command"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.la.delete.command"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.la.separator.importExport"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.la.export.command"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.la.import.command"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.la.separator.deploy"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.la.deploy.command"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.bonitasoft.studio.application.project.explorer.new?after=org.bonitasoft.studio.application.placeholder.application">
         <command
               commandId="org.bonitasoft.studio.la.new.command"
               id="org.bonitasoft.studio.la.new.popup.menu"
               label="%newApplicationMenu"
               mnemonic="A"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
	                  <count
	                        value="1">
	                  </count>
	                  <iterate>
	                    <instanceof
	                          value="org.eclipse.core.resources.IProject">
	                    </instanceof>
	                    <test
	                          property="org.bonitasoft.studio.application.isBonitaProject">
	                    </test>
	                 </iterate>
	               </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution
            id="la-xsd">
         <public
               publicId="http://documentation.bonitasoft.com/application-xml-schema/1.0"
               uri="schema/application.xsd">
         </public>
      </catalogContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.bonitasoft.studio.la.application.ui.ApplicationPerspectiveFactory"
            id="org.bonitasoft.studio.la.perspective"
            name="%ApplicationPerspective">
      </perspective>
   </extension>
   <extension
         id="menuLevelValidator"
         name="Application descriptor menu level validator"
         point="org.eclipse.wst.validation.validatorV2">
      <validator
            class="org.bonitasoft.studio.la.application.ui.validator.MenuLevelValidator">
         <include>
            <rules>
               <contentType
                     exactMatch="true"
                     id="org.bonitasoft.studio.la.applicationDescriptor">
               </contentType>
            </rules>
         </include>
      </validator>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="xml"
            id="org.bonitasoft.studio.la.applicationDescriptor"
            name="Application Descriptor"
            priority="normal">
         <describer
               class="org.bonitasoft.studio.la.application.core.ApplicationContentDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bonitasoft.studio.la.application.handler.ImportApplicationhandler"
            commandId="org.bonitasoft.studio.application.import">
         <activeWhen>
         	<with
                  variable="activeMenuSelection">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <test
                        property="org.bonitasoft.studio.la.isApplicationFolder">
                  </test>
               </iterate>
            </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.la.application.handler.ExportApplicationHandler"
            commandId="org.bonitasoft.studio.application.export">
         <activeWhen>
         	<with
                  variable="activeMenuSelection">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <test
                        property="org.bonitasoft.studio.la.isApplicationFolder">
                  </test>
               </iterate>
            </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.la.application.handler.ExportSingleApplicationHandler"
            commandId="org.bonitasoft.studio.application.export">
         <activeWhen>
         	<with
                  variable="activeMenuSelection">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <test
                        property="org.bonitasoft.studio.la.isApplicationFile">
                  </test>
               </iterate>
            </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.la.application.handler.NewApplicationHandler"
            commandId="org.bonitasoft.studio.application.new">
         <activeWhen>
         	<with
                  variable="activeMenuSelection">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <test
                        property="org.bonitasoft.studio.la.isApplicationFolder">
                  </test>
               </iterate>
            </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.bonitasoft.studio.la.application.ui.ApplicationPropertyTester"
            id="org.bonitasoft.studio.la.applicationPropertyTester"
            namespace="org.bonitasoft.studio.la"
            properties="isApplicationFolder,isApplicationFile"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.bonitasoft.studio.la.new.command"
            icon="icons/applicationStore.gif">
      </image>
   </extension>
</plugin>
