<canvas ng-if="!environment"
        class="chart-base"
        chart-type="properties.type"
        chart-data="data"
        chart-labels="labels"
        chart-legend="{{ !properties.legendHidden }}"
        chart-series="setLabels"
        chart-colours="colors"
        chart-options="options">
</canvas>
<svg ng-if="environment" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 20">
    <path d="M20.53 20H15v-5.045h5.53V20zm7.21-7.44h-5.584V20h5.584v-7.44zm7.156-3.262h-5.584V20h5.584V9.298zM35 0l-4.525.736.996.946-6.805 6.148-2.472-2.196-6.92 6.48 1.702 1.575 5.147-4.84 2.55 2.27 8.495-7.798.967.918L35 0z" fill="#ccc"/>
</svg>
