<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
            point="org.eclipse.ui.editors">
         <editor
               class="org.bonitasoft.studio.ui.editors.FilteredGroovyEditor"
               contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
               default="true"
               extensions="groovy"
               icon="icons/groovy_file.gif"
               id="org.bonitasoft.studio.rest.api.extension.groovyEditor"
               name="%groovyEditor"
               symbolicFontName="org.eclipse.jdt.ui.editors.textfont">
            <contentTypeBinding
                  contentTypeId="org.eclipse.jdt.groovy.core.groovySource">
            </contentTypeBinding>
         </editor>
         <editor
               class="org.bonitasoft.studio.ui.editors.FilteredPropertiesFileEditor"
               contributorClass="org.eclipse.jdt.internal.ui.propertiesfileeditor.PropertiesFileEditorActionContributor"
               default="true"
               icon="icons/file_obj.gif"
               id="org.bonitasoft.studio.rest.api.extension.PropertiesFileEditor"
               name="%propertiesFileEditor"
               symbolicFontName="org.eclipse.jdt.ui.PropertiesFileEditor.textfont">
            <contentTypeBinding
                  contentTypeId="org.eclipse.jdt.core.javaProperties">
            </contentTypeBinding>
         </editor>
         <editor
               class="org.bonitasoft.studio.ui.editors.FilteredXMLEditor"
               contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
               default="true"
               icon="icons/xmldoc.gif"
               id="org.bonitasoft.studio.rest.api.extension.XMLMultiPageEditorPart"
               name="%xmlEditor"
               symbolicFontName="org.eclipse.wst.sse.ui.textfont">
            <contentTypeBinding
                  contentTypeId="org.eclipse.core.runtime.xml">
            </contentTypeBinding>
            <contentTypeBinding
                  contentTypeId="org.eclipse.wst.xml.core.xmlsource">
            </contentTypeBinding>
         </editor>
      </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.bonitasoft.studio.ui.editors.DefaultEditorAssociationContribution">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.statusHandlers">
      <statusHandler
            class="org.bonitasoft.studio.ui.handler.BonitaStatusHandler"
            id="org.bonitasoft.studio.ui.statusHandler">
      </statusHandler>
      <statusHandlerProductBinding
            handlerId="org.bonitasoft.studio.ui.statusHandler"
            productId="org.bonitasoft.studio.product">
      </statusHandlerProductBinding>
      <statusHandlerProductBinding
            handlerId="org.bonitasoft.studio.ui.statusHandler"
            productId="org.bonitasoft.studioEx.product">
      </statusHandlerProductBinding>
   </extension>
</plugin>
