<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.bonitasoft.studio.diagram.form.custom.perspective.PerspectiveFormsFactory"
            id="org.bonitasoft.studio.common.perspective.form"
            name="Form perspective">
      </perspective>
      <perspective
            class="org.bonitasoft.studio.diagram.form.custom.perspective.PerspectiveMigrationFormsFactory"
            id="org.bonitasoft.studio.common.perspective.form.migration"
            name="Migration Form Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider
            class="org.bonitasoft.studio.diagram.form.custom.providers.FormLayoutProvider">
         <Priority
               name="Highest">
         </Priority>
      </layoutProvider>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.bonitasoft.studio.diagram.form"
            labelProvider="org.bonitasoft.studio.diagram.form.custom.providers.FormPropertyLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.bonitasoft.studio.diagram.form.custom.providers.CustomFormEditPartProvider">
         <Priority
               name="Medium">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.bonitasoft.studio.diagram.form.custom.part.CustomFormDiagramEditor"
            contributorClass="org.bonitasoft.studio.model.process.diagram.form.part.ProcessDiagramActionBarContributor"
            default="true"
            id="org.bonitasoft.studio.model.process.diagram.form.part.CustomFormDiagramEditorID"
            matchingStrategy="org.bonitasoft.studio.model.process.diagram.form.part.ProcessMatchingStrategy"
            name="Custom Form Diagram Editing">
      </editor>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="org.bonitasoft.studio.diagram.form.custom.providers.CustomEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
      </editpolicyProvider>
   </extension>
 <extension
       point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
    <GlobalActionHandlerProvider
          class="org.bonitasoft.studio.diagram.form.custom.clipboard.CustomGlobalActionHandlerProvider"
          id="org.bonitasoft.studio.diagram.form.custom.BonitaGlobalActionHandlerProvider">
       <Priority
             name="Medium">
       </Priority>
       <ViewId
             id="org.bonitasoft.studio.diagram.form.custom.part.CustomFormDiagram">
          <ElementType
                class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
             <GlobalActionId
                   actionId="copy">
             </GlobalActionId>
             <GlobalActionId
                   actionId="cut">
             </GlobalActionId>
             <GlobalActionId
                   actionId="paste">
             </GlobalActionId>
             <GlobalActionId
                   actionId="delete">
             </GlobalActionId>
          </ElementType>
       </ViewId>
    </GlobalActionHandlerProvider>
 </extension>
 <extension
       point="org.eclipse.ui.activities">
 </extension>
 <extension
       point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
    <paletteProvider
          class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
       <Priority
             name="Medium">
       </Priority>
       <contribution
             factoryClass="org.bonitasoft.studio.model.process.diagram.form.part.ProcessPaletteFactory">
          <predefinedEntry
                id="createDefault1Group/createGroup19CreationTool"
                remove="true">
          </predefinedEntry>
       </contribution>
       <editor
             id="org.bonitasoft.studio.model.process.diagram.form.part.FormDiagramEditorID">
       </editor>
    </paletteProvider>
 </extension>
 <extension
       point="org.eclipse.gmf.runtime.common.ui.services.editorProviders">
    <EditorProvider
          class="org.bonitasoft.studio.diagram.form.custom.providers.DiagramEditorProvider">
       <Priority
             name="Medium">
       </Priority>
    </EditorProvider>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="org.bonitasoft.studio.diagram.form.custom.part.CustomFormDiagramEditor"
          contributorClass="org.bonitasoft.studio.model.process.diagram.form.part.ProcessDiagramActionBarContributor"
          default="true"
          extensions="form"
          icon="icons/obj16/FormDiagramFile.gif"
          id="org.bonitasoft.studio.diagram.form.custom.part.CustomFormDiagram"
          matchingStrategy="org.bonitasoft.studio.model.process.diagram.form.part.ProcessMatchingStrategy"
          name="%formCustomEditorName">
    </editor>
 </extension>
  <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="false"
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider">
         <Priority
               name="Medium">
         </Priority>
         <popupContribution
               class="org.bonitasoft.studio.model.process.diagram.form.part.DiagramEditorContextMenuProvider">
            <popupPredefinedItem
                  id="formatMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="diagramMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="diagramAddMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="navigateMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="fileMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="filtersMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="viewMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="arrangeMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="selectMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="selectMenuToolbar"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="alignMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="compartmentMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="connectorLabelMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="routerMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="showInMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="addNoteAction"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="deleteFromDiagramAction"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="zoomContributionItem"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="addNoteLinkAction"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="arrangeAllAction"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="editMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="showPropertiesViewAction"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="properties"
                  remove="true">
            </popupPredefinedItem>
         </popupContribution>
         <partContribution
               class="org.bonitasoft.studio.model.process.diagram.form.part.FormDiagramEditor">
            <partPredefinedItem
                  id="zoomContributionItem"
                  removeFromMenubar="true"
                  removeFromToolbar="true">
            </partPredefinedItem>
         </partContribution>
      </contributionItemProvider>
   </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.bonitasoft.studio.diagram.form.custom.handlers.DeleteHandler"
           commandId="org.eclipse.ui.edit.delete">
        <activeWhen>
           <reference
                 definitionId="org.bonitasoft.studio.diagram.form.custom.definition.formWithASelection">
           </reference>
        </activeWhen>
     </handler>
     <handler
           class="org.bonitasoft.studio.common.handlers.CopyHandler"
           commandId="org.eclipse.ui.edit.copy">
        <activeWhen>
           <reference
                 definitionId="org.bonitasoft.studio.diagram.form.custom.definition.formWithASelection">
           </reference>
        </activeWhen>
     </handler>
     <handler
           class="org.bonitasoft.studio.common.handlers.CutHandler"
           commandId="org.eclipse.ui.edit.cut">
        <activeWhen>
           <reference
                 definitionId="org.bonitasoft.studio.diagram.form.custom.definition.formWithASelection">
           </reference>
        </activeWhen>
     </handler>
     <handler
           class="org.bonitasoft.studio.common.handlers.DefaultPasteHandler"
           commandId="org.eclipse.ui.edit.paste">
        <activeWhen>
           <reference
                 definitionId="org.bonitasoft.studio.diagram.form.custom.definition.formWithASelection">
           </reference>
        </activeWhen>
     </handler>
     <handler
           class="org.bonitasoft.studio.common.handlers.SaveAsImageHandler"
           commandId="org.bonitasoft.studio.diagram.custom.saveasimage">
        <activeWhen>
           <reference
                 definitionId="org.bonitasoft.studio.diagram.form.custom.definition.formWithASelection">
           </reference>
        </activeWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="org.bonitasoft.studio.diagram.form.custom.definition.formWithASelection">
        <and>
           <with
                 variable="activeEditor">
              <instanceof
                    value="org.bonitasoft.studio.model.process.diagram.form.part.FormDiagramEditor">
              </instanceof>
           </with>
           <with
                 variable="selection">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                 </instanceof>
              </iterate>
           </with>
        </and>
     </definition>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           class="org.bonitasoft.studio.diagram.form.custom.views.FormPaletteView"
           icon="icons/FormDiagramFile.gif"
           id="org.bonitasoft.studio.form.palette_view"
           name="%formPalette"
           restorable="true">
     </view>
  </extension>
</plugin>
