<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.rest.api.extension.core.repository.RestAPIExtensionRepositoryStore">
      </repositoryStore>
      <repositoryStore
            class="org.bonitasoft.studio.theme.ThemeRepositoryStore">
      </repositoryStore>
   </extension>
   <extension
         id="org.bonitasoft.studio.rest.api.extension.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.bonitasoft.studio.development?after=org.bonitasoft.studio.menu.filter">
         <menu
               icon="icons/rest_api_icon7_16x16.png"
               label="%RestAPIExtensionMenuLabel">
            <command
                  commandId="org.bonitasoft.studio.rest.api.extension.openCommand"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.rest.api.extension.deleteCommand"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.rest.api.extension.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.rest.api.extension.editPermissionCommand"
                  style="push">
            </command>
             <separator
                  name="org.bonitasoft.studio.rest.api.extension.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.rest.api.extension.buildCommand"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.rest.api.extension.deployCommand"
                  style="push">
            </command>
         </menu>
         <menu
               icon="icons/theme.png"
               label="%ThemeMenuLabel">
            <command
                  commandId="org.bonitasoft.studio.theme.deleteCommand"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.theme.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.theme.buildCommand"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.theme.deployCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.bonitasoft.studio.rest.api.extension.ui.perspective.RestAPIExtensionPerspectiveFactory"
            id="org.bonitasoft.studio.rest.api.extension.perspective"
            name="%restAPIExtensionDevelopment">
      </perspective>
     </extension>
	 <extension
        id="pagePropertyBuilder"
        name="Rest API page properties builder"
        point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true"
            supportsConfigurations="true">
         <run
               class="org.bonitasoft.studio.rest.api.extension.core.builder.RestAPIBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="validation.pagePropertyMarker"
         name="%markerName"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="validation.pomMarker"
         name="%markerName"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="resolution.pomMarker"
         name="pom dependency quick fix"
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.bonitasoft.studio.rest.api.extension.core.builder.resolution.PomDependencyResolutionGenerator"
            markerType="org.bonitasoft.studio.rest.api.extension.validation.pomMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.bonitasoft.studio.rest.api.extension.ui.view.MavenConsoleView"
            icon="icons/console.png"
            id="org.bonitasoft.studio.rest.api.extension.mavenConsole"
            name="%console"
            restorable="true">
      </view>
      <view
            class="org.bonitasoft.studio.rest.api.extension.ui.view.OnlySelectedElementProblemView"
            icon="icons/problems_view.png"
            id="org.bonitasoft.studio.rest.api.extension.problemView"
            name="%problemViewName"
            restorable="true">
      </view>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="popup:org.bonitasoft.studio.application.project.explorer.new?after=additions">
            <command
                  commandId="org.bonitasoft.studio.rest.api.extension.newGroovyClass"
                  icon="icons/newgroovyclass_wiz.gif"
                  style="push">
               <visibleWhen
                  checkEnabled="false">
	               <with
	                     variable="activeMenuSelection">
	                  <and>
	                     <count
	                           value="1">
	                     </count>
	                        <iterate>
                            <test
                                  args="groovy"
                                  property="org.bonitasoft.studio.rest.api.extension.propertyTester.isRestApiElement">
                            </test>
	                        </iterate>
	                  </and>
	               </with>
	            </visibleWhen>
            </command>
            <command
                  commandId="org.bonitasoft.studio.rest.api.extension.newJavaClass"
                  icon="icons/newclass_wiz.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <test
                                 args="java"
                                 property="org.bonitasoft.studio.rest.api.extension.propertyTester.isRestApiElement">
                           </test>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bonitasoft.studio.rest.api.extension.newPackage"
                  icon="icons/newpack_wiz.gif"
                  style="push">
               <visibleWhen
                  checkEnabled="false">
	               <with
	                     variable="activeMenuSelection">
	                  <and>
	                     <count
	                           value="1">
	                     </count>
	                     <iterate>
                           <test
                                 property="org.bonitasoft.studio.rest.api.extension.propertyTester.isRestApiElement">
                           </test>
                         </iterate>
	                  </and>
	               </with>
	            </visibleWhen>
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:org.bonitasoft.studio.application.project.explorer?after=group.build">
            <command
                  commandId="org.bonitasoft.studio.rest.api.extension.quickBuildCommand"
                  style="push">
                  <visibleWhen
                  checkEnabled="false">
	               <with
	                     variable="activeMenuSelection">
	                  <and>
	                     <count
	                           value="1">
	                     </count>
	                     <iterate>
                         <or>
                            <test
                                  property="org.bonitasoft.studio.rest.api.extension.propertyTester.isRestApiElement">
                            </test>
                            <test
                                  property="org.bonitasoft.studio.rest.api.extension.propertyTester.isThemeElement">
                            </test>
                         </or>
                         </iterate>
	                  </and>
	               </with>
	            </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.jdt.junit.junitShortcut.run"
                  style="push">
               <visibleWhen
                  checkEnabled="false">
	               <with
	                     variable="activeMenuSelection">
	                  <and>
	                     <count
	                           value="1">
	                     </count>
	                     <iterate>
                           <test
                                 property="org.bonitasoft.studio.rest.api.extension.propertyTester.isRestApiElement">
                           </test>
                         </iterate>
	                  </and>
	               </with>
	            </visibleWhen>
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:org.bonitasoft.studio.application.project.explorer?after=additions">
            <command
                  commandId="org.bonitasoft.studio.rest.api.extension.editPermissionCommand"
                  style="push">
               <visibleWhen
                  checkEnabled="false">
	               <with
	                     variable="activeMenuSelection">
	                  <and>
	                     <count
	                           value="1">
	                     </count>
	                     <iterate>
                           <test
                                 property="org.bonitasoft.studio.rest.api.extension.propertyTester.isRestApiFolder">
                           </test>
                         </iterate>
	                  </and>
	               </with>
	            </visibleWhen>
            </command>
            <command
                  commandId="org.bonitasoft.studio.rest.api.extension.convertToProject"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <test
                                 property="org.bonitasoft.studio.rest.api.extension.propertyTester.isNonProjectRestApiFolder">
                           </test>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
         </menuContribution>
      </extension>
      <extension
            point="org.bonitasoft.studio.importer.bos.validator">
         <bosImporterValidator
               class="org.bonitasoft.studio.rest.api.extension.core.validation.RestAPIExtensionBosValidator">
         </bosImporterValidator>
      </extension>
      <extension
            point="org.eclipse.ui.navigator.navigatorContent">
         <actionProvider
               class="org.bonitasoft.studio.rest.api.extension.action.RestApiActionProvider"
               id="org.bonitasoft.studio.restApi.actionProvider">
            <enablement></enablement>
         </actionProvider>
      </extension>
      <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="org.bonitasoft.studio.maven.ProjectElementPropertyTester"
               id="org.bonitasoft.studio.rest.api.extension.propertyTester"
               namespace="org.bonitasoft.studio.rest.api.extension.propertyTester"
               properties="isRestApiElement,isRestApiFolder,isRestApiProject,isNonProjectRestApiFolder,isThemeElement,isThemeFolder"
               type="org.eclipse.core.runtime.IAdaptable">
         </propertyTester>
      </extension>
      <extension
            point="org.eclipse.ui.handlers">
         <handler
               class="org.bonitasoft.studio.rest.api.extension.ui.handler.ExportRestApiHandler"
               commandId="org.bonitasoft.studio.application.export">
            <activeWhen>
            	<with
                  variable="activeMenuSelection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.bonitasoft.studio.rest.api.extension.propertyTester.isRestApiProject">
                     </test>
                  </iterate>
               </and>
               </with>
            </activeWhen>
         </handler>
         <handler
               class="org.bonitasoft.studio.rest.api.extension.ui.handler.ConvertToRestAPIExtensionProjectHandler"
               commandId="org.bonitasoft.studio.rest.api.extension.convertToProject">
            <activeWhen>
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.core.runtime.IAdaptable">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </activeWhen>
         </handler>
      </extension>
      <extension
            point="org.eclipse.ui.commandImages">
         <image
               commandId="org.bonitasoft.studio.rest.api.extension.newCommand"
               icon="icons/rest_api_icon7_16x16.png">
         </image>
         <image
               commandId="org.bonitasoft.studio.theme.newCommand"
               icon="icons/theme.png">
         </image>
      </extension>
      <extension
            point="org.eclipse.ui.navigator.viewer">
         <viewerActionBinding
               viewerId="org.bonitasoft.studio.application.project.explorer">
            <includes>
               <actionExtension
                     pattern="org.bonitasoft.studio.restApi.actionProvider">
               </actionExtension>
            </includes>
         </viewerActionBinding>
      </extension>
      <extension
            id="themePagePropertyBuilder"
            name="Theme page properties builder"
            point="org.eclipse.core.resources.builders">
         <builder
               callOnEmptyDelta="true"
               hasNature="true"
               isConfigurable="true"
               supportsConfigurations="true">
            <run
                  class="org.bonitasoft.studio.theme.builder.ThemeProjectBuilder">
            </run></builder>
      </extension>
      <extension
            point="org.eclipse.core.contenttype.contentTypes">
         <content-type
               base-type="org.eclipse.wst.css.core.csssource"
               file-extensions="scss,sass"
               id="org.bonitasoft.studio.theme.scssresource"
               name="SASS"
               priority="normal">
         </content-type>
      </extension>
      <extension
            point="org.eclipse.team.core.ignore">
         <ignore
               enabled="true"
               pattern="*/node/*">
         </ignore>
         <ignore
               enabled="true"
               pattern="*/node_modules/*">
         </ignore>
      </extension>

</plugin>
