<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright (C) 2009 BonitaSoft S.A.
 * BonitaSoft, 31 rue Gustave Eiffel - 38000 Grenoble
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 2.0 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
 -->
<?eclipse version="3.4"?>
<plugin>
   
   <extension-point id="PropertiesView" name="Properties View Contribution" schema="schema/PropertiesView.exsd"/>
   
   <extension-point id="prestartup" name="Actions to hoot at the preStartup of the workbench" schema="schema/prestartup.exsd"/>
   <extension-point id="preshutdown" name="Actions to hoot at the preShutdown of the workbench" schema="schema/preshutdown.exsd"/>
   <extension-point id="postImport" name="Actions to hook after Import" schema="schema/postImport.exsd"/>
   <extension-point id="preImport" name="Actions to hook before Import" schema="schema/preImport.exsd"/>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            visible="true">
         <run
               class="org.bonitasoft.studio.application.BonitaStudioApplication">
         </run>
      </application>
   </extension>
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.bonitasoft.studio.processusMenu"
               label="%fileMenu_Label">
            <command
                  commandId="org.bonitasoft.studio.diagram.command.newDiagram"
                  disabledIcon="icons/menuIcons/new_disabled.png"
                  hoverIcon="icons/menuIcons/new_hover.png"
                  icon="icons/menuIcons/new.png"
                  label="%newProcessAction_Label"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.diagram.command.openDiagram"
                  disabledIcon="icons/menuIcons/open_disabled.png"
                  hoverIcon="icons/menuIcons/open_hover.png"
                  icon="icons/menuIcons/open.png"
                  label="%openProcess_label"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.diagram.command.deleteDiagram"
                  disabledIcon="icons/menuIcons/open_disabled.png"
                  hoverIcon="icons/menuIcons/open_hover.png"
                  icon="icons/menuIcons/open.png"
                  label="%deleteProcess_label"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.application.command.rename"
                  label="%renameLabel"
                  style="push">
            </command>
            <menu
                  icon="icons/menuIcons/recently.png"
                  label="%RecentlyModified">
               <dynamic
                     class="org.bonitasoft.studio.application.actions.ProcessListContribution"
                     id="org.bonitasoft.studio.application.openRecently">
               </dynamic>
            </menu>
            <command
                  commandId="org.eclipse.ui.file.save"
                  disabledIcon="icons/menuIcons/save_disabled.png"
                  hoverIcon="icons/menuIcons/save_hover.png"
                  icon="icons/menuIcons/save.png"
                  label="%saveProcess_label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  disabledIcon="icons/menuIcons/save_disabled.png"
                  hoverIcon="icons/menuIcons/save_hover.png"
                  icon="icons/menuIcons/save_all.png"
                  label="%saveAll_label"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.application.command.saveAs"
                  disabledIcon="icons/duplicate_disabled.png"
                  icon="icons/duplicate.png"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.application.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.application.importCommand"
                  disabledIcon="icons/menuIcons/import_disabled.png"
                  hoverIcon="icons/menuIcons/import_hover.png"
                  icon="icons/menuIcons/import.png"
                  id="org.bonitasoft.studio.menu.import"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.application.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.application.printCommand"
                  disabledIcon="icons/menuIcons/print_disabled.png"
                  hoverIcon="icons/menuIcons/print_hover.png"
                  icon="icons/menuIcons/print.png"
                  label="%printLabel"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.application.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  icon="icons/menuIcons/close.png"
                  label="%close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  disabledIcon="icons/menuIcons/close_all_disabled.png"
                  icon="icons/menuIcons/close_all.png"
                  label="%closeAll"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.application.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/menuIcons/exit.png"
                  label="%exitAction_label"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="isBonitaPerspectiveActive">
               </reference>
            </visibleWhen>
         </menu>
         <menu
               id="org.bonitasoft.studio.menu.edit"
               label="%editMenu_label">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/find.png"
                  label="%findLabel"
                  mnemonic="F"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.bonitasoft.studio.views.overview.tree">
               </parameter>
            </command>
             <separator
                  name="org.bonitasoft.studio.application.separator20"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  disabledIcon="icons/undo_disabled.png"
                  icon="icons/undo.png"
                  label="%undoLabel"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  disabledIcon="icons/redo_disabled.png"
                  icon="icons/redo.png"
                  label="%redoLabel"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.application.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  disabledIcon="icons/menuIcons/copy_disabled.png"
                  hoverIcon="icons/menuIcons/copy_hover.png"
                  icon="icons/menuIcons/copy.png"
                  label="%copyLabel"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  disabledIcon="icons/menuIcons/paste_disabled.png"
                  hoverIcon="icons/menuIcons/paste_hover.png"
                  icon="icons/menuIcons/paste.png"
                  label="%pasteLabel"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.application.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  disabledIcon="icons/menuIcons/preferences_disabled.png"
                  icon="icons/menuIcons/preferences.png"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="isBonitaPerspectiveActive">
               </reference>
            </visibleWhen>
         </menu>
         
         <menu
               id="org.bonitasoft.studio.menu.view"
               label="%viewMenu_label">
            <menu
                  id="org.bonitasoft.studio.menu.view.coolbar"
                  label="%CoolBarLabel">
               <command
                     commandId="org.bonitasoft.studio.application.smallCoolbar"
                     label="%small">
               </command>
               <command
                     commandId="org.bonitasoft.studio.application.normalCoolbar"
                     label="%normal">
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/show_view.png"
                  label="%showOverview_label"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.bonitasoft.studio.views.overview">
               </parameter>
            </command>
            <command
                  commandId="org.bonitasoft.studio.application.resetWindowCommand"
                  disabledIcon="icons/reset_view_disabled.png"
                  icon="icons/reset_view.png"
                  label="%resetPerspective_label"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.application.fullscreen"
                  icon="icons/full_screen.png"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="isBonitaPerspectiveActive">
               </reference>
            </visibleWhen>
         </menu>
        
         <!--menu
               label="%selectProfile">
            <command
                  commandId="org.bonitasoft.studio.application.switchToAnalyst"
                  icon="icons/bonitasoft-icon-16-16-transparent.png"
                  label="%analystMode">
            </command>
            <command
                  commandId="org.bonitasoft.studio.application.commands.switchToDeveloper"
                  icon="icons/javaPerspective.gif"
                  label="%developerMode">
            </command>
         </menu-->
         <menu
               id="org.bonitasoft.studio.menu.help"
               label="%help_label">
            <command
                  commandId="org.bonitasoft.studio.application.openIntroCommand"
                  hoverIcon="icons/menuIcons/bonita_hover.png"
                  icon="icons/bonitasoft-icon-16-16-transparent.png"
                  id="org.bonitasoft.studio.helpMenu.welcomeMenu"
                  label="%openWelcomePage_label"
                  style="push">
            </command>

            <command
                  commandId="org.bonitasoft.studio.application.showHelp"
                  disabledIcon="icons/menuIcons/help_disabled.png"
                  hoverIcon="icons/menuIcons/help_hover.png"
                  icon="icons/menuIcons/help.png"
                  label="%online_documentation"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.application.help.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.application.openLog"
                  icon="icons/log.png"
                  label="%openLog_label"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.application.openEngineLog"
                  icon="icons/log.png"
                  label="%openEngineLog_label"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.application.help.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/menuIcons/about.png"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="isBonitaPerspectiveActive">
               </reference>
            </visibleWhen>
            </menu>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.SaveProcessAsCommand"
            id="org.bonitasoft.studio.application.command.saveAs"
            name="%saveAs_label">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.OpenIntroCommandHandler"
            id="org.bonitasoft.studio.application.openIntroCommand"
            name="%openWelcomePage_label">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.ResetPerspectiveCommand"
            id="org.bonitasoft.studio.application.resetWindowCommand"
            name="%resetPerspective_label">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.ShowHelpCommand"
            id="org.bonitasoft.studio.application.showHelp"
            name="%showHelp_label">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.OpenConsoleCommand"
            id="org.bonitasoft.studio.application.openConsole"
            name="%openConsoleActionLabel">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.OpenApplicationCommand"
            id="org.bonitasoft.studio.application.openApplication"
            name="%openAppplicationActionLabel">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.OpenLogCommand"
            id="org.bonitasoft.studio.application.openLog"
            name="%openLog_commandLabel">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.PrintCommandHandler"
            id="org.bonitasoft.studio.application.printCommand"
            name="%printLabel">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.OpenEngineLogCommand"
            id="org.bonitasoft.studio.application.openEngineLog"
            name="%openEngineLog_commandLabel">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.RefreshConnectorHandler"
            id="org.bonitasoft.studio.application.refreshconnectorcommand"
            name="%refreshConnectors_commandLabel">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.SwitchPaletteMode"
            id="org.bonitasoft.studio.application.switchPalette"
            name="switch palette">
         <commandParameter
               id="org.bonitasoft.studio.application.switch.advanced"
               name="advanced"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.SwitchPaletteMode"
            id="org.bonitasoft.studio.application.paletteSimple"
            name="switch palette to simple">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.SwitchPaletteMode"
            id="org.bonitasoft.studio.application.paletteAdvanced"
            name="switch palette to advanced">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.coolbar.SmallCoolBarHandler"
            id="org.bonitasoft.studio.application.smallCoolbar"
            name="%small">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.coolbar.NormalCoolBarHandler"
            id="org.bonitasoft.studio.application.normalCoolbar"
            name="%normal">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.FullscreenHandler"
            id="org.bonitasoft.studio.application.fullscreen"
            name="%fullscreen">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.actions.RenameDiagramCommandHandler"
            id="org.bonitasoft.studio.application.command.rename"
            name="Rename Command">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.application.handler.ImportArtifactsFromZipHandler"
            id="org.bonitasoft.studio.repository.importArtifacts"
            name="import artifacts">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.bonitasoft.studio.application.bonita"
            class="org.bonitasoft.studio.application.views.BonitaContentOutlineView"
            icon="icons/overview.png"
            id="org.bonitasoft.studio.views.overview"
            name="%overviewViewName"
            restorable="true">
      </view>
      <view
            category="org.bonitasoft.studio.application.bonita"
            class="org.bonitasoft.studio.application.views.process.BonitaApplicationPropertiesView"
            icon="icons/menuIcons/form.png"
            id="org.bonitasoft.studio.views.properties.application"
            name="%Application"
            restorable="true">
      </view>
      <view
            category="org.bonitasoft.studio.application.bonita"
            class="org.bonitasoft.studio.application.views.process.BonitaGeneralProcessPropertiesView"
            icon="icons/details.png"
            id="org.bonitasoft.studio.views.properties.process.general"
            name="%General_process"
            restorable="true">
      </view>
      <view
            category="org.bonitasoft.studio.application.bonita"
            class="org.bonitasoft.studio.application.views.form.BonitaGeneralFormPropertiesView"
            icon="icons/details.png"
            id="org.bonitasoft.studio.views.properties.form.general"
            name="%General_form"
            restorable="true">
      </view>
      <view
            category="org.bonitasoft.studio.application.bonita"
            class="org.bonitasoft.studio.application.views.form.BonitaAppearancePropertiesView"
            icon="icons/appearanceView.png"
            id="org.bonitasoft.studio.views.properties.form.appearance"
            name="%Appearance"
            restorable="true">
      </view>
      <category
            id="org.bonitasoft.studio.application.bonita"
            name="Bonita">
      </category>
      <view
            category="org.bonitasoft.studio.application.bonita"
            class="org.bonitasoft.studio.application.views.process.BonitaAppearencePropertiesView"
            icon="icons/appearanceView.png"
            id="org.bonitasoft.studio.views.properties.process.appearance"
            name="%Appearance"
            restorable="true">
      </view>
      <view
            category="org.bonitasoft.studio.application.bonita"
            class="org.bonitasoft.studio.application.views.BonitaContentOutlineTreeView"
            icon="icons/overview.png"
            id="org.bonitasoft.studio.views.overview.tree"
            name="%TreeOverView"
            restorable="true">
      </view>
      <view
            category="org.bonitasoft.studio.application.bonita"
            class="org.bonitasoft.studio.application.views.process.BonitaDataPropertiesView"
            icon="icons/Picto_Studio_Data_16x16.png"
            id="org.bonitasoft.studio.views.properties.process.data"
            name="%Data"
            restorable="true">
      </view>
      <view
            category="org.bonitasoft.studio.application.bonita"
            class="org.bonitasoft.studio.application.views.process.BonitaExecutionPropertiesView"
            icon="icons/Execution-D.png"
            id="org.bonitasoft.studio.views.properties.process.execution"
            name="%Execution"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="searchActivity to remove from studio"
            id="org.bonitasoft.studio.application.searchActivity"
            name="SearchActivity">
      </activity>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.application.searchActivity"
            pattern="org.eclipse.search.*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bonitasoft.studio.application.actions.SaveCommandHandler"
            commandId="org.eclipse.ui.file.save">
         <activeWhen>
            <reference
                  definitionId="isBonitaPerspectiveActive">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.application.actions.RefreshHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.editors.text.TextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.application.actions.AboutDialogHandler"
            commandId="org.eclipse.ui.help.aboutAction">
          <activeWhen>
             <and>
                <reference
                      definitionId="isABonitaProduct">
                </reference>
                <with
                      variable="activeContexts">
                   <iterate
                         ifEmpty="true"
                         operator="or">
                      <equals
                            value="org.eclipse.ui.contexts.window">
                      </equals>
                   </iterate>
                </with>
             </and>
        </activeWhen>
    </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="isActiveEditorAnInstanceOfBonitaEditor">
         <or>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.bonitasoft.studio.model.process.diagram.part.ProcessDiagramEditor">
               </instanceof>
            </with>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.bonitasoft.studio.model.process.diagram.form.part.FormDiagramEditor">
               </instanceof>
            </with>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.bonitasoft.studio.themes.editors.themeMultiPageEditor">
               </instanceof>
            </with>
         </or>
      </definition>
      <definition
            id="isABonitaProduct">
         <or>
            <with
                  variable="org.eclipse.core.runtime.Platform">
               <test
                     property="org.eclipse.core.runtime.product"
                     value="org.bonitasoft.studio.product">
               </test>
            </with>
         </or>
      </definition>
      <definition
            id="isBonitaPerspectiveActive">
            <or>
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="org.bonitasoft.studio.common.perspective.form">
            </equals>
         </with>
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="org.bonitasoft.studio.birt.ui.perspective.birt">
            </equals>
         </with>
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="org.bonitasoft.studio.perspective.process">
            </equals>
         </with>
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="org.bonitasoft.studio.perspective.java">
            </equals>
         </with>
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="org.bonitasoft.studio.perspective.textEditor">
            </equals>
         </with>
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="org.bonitasoft.studio.perspective.theme">
            </equals>
         </with>
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="org.bonitasoft.studio.common.perspective.form.migration">
            </equals>
         </with>
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="org.bonitasoft.studio.migration.perspective.process">
            </equals>
         </with>
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="org.bonitasoft.studio.rest.api.extension.perspective">
            </equals>
         </with>
         </or>
      </definition>
      <definition
            id="isActiveEditorAnInstanceOfProcessEditor">
         <with
               variable="activeEditor">
            <instanceof
                  value="org.bonitasoft.studio.model.process.diagram.part.ProcessDiagramEditor">
            </instanceof>
         </with>
      </definition>
   </extension>

   <extension
         point="org.eclipse.ui.propertiesView">
      <excludeSources
            id="org.bonitasoft.studio.views.properties.application">
      </excludeSources>
      <excludeSources
            id="org.bonitasoft.studio.views.properties.form.general">
      </excludeSources>
      <excludeSources
            id="org.bonitasoft.studio.views.properties.appearance">
      </excludeSources>
      <excludeSources
            id="org.bonitasoft.studio.views.overview">
      </excludeSources>
   </extension>
   <extension
         id="org.bonitasoft.studio.application.InitializerApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            visible="true">
         <run
               class="org.bonitasoft.studio.application.BonitaStudioInitializerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="org.bonitasoft.studio.application.WorkspaceRecovery"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            visible="true">
         <run
               class="org.bonitasoft.studio.application.RecoverWorkspaceApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandlerProductBinding
            productId="org.bonitasoft.studio.product"
            splashId="org.bonitasoft.studio.application.bos.splashHandler">
      </splashHandlerProductBinding>
      <splashHandler
            class="org.bonitasoft.studio.application.splash.BOSSplashHandler"
            id="org.bonitasoft.studio.application.bos.splashHandler">
      </splashHandler>
   </extension>
   <extension
         point="org.bonitasoft.studio.common.poststartup">
      <contribution
            class="org.bonitasoft.studio.application.contribution.StudioPropertiesContributor"
            priority="0">
      </contribution>
      <contribution
            class="org.bonitasoft.studio.application.contribution.CheckJavaVersionPostStartupContribution">
      </contribution>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.equinox.security.secureStorage">
      <provider
            class="org.bonitasoft.studio.application.security.BonitaStudioPasswordProvider"
            description="Bonita Studio default password provider"
            priority="10">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.bonitasoft.studio.application.fullscreen"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            platform="win32"
            schemeId="org.bonitasoft.studio.application.scheme"
            sequence="F11">
      </key>
      <key
            commandId="org.bonitasoft.studio.application.fullscreen"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            platform="cocoa"
            schemeId="org.bonitasoft.studio.application.scheme"
            sequence="M1+M3+F11">
      </key>
      <key
            commandId="org.bonitasoft.studio.application.fullscreen"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            platform="gtk"
            schemeId="org.bonitasoft.studio.application.scheme"
            sequence="F11">
      </key>
      <key
            commandId="org.eclipse.ui.views.showView"
            contextId="org.bonitasoft.studio.model.process.diagram.form.ui.diagramContext"
            schemeId="org.bonitasoft.studio.application.scheme"
            sequence="M1+F">
         <parameter
               id="org.eclipse.ui.views.showView.viewId"
               value="org.bonitasoft.studio.views.overview.tree">
         </parameter>
      </key>
      <key
            commandId="org.eclipse.ui.views.showView"
            contextId="org.bonitasoft.studio.model.process.diagram.ui.diagramContext"
            schemeId="org.bonitasoft.studio.application.scheme"
            sequence="M1+F">
         <parameter
               id="org.eclipse.ui.views.showView.viewId"
               value="org.bonitasoft.studio.views.overview.tree">
         </parameter>
      </key>
      <key
            commandId="org.eclipse.ui.views.showView"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.bonitasoft.studio.application.scheme"
            sequence="M1+M3+O">
         <parameter
               id="org.eclipse.ui.views.showView.viewId"
               value="org.bonitasoft.studio.views.overview">
         </parameter>
      </key>
      <scheme
            id="org.bonitasoft.studio.application.scheme"
            name="BonitaBPM Scheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
   </extension>
   <extension
         point="org.bonitasoft.studio.application.prestartup">
      <contribution
            class="org.bonitasoft.studio.application.contribution.UpdateRSSContribution"
            priority="5">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.bonitasoft.studio.application.refreshAction"
            targetID="#TextEditorContext">
         <action
               class="org.bonitasoft.studio.application.actions.EditorRefreshActionDelegate"
               icon="icons/refresh.png"
               id="org.bonitasoft.studio.application.refreshAction"
               label="%Refresh"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.bonitasoft.studio.coolbarContributionItem">
      <coolbarItem
            class="org.bonitasoft.studio.application.coolbar.NewDiagramCoolbarItem"
            priority="0"
            toolbarPosition="0">
      </coolbarItem>
      <coolbarItem
            class="org.bonitasoft.studio.application.coolbar.OpenDiagramCoolbarItem"
            priority="0"
            toolbarPosition="1">
      </coolbarItem>
      <coolbarItem
            class="org.bonitasoft.studio.application.coolbar.SaveCoolbarItem"
            priority="0"
            toolbarPosition="2">
      </coolbarItem>
      <coolbarItem
            class="org.bonitasoft.studio.application.coolbar.PrintCoolbarItem"
            priority="0"
            toolbarPosition="3">
      </coolbarItem>
      <coolbarItem
            class="org.bonitasoft.studio.application.coolbar.CopyCoolbarItem"
            priority="0"
            toolbarPosition="6">
      </coolbarItem>
      <coolbarItem
            class="org.bonitasoft.studio.application.coolbar.PasteCoolbarItem"
            priority="0"
            toolbarPosition="7">
      </coolbarItem>
      <coolbarItem
            class="org.bonitasoft.studio.application.coolbar.SeparatorCoolbarItem"
            priority="0"
            toolbarPosition="8">
      </coolbarItem>
      <coolbarItem
            class="org.bonitasoft.studio.application.coolbar.PreferenceCoolbarItem"
            priority="0"
            toolbarPosition="18">
      </coolbarItem>
      <coolbarItem
            class="org.bonitasoft.studio.application.coolbar.HelpCoolbarItem"
            priority="0"
            toolbarPosition="19">
      </coolbarItem>
      <coolbarItem
            class="org.bonitasoft.studio.application.coolbar.WelcomeCoolbarItem"
            priority="0"
            toolbarPosition="20">
      </coolbarItem>
      <coolbarItem
            class="org.bonitasoft.studio.application.coolbar.SeparatorCoolbarItem"
            priority="0"
            toolbarPosition="15">
      </coolbarItem>
   </extension>
   <extension
         id="org.bonitasoft.studio.initializer"
         name="Initializer"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.bonitasoft.studio.application.InitializerApplication"
            name="Initializer">
         <property
               name="rendererFactoryUri"
               value="bundleclass://org.bonitasoft.studio.application/org.bonitasoft.studio.application.renderer.NullWorkbenchRendererFactory">
         </property>
         <property
               name="applicationXMI"
               value="org.bonitasoft.studio.application/LegacyIDE.e4xmi">
         </property>
      </product>
   </extension>
   <extension
         id="org.bonitasoft.studio.workspaceRecovery"
         name="Workspace Recovery"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.bonitasoft.studio.application.WorkspaceRecovery"
            name="WorkspaceRecovery">
         <property
               name="rendererFactoryUri"
               value="bundleclass://org.bonitasoft.studio.application/org.bonitasoft.studio.application.renderer.NullWorkbenchRendererFactory">
         </property>
         <property
               name="applicationXMI"
               value="org.bonitasoft.studio.application/LegacyIDE.e4xmi">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.bonitasoft.studio.application.BonitaStudioWorkbenchAdvisor">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Bonita context"
            id="org.bonitasoft.studio.context.id"
            name="Bonita"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="false"
            class="org.bonitasoft.studio.application.RemoveQuickAccessProcessor">
      </processor>
   </extension>

</plugin>
