<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.businessobject.core.repository.BusinessObjectModelRepositoryStore">
      </repositoryStore>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.bonitasoft.studio.businessobject.ui.handler.ManageBusinessObjectHandler"
            id="org.bonitasoft.studio.businessobject.manage"
            name="%manageBusinessObjects">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.businessobject.ui.handler.ExportBusinessDataModelHandler"
            id="org.bonitasoft.studio.businessobject.exportCommand"
            name="%Export">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.bonitasoft.studio.development?after=org.bonitasoft.studio.menu.filter">
           <menu
                 icon="icons/bdm.png"
                 id="org.bonitasoft.studio.businessobject.menu"
                 label="%BusinessDataModel">
              <command
                    commandId="org.bonitasoft.studio.businessobject.manage"
                    icon="icons/manage-bdm.png"
                    id="org.bonitasoft.studio.businessobject.manage.menu"
                    style="push">
              </command>
              <separator
                    name="org.bonitasoft.studio.businessobject.separator"
                    visible="true">
              </separator>
              <command
                    commandId="org.bonitasoft.studio.businessobject.exportCommand"
                    icon="icons/export-bdm.png"
                    style="push">
              </command>
           </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.bonitasoft.studio.bosArchiveProvider">
      <bosArchiveProvider
            providerClass="org.bonitasoft.studio.businessobject.core.repository.BusinessObjectBOSArchiveProvider">
      </bosArchiveProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.engine.postEngineAction">
      <action
            class="org.bonitasoft.studio.businessobject.core.operation.DeployBDMOnStartup">
      </action>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.expressionProvider">
      <expressionProvider
            providerClass="org.bonitasoft.studio.businessobject.core.expression.QueryExpressionProvider">
      </expressionProvider>
      <expressionProvider
            providerClass="org.bonitasoft.studio.businessobject.core.expression.DAOExpressionProvider">
      </expressionProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.preferences.prefrenceFieldEditorContribution">
      <fieldEditor
            class="org.bonitasoft.studio.businessobject.ui.preference.DropBusinessDataDBFieldEditorContribution">
      </fieldEditor>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.proposalListener">
      <proposalListner
            name="%createBusinessDataLabel"
            providerClass="org.bonitasoft.studio.businessobject.ui.expression.CreateBusinessDataProposalListener"
            type="TYPE_VARIABLE">
      </proposalListner>
   </extension>
</plugin>
