<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.businessobject.core.repository.BusinessObjectModelRepositoryStore">
      </repositoryStore>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.bonitasoft.studio.development?after=org.bonitasoft.studio.menu.filter">
         <dynamic
               class="org.bonitasoft.studio.businessobject.menu.BdmMenuContributionItem"
               id="org.bonitasoft.studio.businessobject.menu">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.bonitasoft.studio.application.project.explorer.new?after=org.bonitasoft.studio.application.placeholder.bdm">
         <dynamic
               class="org.bonitasoft.studio.businessobject.menu.NewBdmContributionItem"
               id="org.bonitasoft.studio.businessobject.manage.popup.menu">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.bonitasoft.studio.application.isBonitaProject">
                        </test>
                        <test
                              property="org.bonitasoft.studio.businessobject.bdmExists">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.bonitasoft.studio.application.project.explorer?after=additions">
         <command
               commandId="org.bonitasoft.studio.businessobject.openH2Console"
               mnemonic="h"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.bonitasoft.studio.businessobject.isBDMFile">
                     </test>
                  </iterate>
               </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.bonitasoft.studio.businessobject.explore.command"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="org.bonitasoft.studio.businessobject.isBDMFile">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.bonitasoft.studio.application.project.explorer?after=group.deploy">
         <command
               commandId="org.bonitasoft.studio.businessobject.cleanDeployCommand"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="org.bonitasoft.studio.businessobject.isBDMFile">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.bonitasoft.studio.application.project.explorer?after=group.import">
         <command
               commandId="org.bonitasoft.studio.businessobject.command.import"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="org.bonitasoft.studio.businessobject.isBDMFile">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.bonitasoft.studio.bosArchiveProvider">
      <bosArchiveProvider
            providerClass="org.bonitasoft.studio.businessobject.core.repository.BusinessObjectBOSArchiveProvider">
      </bosArchiveProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.engine.postEngineAction">
      <action
            class="org.bonitasoft.studio.businessobject.core.operation.DeployBDMOnStartup">
      </action>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.expressionProvider">
      <expressionProvider
            providerClass="org.bonitasoft.studio.businessobject.core.expression.QueryExpressionProvider">
      </expressionProvider>
      <expressionProvider
            providerClass="org.bonitasoft.studio.businessobject.core.expression.DAOExpressionProvider">
      </expressionProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.preferences.preferenceFieldEditorContribution">
      <fieldEditor
            class="org.bonitasoft.studio.businessobject.ui.preference.DropBusinessDataDBFieldEditorContribution">
      </fieldEditor>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.proposalListener">
      <proposalListner
            name="%createBusinessDataLabel"
            providerClass="org.bonitasoft.studio.businessobject.ui.expression.CreateBusinessDataProposalListener"
            type="TYPE_VARIABLE">
      </proposalListner>
   </extension>
   <extension
         id="org.bonitasoft.studio.businessobject.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.bonitasoft.studio.businessobject.ui.BDMPropertyTester"
            id="org.bonitasoft.studio.businessobject.BDMPropertyTester"
            namespace="org.bonitasoft.studio.businessobject"
            properties="bdmExists,isBDMFolder,isBDMFile"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bonitasoft.studio.businessobject.ui.handler.SmartImportBdmHandler"
            commandId="org.bonitasoft.studio.application.import">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.bonitasoft.studio.businessobject.isBDMFolder">
                     </test>
                  </iterate>
                  <or>
                     <reference
                           definitionId="isABonitaProduct">
                     </reference>
                     <reference
                           definitionId="isTeamwork">
                     </reference>
                  </or>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.businessobject.ui.handler.ExportBusinessDataModelHandler"
            commandId="org.bonitasoft.studio.application.export">
         <activeWhen>
         <with
                  variable="activeMenuSelection">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <test
                        property="org.bonitasoft.studio.businessobject.isBDMFile">
                  </test>
               </iterate>
            </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.bonitasoft.studio.businessobject.editor.BdmPerspectiveFactory"
            icon="icons/manage-bdm.png"
            id="org.bonitasoft.studio.businessobject.perspective"
            name="%bdmPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            id="org.bonitasoft.studio.businessobject.contentType"
            name="Business Data Model content type"
            priority="normal">
         <describer
               class="org.bonitasoft.studio.businessobject.core.BusinessDataModelContentDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.bonitasoft.studio.businessobject.editor.editor.BusinessDataModelEditor"
            default="false"
            extensions="xml"
            id="org.bonitasoft.studio.businessobject.editor"
            name="%bdmEditor">
         <contentTypeBinding
               contentTypeId="org.bonitasoft.studio.businessobject.contentType">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="org.bonitasoft.studio.bdm.access.control.contentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution
            id="bdm-xsd">
            <public
                  publicId=""
                  uri="schema/bdm.xsd">
         </public>
      </catalogContribution>
   </extension>
   <extension
         point="org.bonitasoft.studio.editor.contribution">
      <contribution
            class="org.bonitasoft.studio.businessobject.editor.editor.BusinessDataModelEditorContribution"
            name="bdmEditorContribution">
      </contribution>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BusinessDataModel -->
      <package
            uri="http://www.bonitasoft.org/studio/bdm"
            class="org.bonitasoft.studio.businessobject.editor.model.BusinessDataModelPackage"
            genModel="model/BusinessDataModel.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.bonitasoft.studio.businessobject.ui.decorator.BdmLightweightDecorator"
            id="org.bonitasoft.studio.businessobject.decorator"
            label="BDM decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.mapping.ResourceMapping">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.bonitasoft.studio.common.dashboardContribution">
   </extension>
   <extension
         point="org.bonitasoft.studio.common.dashboardContribution">
      <dashboardContribution
            class="org.bonitasoft.studio.businessobject.dashboard.BdmDashboardContribution">
      </dashboardContribution>
   </extension>

</plugin>
