<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.businessobject.core.repository.BusinessObjectModelRepositoryStore">
      </repositoryStore>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.bonitasoft.studio.development?after=org.bonitasoft.studio.menu.filter">
         <menu
               label="%BusinessDataModel"
               icon="icons/bdm.png"
               id="org.bonitasoft.studio.businessobject.menu">
            <command
                  commandId="org.bonitasoft.studio.businessobject.manage"
                  icon="icons/manage-bdm.png"
                  style="push"
                  id="org.bonitasoft.studio.businessobject.manage.menu">
            </command>
            <command
                  commandId="org.bonitasoft.studio.businessobject.openH2Console"
                  icon="icons/h2.png"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.businessobject.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.businessobject.importCommand"
                  icon="icons/import-bdm.png"
                  id="org.bonitasoft.studio.businessobject.import.menu"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.businessobject.exportCommand"
                  icon="icons/export-bdm.png"
                  id="org.bonitasoft.studio.businessobject.export.menu"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.bonitasoft.studio.bosArchiveProvider">
      <bosArchiveProvider
            providerClass="org.bonitasoft.studio.businessobject.core.repository.BusinessObjectBOSArchiveProvider">
      </bosArchiveProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.engine.postEngineAction">
      <action
            class="org.bonitasoft.studio.businessobject.core.operation.DeployBDMOnStartup">
      </action>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.expressionProvider">
      <expressionProvider
            providerClass="org.bonitasoft.studio.businessobject.core.expression.QueryExpressionProvider">
      </expressionProvider>
      <expressionProvider
            providerClass="org.bonitasoft.studio.businessobject.core.expression.DAOExpressionProvider">
      </expressionProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.preferences.prefrenceFieldEditorContribution">
      <fieldEditor
            class="org.bonitasoft.studio.businessobject.ui.preference.DropBusinessDataDBFieldEditorContribution">
      </fieldEditor>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.proposalListener">
      <proposalListner
            name="%createBusinessDataLabel"
            providerClass="org.bonitasoft.studio.businessobject.ui.expression.CreateBusinessDataProposalListener"
            type="TYPE_VARIABLE">
      </proposalListner>
   </extension>
   <extension
         id="org.bonitasoft.studio.businessobject.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>



</plugin>
