<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.xml.repository.XSDRepositoryStore">
      </repositoryStore>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.operatorEditor">
      <operatorEditor
            class="org.bonitasoft.studio.xml.ui.XPathOperatorEditor">
      </operatorEditor>
   </extension>
   <extension
         point="org.bonitasoft.studio.bosArchiveProvider">
      <bosArchiveProvider
            providerClass="org.bonitasoft.studio.xml.export.XSDResourceProvider">
      </bosArchiveProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.expressionProvider">
      <expressionProvider
            providerClass="org.bonitasoft.studio.xml.ui.XPathExpressionProvider"></expressionProvider>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution
            id="soap-encoding">
         <public
               publicId="http://www.w3.org/2001/12/soap-encoding"
               uri="xsd/soap-encoding.xsd"
               webURL="http://www.w3.org/2001/12/soap-encoding">
         </public>
      </catalogContribution>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution
            id="soap-envelope">
         <public
               publicId="http://www.w3.org/2001/12/soap-envelope"
               uri="xsd/soap-envelope.xsd"
               webURL="http://www.w3.org/2001/12/soap-envelope">
         </public>
      </catalogContribution>
   </extension>

</plugin>
