<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.codehaus.groovy.eclipse.codeassist.completion.completionProposalFilter">
      <proposalFilter
            name="BonitaGroovyProposalFilter"
            proposalFilter="org.bonitasoft.studio.expression.editor.pattern.contentAssist.GenericProposalFilter">
         <appliesTo
               projectNature="org.bonitasoft.studio.common.repository.bonitaNature">
         </appliesTo>
      </proposalFilter>
   </extension>

</plugin>
