<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.connectors.connectorWizard">
      <connectorWizard
            DefinitionId="database-mysql"
            priority="3"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.specific.MySqlConfigExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorConnectionInfoWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.SQLBuilderExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorQueryWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="database-db2"
            priority="3"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.specific.DB2ConfigExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorConnectionInfoWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.SQLBuilderExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorQueryWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="database-h2"
            priority="3"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.specific.H2ConfigExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorConnectionInfoWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.SQLBuilderExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorQueryWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="database-hsqldb"
            priority="3"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.specific.HSQLConfigExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorConnectionInfoWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.SQLBuilderExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorQueryWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="database-oracle10g"
            priority="3"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.specific.OracleConfigExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorConnectionInfoWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.SQLBuilderExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorQueryWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="database-oracle11g"
            priority="3"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.specific.OracleConfigExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorConnectionInfoWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.SQLBuilderExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorQueryWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="database-postgresql84"
            priority="3"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.specific.PostgresConfigExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorConnectionInfoWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.SQLBuilderExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorQueryWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="database-postgresql92"
            priority="3"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.specific.PostgresConfigExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorConnectionInfoWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.SQLBuilderExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorQueryWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="database-mssqlserver"
            priority="3"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.specific.SQLServerConfigExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorConnectionInfoWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.SQLBuilderExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorQueryWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="database-ingres"
            priority="1"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.specific.IngresConfigExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorConnectionInfoWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.SQLBuilderExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorQueryWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="database-sybase"
            priority="1"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.specific.SybaseConfigExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorConnectionInfoWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.SQLBuilderExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorQueryWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="database-informix"
            priority="1"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.specific.InformixConfigExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorConnectionInfoWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.SQLBuilderExtendedWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.sqlbuilder.ex.wizard.DatabaseConnectorQueryWizardPage">
         </configurationPage>
      </connectorWizard>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <connectionProfile
            category="org.eclipse.datatools.connectivity.db.category"
            configurationType="org.eclipse.datatools.connectivity.db.generic.configurationType"
            id="org.eclipse.datatools.enablement.sybase.ase.connectionProfile"
            name="Sybase Connection Profile"
            pingFactory="org.eclipse.datatools.enablement.sybase.ase.internal.connection.JDBCASEConnectionFactory">
      </connectionProfile>
      <connectionFactory
            class="org.eclipse.datatools.enablement.sybase.ase.internal.connection.JDBCASEConnectionFactory"
            id="java.sql.Connection"
            name="Syabe JDBC Connection"
            profile="org.eclipse.datatools.enablement.sybase.ase.connectionProfile">
      </connectionFactory>
      <connectionProfile
            category="org.eclipse.datatools.connectivity.db.category"
            configurationType="org.eclipse.datatools.connectivity.db.generic.configurationType"
            id="org.eclipse.datatools.enablement.h2.connectionProfile"
            name="H2 Connection Profile"
            pingFactory="org.eclipse.datatools.connectivity.drivers.jdbc.JDBCConnectionFactory">
      </connectionProfile>
      <connectionFactory
            class="org.eclipse.datatools.connectivity.drivers.jdbc.JDBCConnectionFactory"
            id="java.sql.Connection"
            name="H2 JDBC Connection"
            profile="org.eclipse.datatools.enablement.h2.connectionProfile">
      </connectionFactory>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            file="dbdef/H2_1.2.xmi"
            product="H2"
            productDisplayString="H2"
            version="1.2"
            versionDisplayString="1.2">
      </definition>
   </extension>
</plugin>
