<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ui.internal.WorkbenchPreferenceInitializer"/>
   </extension>
     <extension
           id="id1"
           point="org.eclipse.e4.workbench.model">
        <processor
              beforefragment="true"
              class="org.eclipse.ui.internal.CommandToModelProcessor">
        </processor>
        <processor
              beforefragment="true"
              class="org.eclipse.ui.internal.ContextToModelProcessor">
        </processor>
         <processor
              beforefragment="true"
              class="org.eclipse.ui.internal.BindingToModelProcessor">
        </processor>
     </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CompositeElement"
            composite="false"
            handler="org.eclipse.e4.ui.workbench.addons.perspectiveswitcher.PerspectiveSwitcherCSSHandler">
         <property-name
               name="eclipse-perspective-keyline-color">
         </property-name>
         <property-name
               name="perspective-keyline-color"
               deprecated="renamed as eclipse-perspective-keyline-color">
         </property-name>
      </handler>
   </extension>
</plugin>
