<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.validators.repository.ValidatorSourceRepositorySotre">
      </repositoryStore>
      <repositoryStore
            class="org.bonitasoft.studio.validators.repository.ValidatorDescriptorRepositoryStore">
      </repositoryStore>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.bonitasoft.studio.diagram.form">
            <propertyTab
               afterTab="Form.DataTab"
               category="domain"
               id="Form.ValidatorsTab"
               label="%form.validators.tab">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.bonitasoft.studio.diagram.form">
            <propertySection
               class="org.bonitasoft.studio.validators.ui.property.section.ValidatorsPropertySection"
               filter="org.bonitasoft.studio.validators.ui.property.section.FormAndFormFieldFilter"
               id="Form.ValidatorsSection"
               tab="Form.ValidatorsTab"
               viewID="org.bonitasoft.studio.views.properties.form.general">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.bonitasoft.studio.common.barResourcesProvider">
      <barResourceProvider
            providerClass="org.bonitasoft.studio.validators.provider.ValidatorBarResourceProvider">
      </barResourceProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.synchronizer">
      <synchronier
            class="org.bonitasoft.studio.validators.provider.ValidatorConfigurationSynchronizer">
      </synchronier>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.bonitasoft.studio.validators.ui.handler.NewValidatorHandler"
            id="org.bonitasoft.studio.validators.newValidator"
            name="%newValidator">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.validators.ui.handler.EditValidatorHandler"
            id="org.bonitasoft.studio.validators.editValidator"
            name="%editValidator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.bonitasoft.studio.development?after=org.bonitasoft.studio.menu.connector">
         <menu
               icon="icons/Validator.png"
               id="org.bonitasoft.studio.validator.menu"
               label="%Validators">
            <command
                  commandId="org.bonitasoft.studio.validators.newValidator"
                  icon="icons/validator-new.png"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.validators.editValidator"
                  icon="icons/validator-edit.png"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow">
                  <test
                        forcePluginActivation="true"
                        property="org.bonitasoft.is6XLegacyEnabled">
                  </test>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.bonitasoft.studio.bosArchiveProvider">
      <bosArchiveProvider
            providerClass="org.bonitasoft.studio.validators.provider.ValidatorResourceProvider">
      </bosArchiveProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.exportConfigurationAction">
      <exportConfigurationAction
            class="org.bonitasoft.studio.validators.provider.ExportValidatorAction">
      </exportConfigurationAction>
   </extension>
   <extension
         point="org.eclipse.emf.edapt.migrators">
      <migrator
            path="model/validator.history">
      </migrator>
   </extension>

</plugin>
