<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="remote_platform">
<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="com.google.inject" version="3.0.0.v201605172100"/>
			<unit id="com.google.protobuf" version="2.4.0.v201105131100"/>
			<unit id="com.google.guava" version="15.0.0.v201403281430"/>
			<unit id="com.sun.syndication" version="0.9.0.v200803061811"/>
			<unit id="org.json" version="1.0.0.v201011060100"/>
			<unit id="org.jdom" version="1.1.1.v201101151400"/>
			<unit id="javax.wsdl" version="1.6.2.v201012040545"/>
			<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
			<unit id="org.objectweb.asm" version="5.2.0.v20170126-0011"/>
			<unit id="org.slf4j.api" version="1.7.10.v20170428-1633"/>
			<unit id="ch.qos.logback.classic" version="1.1.2.v20160208-0839"/>
			<unit id="ch.qos.logback.core" version="1.1.2.v20160208-0839"/>
			<unit id="net.sourceforge.lpg.lpgjavaruntime" version="1.1.0.v201004271650"/>
			<unit id="org.apache.batik.css" version="1.7.0.v201011041433"/>
			<unit id="org.apache.batik.util" version="1.7.0.v201011041433"/>
			<unit id="org.apache.batik.util.gui" version="1.7.0.v200903091627"/>
			<repository location="http://download.eclipse.org/tools/orbit/R-builds/R20170516192513/repository"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.mockito" version="2.23.0.v20181106-1534"/>
			<unit id="org.objenesis" version="2.6.0.v20180420-1519"/>
			<unit id="net.bytebuddy.byte-buddy" version="1.9.0.v20181107-1410"/>
			<unit id="net.bytebuddy.byte-buddy-agent" version="1.9.0.v20181106-1534"/>
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20181128170323/repository/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.codehaus.groovy.eclipse.feature.feature.group" version="3.2.0.xx-201812291959-e2018-12-RELEASE"/>
			<unit id="org.codehaus.groovy.m2eclipse.feature.feature.group" version="3.2.0.xx-201812291959-e2018-12-RELEASE"/>
			<unit id="org.codehaus.groovy24.feature.feature.group" version="3.2.0.xx-201812291959-e2018-12-RELEASE"/>
			<repository location="http://dist.springsource.org/release/GRECLIPSE/3.2.0/e4.10"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.eclipse.gef.source.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.eclipse.source.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.forms.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.forms.source.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.generator.feature.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.generator.feature.source.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.ide.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.ide.source.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.source.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
			<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
			<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
			<repository location="https://download.eclipse.org/technology/swtbot/releases/2.7.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.polarion.eclipse.team.svn.connector.feature.group" version="6.0.4.I20161211-1700"/>
			<unit id="org.polarion.eclipse.team.svn.connector.javahl18.feature.group" version="6.0.0.I20160427-1700"/>
			<unit id="org.polarion.eclipse.team.svn.connector.svnkit18.feature.group" version="6.0.4.I20161211-1700"/>
			<repository location="http://community.polarion.com/projects/subversive/download/eclipse/6.0/update-site/"/>
		</location>
			<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
				<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.4.4"/>
				<unit id="com.fasterxml.jackson.core.jackson-core" version="2.4.4"/>
				<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.4.4"/>
				<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-csv" version="2.4.4"/>
				<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-smile" version="2.4.4"/>
				<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-xml" version="2.4.4"/>
				<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml" version="2.4.4"/>
				<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="2.4.4"/>
				<unit id="org.restlet.ext.html.feature.group" version="2.3.0.v20141217-1730"/>
				<unit id="org.restlet.ext.jackson.feature.group" version="2.3.0.v20141217-1730"/>
				<unit id="org.restlet.ext.jaxb.feature.group" version="2.3.0.v20141217-1730"/>
				<unit id="org.restlet.ext.json.feature.group" version="2.3.0.v20141217-1730"/>
				<unit id="org.restlet.feature.group" version="2.3.0.v20141217-1730"/>
				<unit id="stax2-api" version="3.1.4"/>
				<repository location="http://p2.restlet.org/2.3"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.nebula.widgets.tablecombo" version="1.2.0.201812241324"/>
			<repository location="https://download.eclipse.org/nebula/releases/2.1.0/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="javax.persistence.feature.group" version="2.1.0"/>
			<repository location="http://www.elver.org/eclipse/2.1.0/update/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.emf.edapt.recorder.feature.feature.group" version="1.3.1.201812130816"/>
			<unit id="org.eclipse.emf.edapt.recorder.feature.source.feature.group" version="1.3.1.201812130816"/>
			<unit id="org.eclipse.emf.edapt.runtime.feature.feature.group" version="1.3.1.201812130816"/>
			<unit id="org.eclipse.emf.edapt.runtime.feature.source.feature.group" version="1.3.1.201812130816"/>
			<repository location="https://download.eclipse.org/edapt/releases/13x/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.gmf.sdk.feature.group" version="3.2.1.201409171321"/>
			<unit id="org.eclipse.gmf.tooling.codegen.xtend2.feature.group" version="3.2.1.201409171321"/>
			<unit id="org.eclipse.gmf.tooling.feature.group" version="3.2.1.201409171321"/>
			<unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="3.2.1.201409171321"/>
			<unit id="org.eclipse.gmf.tooling.simplemap.feature.group" version="1.0.0.201409171321"/>
			<repository location="http://download.eclipse.org/modeling/gmp/gmf-tooling/updates/releases"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.birt.osgi.runtime.sdk.feature.group" version="4.7.0.v201706222054"/>
			<unit id="org.eclipse.datatools.common.doc.user.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.connectivity.doc.user.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.connectivity.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.connectivity.oda.designer.core.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.connectivity.oda.designer.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.connectivity.oda.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.doc.user.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.apache.derby.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.hsqldb.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.ibm.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.ingres.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.jdbc.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.jdt.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.msft.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.mysql.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.oda.designer.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.oda.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.oracle.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.postgresql.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.sap.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.sqlite.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.enablement.sybase.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.intro.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.modelbase.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.sqldevtools.data.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.sqldevtools.ddl.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.sqldevtools.ddlgen.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.sqldevtools.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.sqldevtools.parsers.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.sqldevtools.results.feature.feature.group" version="1.14.102.201811012051"/>
			<unit id="org.eclipse.datatools.sqldevtools.schemaobjecteditor.feature.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.datatools.sqltools.doc.user.feature.group" version="1.14.101.201811012051"/>
			<unit id="org.eclipse.emf.compare.egit.feature.group" version="3.3.5.201812111422"/>
			<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.5.201812111422"/>
			<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.3.21.201705291011"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.16.0.v20181206-1055"/>
			<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.12.0.201805140824"/>
			<unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
			<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.602.v201808021625"/>
			<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.500.v201806111634"/>
			<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.4.300.v201802152148"/>
			<unit id="org.eclipse.m2e.feature.feature.group" version="1.10.0.20181127-2120"/>
			<unit id="org.eclipse.m2e.logback.feature.feature.group" version="1.10.0.20181127-2120"/>
			<unit id="org.eclipse.m2e.sdk.feature.feature.group" version="1.10.0.20181127-2120"/>
			<unit id="org.eclipse.pde.feature.group" version="3.13.300.v20181206-0815"/>
			<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="2.1.1.v201804042202"/>
			<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.700.v201805181538"/>
			<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.11.0.v201811192212"/>
			<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.12.0.v201811192212"/>
			<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.7.2.v201808020026"/>
			<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.11.0.v201808161734"/>
			<unit id="org.eclipse.xsd.sdk.feature.group" version="2.16.0.v20181127-0852"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.16.0.v20181203-1555"/>
			<unit id="org.sonatype.m2e.mavenarchiver.feature.feature.group" version="0.17.2.201606141937-signed-20160830073346"/>
			<unit id="org.eclipse.egit.feature.group" version="5.2.0.201812061821-r"/>
			<unit id="org.eclipse.egit.gitflow.feature.feature.group" version="5.2.0.201812061821-r"/>
			<unit id="org.eclipse.jgit.feature.group" version="5.2.0.201812061821-r"/>
			<unit id="org.eclipse.jgit.http.apache.feature.group" version="5.2.0.201812061821-r"/>
			<unit id="org.eclipse.jgit.lfs.feature.group" version="5.2.0.201812061821-r"/>
			<unit id="org.eclipse.jgit.ssh.apache.feature.group" version="5.2.0.201812061821-r"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.10.0.v20181206-1038"/>
			<unit id="org.eclipse.gmf.feature.group" version="1.12.0.201806010809"/>
			<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.12.0.201805221301"/>
			<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.12.0.201806010809"/>
			<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.9.1.v20181210-1559"/>
			<unit id="org.eclipse.emf.diffmerge.sdk.feature.feature.group" version="0.10.1.201811131034"/>
			<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.12.0.201805030717"/>
			<unit id="org.eclipse.emf.query.sdk.feature.group" version="1.12.0.201805030653"/>
			<unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.7.0.v20181210-1441"/>
			<unit id="org.eclipse.ocl.all.sdk.source.feature.group" version="5.7.0.v20181210-1441"/>
			<unit id="org.eclipse.jst.server_core.feature.feature.group" version="3.4.300.v201802202048"/>
			<unit id="org.eclipse.wst.common_core.feature.feature.group" version="3.10.0.v201811122225"/>
			<unit id="org.eclipse.wst.common_ui.feature.feature.group" version="3.10.0.v201811170421"/>
			<unit id="org.eclipse.wst.server_core.feature.feature.group" version="3.3.700.v201803052214"/>
			<unit id="org.eclipse.wst.server_ui.feature.feature.group" version="3.3.700.v201810121543"/>
			<unit id="org.eclipse.wst.json_core.feature.feature.group" version="1.1.3.v201807251925"/>
			<unit id="org.eclipse.wst.ws_core.feature.feature.group" version="3.7.200.v201806042237"/>
			<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.12.0.v201811122127"/>
			<unit id="org.eclipse.emf.compare.diagram.gmf.feature.group" version="3.3.5.201812111422"/>
			<unit id="org.eclipse.emf.compare.diagram.gmf.source.feature.group" version="3.3.5.201812111422"/>
			<unit id="org.eclipse.emf.compare.feature.group" version="3.3.5.201812111422"/>
			<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.3.5.201812111422"/>
			<unit id="org.eclipse.emf.compare.source.feature.group" version="3.3.5.201812111422"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.200.v20180922-1751"/>
			<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.100.v20180822-1357"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.16.0.v20181130-2106"/>
			<unit id="org.apache.commons.codec" version="1.10.0.v20180409-1845"/>
			<unit id="org.apache.httpcomponents.httpclient" version="4.5.5.v20180409-1525"/>
			<unit id="org.apache.axis" version="1.4.0.v201411182030"/>
			<unit id="org.apache.commons.discovery" version="0.2.0.v201004190315"/>
			<unit id="org.eclipse.xpand.sdk.feature.group" version="2.2.0.v201605260315"/>
			<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.9.1.201705291011"/>
			<unit id="org.eclipse.emf.compare.rcp" version="2.5.2.201812111422"/>
			<unit id="org.eclipse.emf.compare.rcp.ui" version="4.4.2.201812111422"/>
			<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.3.v20181012-2020"/>
			<unit id="org.eclipse.ecf.core.feature.group" version="3.14.4.v20181013-2146"/>
			<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.100.v20180301-0201"/>
			<unit id="org.eclipse.ecf.discovery.feature.feature.group" version="1.0.100.v20180306-0211"/>
			<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.4.v20181013-2146"/>
			<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.14.4.v20181013-2146"/>
			<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
			<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
			<unit id="org.eclipse.ecf.provider.generic.feature.feature.group" version="1.0.100.v20180402-2103"/>
			<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.14.4.v20181013-2143"/>
			<unit id="org.eclipse.wst.server_userdoc.feature.feature.group" version="3.3.300.v201802152148"/>
			<unit id="org.eclipse.wst.xml_userdoc.feature.feature.group" version="3.10.0.v201804190136"/>
			<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.11.0.v201811192212"/>
			<unit id="org.eclipse.emf.ecore.xcore.feature.group" version="1.8.0.v20181203-0948"/>
			<unit id="org.eclipse.emf.ecore.xcore.lib.feature.group" version="1.4.0.v20180706-1146"/>
			<unit id="org.apache.lucene.misc" version="7.5.0.v20181003-1532"/>
			<unit id="org.apache.lucene.queryparser" version="7.5.0.v20181003-1532"/>
			<unit id="javax.activation" version="1.1.0.v201211130549"/>
			<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
			<repository location="https://download.eclipse.org/releases/2018-12"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.team.svn.feature.group" version="4.0.5.I20170425-1700"/>
			<unit id="org.eclipse.team.svn.m2e.feature.group" version="4.0.0.I20160226-1700"/>
			<unit id="org.eclipse.team.svn.nl1.feature.group" version="4.0.0.I20160226-1700"/>
			<unit id="org.eclipse.team.svn.revision.graph.feature.group" version="4.0.0.I20160226-1700"/>
			<unit id="org.eclipse.team.svn.source.feature.group" version="4.0.5.I20170425-1700"/>
			<repository location="https://download.eclipse.org/technology/subversive/4.0/update-site/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.datatools.sqldevtools.sqlbuilder.feature.feature.group" version="1.14.102.201901091730"/>
			<repository location="https://download.eclipse.org/datatools/updates/1.14.104-SNAPSHOT/repository"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.babel.nls_datatools_es.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_datatools_fr.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_datatools_ja.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_datatools_pt_BR.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_eclipse_es.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_eclipse_fr.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_eclipse_ja.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_eclipse_pt_BR.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_technology.egit_es.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_technology.egit_fr.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_technology.egit_ja.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_technology.egit_pt_BR.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_es.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_fr.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_ja.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_pt_BR.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_technology.recommenders_es.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_technology.recommenders_fr.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_technology.recommenders_ja.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_technology.recommenders_pt_BR.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_webtools_es.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_webtools_fr.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_webtools_ja.feature.group" version="4.8.0.v20180815020001"/>
			<unit id="org.eclipse.babel.nls_webtools_pt_BR.feature.group" version="4.8.0.v20180815020001"/>
			<repository location="https://download.eclipse.org/technology/babel/update-site/R0.16.0/photon"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.emf.texo.sdk.feature.group" version="0.9.0.v201611141242"/>
			<repository location="http://download.eclipse.org/modeling/emft/texo/updates/interim"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>