<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target includeMode="feature" name="mirrored" sequenceNumber="45">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<repository location="http://192.168.4.5/6.2/repository/"/>
<unit id="org.uguess.tribix.feature.group" version="2.5.2.201107181644"/>
<unit id="org.eclipse.gmf.sdk.experimental.feature.group" version="1.2.0.201108160853"/>
<unit id="org.eclipse.gmf.sdk.feature.group" version="2.4.0.201108160853"/>
<unit id="org.eclipse.gmf.tooling.feature.group" version="2.4.0.201108160853"/>
<unit id="org.eclipse.xtend.m2e.feature.group" version="2.3.1.v201208210947"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.3.1.v201208210947"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.emf.edapt.recorder.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.edapt.recorder.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.edapt.runtime.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.edapt.runtime.sdk.feature.feature.group" version="0.0.0"/>
<unit id="com.sun.syndication" version="0.9.0.v200803061811"/>
<unit id="org.eclipse.nebula.widgets.gallery.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.tablecombo.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.texo.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.texo.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.texo.runtime.core.feature.group" version="0.0.0"/>
<unit id="org.polarion.eclipse.team.svn.connector.feature.group" version="2.2.2.I20110602-1700"/>
<unit id="org.polarion.eclipse.team.svn.connector.svnkit15.feature.group" version="2.2.2.I20110602-1700"/>
<unit id="org.polarion.eclipse.team.svn.connector.svnkit16.feature.group" version="2.2.2.I20110602-1700"/>
<unit id="org.codehaus.groovy18.feature.feature.group" version="2.8.0.xx-20130703-1500-e37-RELEASE"/>
<unit id="org.codehaus.groovy.jdt.patch.feature.group" version="2.8.0.xx-20130703-1500-e37-RELEASE"/>
<unit id="org.codehaus.groovy.eclipse.feature.feature.group" version="2.8.0.xx-20130703-1500-e37-RELEASE"/>
<unit id="org.eclipse.birt.feature.group" version="3.7.2.v20120213-BDF9E9bGTzuHh03p2c0AWvmC3Ltk"/>
<unit id="org.eclipse.team.svn.resource.ignore.rules.jdt.feature.group" version="0.7.9.I20110602-1700"/>
<unit id="org.eclipse.team.svn.feature.group" version="0.7.9.I20110819-1700"/>
<unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group" version="1.9.2.v201109161655-7I9O7XFE9Jfxu0wIxMQtoLz0X-dE"/>
<unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.9.2.v201109161655-7PA37eFEpPYv5_Ae3-6EjC5ZX4e5"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.7.2.v20120120-1424-9DB5FmnFq5JCf1UA38R-kz0S0272"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.2.v20120130-0943"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.1.R37x_v20110907-7M7W8i8eNV4WsRkue-4Vq4J6pCyW"/>
<unit id="org.eclipse.pde.feature.group" version="3.7.2.v20120120-1420-7b7rFUOFEx2Xnqafnpz0E--0"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="1.0.0.v20110608-1633"/>
<unit id="org.eclipse.emf.compare.feature.group" version="1.2.2.v20120214-0915"/>
<unit id="org.eclipse.emf.compare.sdk.feature.group" version="1.2.2.v20120214-0915"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.5.1.v20110823-1800-777T19A_WsXmjNatPxcrPm1rOKlH"/>
<unit id="org.eclipse.emf.oda.sdk.feature.group" version="1.0.2.v20120130-0943"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.5.0.v20110502-1600-67O-96SGR55YJeZPedcQnghI6uFA"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.7.2.v20110927-2020-7G7W77A5WNgIRPdWXDIbNTSQPdQL"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.5.0.v20110426-2159-47D08xGD6ExNBM7CIJa3CIKK9t84"/>
<unit id="org.eclipse.gmf.feature.group" version="1.5.0.v20110607-1200-7d9Q7HFYnmMEynz0X0qrbsDiK281"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.5.0.v20110607-1200-67N09E9QnChoWswz-3wf_rz0kQ8Y"/>
<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.1.0.v20110314-1530-7U7A-CL5RuMpMxGs7uZhafWQlGUu"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.7.1.v20120130-0943"/>
<unit id="org.eclipse.jdt.feature.group" version="3.7.2.v20120120-1414-7z8gFcuFMP7BW5XTz0jLTnz0l9B1"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.3.2.v201112072049-7H7EFZ7DxumTmce4khcSkIiqoD8eDMKlT8Oz011P"/>
<unit id="org.eclipse.jst.ws.cxf.feature.feature.group" version="1.0.100.v201105171845-7H77DRFAKlZgjHCaHg65uE6I6I"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.3.2.v201111030500-7O7IFj6EMjB7yO1Xs_G1kMtQeOye6HTXFWve95_R"/>
<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.100.v20110303-208Z7w31211419"/>
<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.2.v20111010_1242-777HFHzCcNBDjCbIUfEEE3"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.3.0.v201102200555-7A6FHr9xFcAVCFLZBBJLIR43A"/>
<unit id="org.eclipse.jst.webpageeditor.feature.feature.group" version="2.3.6.v201201181342-46AB9oB5885D6R5D86"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.100.v20110303-51EoAkF77g8HBSc"/>
<unit id="org.eclipse.babel.nls_eclipse_ja.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.babel.nls_eclipse_it.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.babel.nls_eclipse_fr.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.babel.nls_tools.gef_fr.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.babel.nls_tools.gef_es.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.babel.nls_tools.gef_it.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.babel.nls_tools.gef_ja.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.babel.nls_tools.gef_de.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.babel.nls_eclipse_es.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.babel.nls_tools.gef_pt_BR.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.babel.nls_tools.gef_pt.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.babel.nls_eclipse_pt_BR.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.babel.nls_eclipse_pt.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="3.7.0.v20130724081219"/>
<unit id="org.eclipse.xtext.xbase.feature.group" version="2.3.1.v201208210947"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.3.1.v201208210947"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.3.1.v201208210947"/>
<unit id="org.eclipse.xtext.ui.feature.group" version="2.3.1.v201208210947"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
