<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="platform">
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
        <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/technology/swtbot/releases/3.1.0/"/>
            <unit id="org.eclipse.swtbot.eclipse.feature.group" version="3.1.0.202106041005"/>
            <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="3.1.0.202106041005"/>
            <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="3.1.0.202106041005"/>
            <unit id="org.eclipse.swtbot.feature.group" version="3.1.0.202106041005"/>
            <unit id="org.eclipse.swtbot.forms.feature.group" version="3.1.0.202106041005"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/releases/2021-06"/>
            <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.0.v20210611-1654"/>
            <unit id="org.eclipse.egit.feature.group" version="5.12.0.202106070339-r"/>
            <unit id="org.eclipse.egit.gitflow.feature.feature.group" version="5.12.0.202106070339-r"/>
            <unit id="org.eclipse.emf.compare.egit.feature.group" version="3.3.14.202102231741"/>
            <unit id="org.eclipse.datatools.connectivity.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.enablement.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.22.0.v202105181958"/>
            <unit id="org.eclipse.wst.ws_ui.feature.feature.group" version="3.9.100.v202004082157"/>
            <unit id="org.eclipse.m2e.feature.feature.group" version="1.18.0.20210603-1206"/>
            <unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.4.200.v202106020138"/>
            <unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.700.v202105161646"/>
            <unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.900.v202106111324"/>
            <unit id="org.eclipse.datatools.enablement.jdbc.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.enablement.msft.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.enablement.mysql.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.enablement.oracle.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.enablement.postgresql.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.sqldevtools.sqlbuilder.feature.feature.group" version="1.14.200.202009292210"/>
            <unit id="org.eclipse.datatools.enablement.apache.derby.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.enablement.hsqldb.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.enablement.ibm.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.enablement.ingres.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.enablement.oda.designer.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.enablement.oda.feature.feature.group" version="1.14.102.201911221603"/>
            <unit id="org.eclipse.datatools.enablement.sap.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.enablement.sqlite.feature.feature.group" version="1.14.102.201911250848"/>
            <unit id="org.eclipse.datatools.enablement.sybase.feature.feature.group" version="1.14.200.202008192017"/>
            <unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.14.102.201911250848"/>
			<unit id="org.eclipse.emf.compare.diagram.gmf.feature.group" version="3.3.14.202102231741"/>
            <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.14.202102231741"/>
            <unit id="org.eclipse.emf.compare.feature.group" version="3.3.14.202102231741"/>
            <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.1200.v20210507-0825"/>
            <unit id="org.eclipse.sdk.feature.group" version="4.20.0.v20210611-1636"/>
  			<unit id="org.eclipse.emf.edapt.runtime.feature.feature.group" version="1.4.1.202002140949"/>
  			<unit id="org.eclipse.mylyn.commons.ui" version="3.25.2.v20200813-0821"/>
  			<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="2.3.500.v202106021855"/>
  			<unit id="org.eclipse.wst.json_ui.feature.feature.group" version="1.1.10.v202103121626"/>
	  		<unit id="com.sun.jna.platform" version="5.8.0.v20210406-1004"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="http://download.eclipse.org/modeling/gmp/gmf-tooling/updates/releases-3.2.1"/>
            <unit id="org.eclipse.gmf.sdk.feature.group" version="3.2.1.201409171321"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.restlet.ext.json.feature.group" version="2.3.0.v20141217-1730"/>
            <unit id="org.restlet.feature.group" version="2.3.0.v20141217-1730"/>
            <repository location="https://update-site.bonitasoft.com/p2/4.16"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/nebula/releases/2.5.0/"/>
        	<unit id="org.eclipse.nebula.widgets.richtext.feature.feature.group" version="1.4.0.202106201019"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.team.svn.feature.group" version="4.0.5.I20170425-1700"/>
            <unit id="org.eclipse.team.svn.m2e.feature.group" version="4.0.0.I20160226-1700"/>
            <unit id="org.eclipse.team.svn.nl1.feature.group" version="4.0.0.I20160226-1700"/>
            <unit id="org.eclipse.team.svn.revision.graph.feature.group" version="4.0.0.I20160226-1700"/>
            <unit id="org.eclipse.team.svn.source.feature.group" version="4.0.5.I20170425-1700"/>
            <repository location="https://download.eclipse.org/technology/subversive/4.0/update-site/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.polarion.eclipse.team.svn.connector.feature.group" version="6.0.4.I20161211-1700"/>
            <unit id="org.polarion.eclipse.team.svn.connector.javahl18.feature.group" version="6.0.0.I20160427-1700"/>
            <unit id="org.polarion.eclipse.team.svn.connector.svnkit18.feature.group" version="6.0.4.I20161211-1700"/>
            <repository location="http://community.polarion.com/projects/subversive/download/eclipse/6.0/update-site/"/>
        </location>
       <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="de.jcup.asciidoctoreditor.feature.group" version="2.4.1"/>
            <repository location="https://de-jcup.github.io/update-site-eclipse-asciidoctor-editor/update-site/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://de-jcup.github.io/update-site-eclipse-yaml-editor/update-site/"/>
            <unit id="de.jcup.yamleditor.feature.group" version="1.7.0"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="net.sourceforge.plantuml.feature.feature.group" version="1.1.24"/>
            <repository location="http://hallvard.github.io/plantuml/plantuml.eclipse/1.1.24"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.babel.nls_eclipse_es.feature.group" version="4.20.0.v20210630020001"/>
            <unit id="org.eclipse.babel.nls_eclipse_fr.feature.group" version="4.20.0.v20210630020001"/>
            <unit id="org.eclipse.babel.nls_eclipse_ja.feature.group" version="4.20.0.v20210630020001"/>
            <unit id="org.eclipse.babel.nls_eclipse_pt_BR.feature.group" version="4.20.0.v20210630020001"/>
            <unit id="org.eclipse.babel.nls_technology.egit_es.feature.group" version="4.20.0.v20210630020001"/>
            <unit id="org.eclipse.babel.nls_technology.egit_fr.feature.group" version="4.20.0.v20210630020001"/>
            <unit id="org.eclipse.babel.nls_technology.egit_ja.feature.group" version="4.20.0.v20210630020001"/>
            <unit id="org.eclipse.babel.nls_technology.egit_pt_BR.feature.group" version="4.20.0.v20210630020001"/>
            <unit id="org.eclipse.babel.nls_technology.jgit_es.feature.group" version="4.20.0.v20210630020001"/>
            <unit id="org.eclipse.babel.nls_technology.jgit_fr.feature.group" version="4.20.0.v20210630020001"/>
            <unit id="org.eclipse.babel.nls_technology.jgit_ja.feature.group" version="4.20.0.v20210630020001"/>
            <unit id="org.eclipse.babel.nls_technology.jgit_pt_BR.feature.group" version="4.20.0.v20210630020001"/>
            <repository location="https://download.eclipse.org/technology/babel/update-site/R0.19.0/2021-06/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://dist.springsource.org/release/GRECLIPSE/e4.20"/>
            <unit id="org.codehaus.groovy.compilerless.feature.feature.group" version="4.2.0.v202106301814-e2106-RELEASE"/>
            <unit id="org.codehaus.groovy.m2eclipse.feature.feature.group" version="4.2.0.v202106301814-e2106-RELEASE"/>
	        <unit id="org.codehaus.groovy30.feature.feature.group" version="4.2.0.v202106301814-e2106-RELEASE"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">    			
            <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210223232630/repository"/>
            <unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.12.1.v20210128-1726"/>
            <unit id="com.fasterxml.jackson.core.jackson-core" version="2.12.1.v20210128-1726"/>
            <unit id="com.fasterxml.jackson.core.jackson-databind" version="2.12.1.v20210128-1726"/>
            <unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="2.12.1.v20210128-1726"/>
            <unit id="org.json" version="1.0.0.v201011060100"/>
            <unit id="javax.jws" version="2.0.0.v201005080400"/>
            <unit id="javax.xml.soap" version="1.3.0.v201105210645"/>
            <unit id="org.assertj" version="3.14.0.v20200120-1926"/>
        </location>
    </locations>
</target>