<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="platform" sequenceNumber="1744625531">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="21.0.5.v20241023-1957"/>
      <repository id="JustJ" location="https://download.eclipse.org/justj/jres/21/updates/release/21.0.5/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="4.2.1.202406141605"/>
      <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="4.2.1.202406141605"/>
      <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="4.2.1.202406141605"/>
      <unit id="org.eclipse.swtbot.feature.group" version="4.2.1.202406141605"/>
      <unit id="org.eclipse.swtbot.forms.feature.group" version="4.2.1.202406141605"/>
      <repository id="SWTBot" location="https://download.eclipse.org/technology/swtbot/releases/4.2.1/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.1400.v20240820-0604"/>
      <unit id="org.eclipse.egit.feature.group" version="7.0.0.202409031743-r"/>
      <unit id="org.eclipse.egit.gitflow.feature.feature.group" version="7.0.0.202409031743-r"/>
      <unit id="org.eclipse.emf.compare.egit.feature.group" version="3.3.24.202401051648"/>
      <unit id="org.eclipse.datatools.connectivity.feature.feature.group" version="1.16.0.202311071345"/>
      <unit id="org.eclipse.datatools.enablement.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.31.0.v202405130132"/>
      <unit id="org.eclipse.wst.ws_ui.feature.feature.group" version="3.35.0.v202407071526"/>
      <unit id="org.eclipse.m2e.feature.feature.group" version="2.6.2.20240828-1954"/>
      <unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.4.1100.v202408152039"/>
      <unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.35.0.v202408152039"/>
      <unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.35.0.v202408161416"/>
      <unit id="org.eclipse.datatools.enablement.jdbc.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.enablement.msft.feature.feature.group" version="1.16.0.202311071307"/>
      <unit id="org.eclipse.datatools.enablement.mysql.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.enablement.oracle.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.enablement.postgresql.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.sqldevtools.sqlbuilder.feature.feature.group" version="1.16.0.202403060703"/>
      <unit id="org.eclipse.datatools.enablement.apache.derby.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.enablement.hsqldb.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.enablement.ibm.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.enablement.ingres.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.enablement.oda.designer.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.enablement.oda.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.enablement.sap.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.enablement.sqlite.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.enablement.sybase.feature.feature.group" version="1.15.0.202311071249"/>
      <unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.16.1.202403060734"/>
      <unit id="org.eclipse.emf.compare.diagram.gmf.feature.group" version="3.3.24.202401051648"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.24.202401051648"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="3.3.24.202401051648"/>
      <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.2500.v20240812-2151"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.33.0.v20240903-0618"/>
      <unit id="org.eclipse.wst.jsdt.feature.feature.group" version="2.4.500.v202307190318"/>
      <unit id="org.eclipse.wst.json_ui.feature.feature.group" version="1.1.11.v202308160419"/>
      <unit id="com.sun.jna.platform" version="5.14.0"/>
      <unit id="org.eclipse.gmf.feature.group" version="1.16.4.202405171447"/>
      <unit id="org.eclipse.m2e.logback.feature.feature.group" version="2.6.1.20240411-1743"/>
      <repository id="E2024-09" location="https://download.eclipse.org/releases/2024-09"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.edapt.runtime.feature.feature.group" version="1.5.0.202201311430"/>
      <repository id="Edapt" location="http://download.eclipse.org/edapt/releases/15x/150"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.richtext.feature.feature.group" version="1.5.1.202402011804"/>
      <repository id="Nebula" location="https://download.eclipse.org/nebula/updates/release/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="de.jcup.asciidoctoreditor.feature.group" version="3.1.1"/>
      <repository id="AsciiDoctor" location="https://de-jcup.github.io/update-site-eclipse-asciidoctor-editor/update-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="de.jcup.yamleditor.feature.group" version="1.9.0"/>
      <repository id="Yaml" location="https://de-jcup.github.io/update-site-eclipse-yaml-editor/update-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="net.sourceforge.plantuml.lib.feature.feature.group" version="1.2021.5"/>
      <repository id="PlantUML" location="https://hallvard.github.io/plantuml/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.babel.nls_eclipse_es.feature.group" version="4.26.0.v20230220105658"/>
      <unit id="org.eclipse.babel.nls_eclipse_fr.feature.group" version="4.26.0.v20230220105658"/>
      <unit id="org.eclipse.babel.nls_eclipse_ja.feature.group" version="4.26.0.v20230220105658"/>
      <unit id="org.eclipse.babel.nls_eclipse_pt_BR.feature.group" version="4.26.0.v20230220105658"/>
      <unit id="org.eclipse.babel.nls_technology.egit_es.feature.group" version="4.26.0.v20230220105658"/>
      <unit id="org.eclipse.babel.nls_technology.egit_fr.feature.group" version="4.26.0.v20230220105658"/>
      <unit id="org.eclipse.babel.nls_technology.egit_ja.feature.group" version="4.26.0.v20230220105658"/>
      <unit id="org.eclipse.babel.nls_technology.egit_pt_BR.feature.group" version="4.26.0.v20230220105658"/>
      <unit id="org.eclipse.babel.nls_technology.jgit_es.feature.group" version="4.26.0.v20230220105658"/>
      <unit id="org.eclipse.babel.nls_technology.jgit_fr.feature.group" version="4.26.0.v20230220105658"/>
      <unit id="org.eclipse.babel.nls_technology.jgit_ja.feature.group" version="4.26.0.v20230220105658"/>
      <unit id="org.eclipse.babel.nls_technology.jgit_pt_BR.feature.group" version="4.26.0.v20230220105658"/>
      <repository id="Babel" location="https://download.eclipse.org/technology/babel/update-site/R0.20.0/2022-12/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.codehaus.groovy.compilerless.feature.feature.group" version="5.5.0.v202409302028-e2409"/>
      <unit id="org.codehaus.groovy.m2eclipse.feature.feature.group" version="5.5.0.v202409302028-e2409"/>
      <unit id="org.codehaus.groovy30.feature.feature.group" version="5.5.0.v202409302028-e2409"/>
      <unit id="org.codehaus.groovy.eclipse.feature.feature.group" version="5.5.0.v202409302028-e2409"/>
      <repository id="Groovy" location="https://groovy.jfrog.io/artifactory/plugins-release/e4.33"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.bonitasoft.bonita2bpmn.feature.feature.group" version="9.0.2"/>
      <unit id="org.bonitasoft.bpm.connector.feature.feature.group" version="9.0.2"/>
      <unit id="org.bonitasoft.bpm.definitions.feature.feature.group" version="9.0.2"/>
      <unit id="org.bonitasoft.bpm.model.feature.feature.group" version="9.0.2"/>
      <unit id="org.bonitasoft.bpm.tests.feature.feature.group" version="9.0.2"/>
      <unit id="com.fasterxml.jackson.feature.feature.group" version="2.18.3"/>
      <unit id="org.bonitasoft.artifacts.model.feature.feature.group" version="1.2.2"/>
      <unit id="org.bonitasoft.bonita2bar.feature.feature.group" version="9.0.2"/>
      <repository id="BonitasoftBPM" location="mvn:org.bonitasoft.bpm:org.bonitasoft.bpm.eclipse-repository:9.0.2:zip"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.apache.commons.commons-io" version="2.16.1"/>
      <repository id="Orbit2024-03" location="https://download.eclipse.org/tools/orbit/simrel/maven-osgi/2024-09/"/>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile,runtime,system" includeSource="true" missingManifest="generate" type="Maven" label="BonitaArtifactsModels">
      <feature id="org.bonitasoft.artifacts.model.studio.feature.feature.group" label="Extra Bonita Artifacts Models required by Studio but not in BonitasoftBPM" provider-name="Bonitasoft S.A" version="1.2.2">
      </feature>
      <dependencies>
        <dependency>
          <groupId>com.sun.activation</groupId>
          <artifactId>jakarta.activation</artifactId>
          <version>1.2.2</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>com.sun.xml.bind</groupId>
          <artifactId>jaxb-osgi</artifactId>
          <version>2.3.8</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>jakarta.xml.bind</groupId>
          <artifactId>jakarta.xml.bind-api</artifactId>
          <version>2.3.3</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bonitasoft.engine</groupId>
          <artifactId>bonita-application-model</artifactId>
          <version>1.2.2</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bonitasoft.engine</groupId>
          <artifactId>bonita-bdm-access-control-model</artifactId>
          <version>1.2.2</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bonitasoft.engine</groupId>
          <artifactId>bonita-business-object-model</artifactId>
          <version>1.2.2</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bonitasoft.engine</groupId>
          <artifactId>bonita-organization-model</artifactId>
          <version>1.2.2</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bonitasoft.engine</groupId>
          <artifactId>bonita-profile-model</artifactId>
          <version>1.2.2</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.glassfish.hk2</groupId>
          <artifactId>osgi-resource-locator</artifactId>
          <version>2.4.0</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <repositories>
        <repository>
          <id>maven-central</id>
          <url>https://repo1.maven.org/maven2</url>
        </repository>
      </repositories>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile,runtime,system" includeSource="true" missingManifest="generate" type="Maven" label="BonitaProjectReportModel">
      <feature id="org.bonitasoft.project.report.model.feature" label="Bonita Project Report Model Feature" provider-name="Bonitasoft S.A" version="1.0.4">
      </feature>
      <dependencies>
        <dependency>
          <groupId>org.bonitasoft.maven</groupId>
          <artifactId>bonita-project-report-model</artifactId>
          <version>1.0.4</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <repositories>
        <repository>
          <id>maven-central</id>
          <url>https://repo1.maven.org/maven2</url>
        </repository>
      </repositories>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime,system" includeSource="false" missingManifest="generate" type="Maven" label="MavenDependenciesWithInfiniteDepth">
      <dependencies>
        <dependency>
          <groupId>jakarta.xml.soap</groupId>
          <artifactId>jakarta.xml.soap-api</artifactId>
          <version>1.4.2</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.assertj</groupId>
          <artifactId>assertj-core</artifactId>
          <version>3.26.3</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.awaitility</groupId>
          <artifactId>awaitility</artifactId>
          <version>4.2.2</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.mockito</groupId>
          <artifactId>mockito-junit-jupiter</artifactId>
          <version>5.8.0</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>
