<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.connectors.connectorWizard">
      <connectorWizard
            DefinitionId="salesforce-createsobject"
            priority="1"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.connector.wizard.sforce.pages.SForceConnectionWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.connector.wizard.sforce.pages.SForceCreateObjectWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="salesforce-deletesobjects"
            priority="1"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.connector.wizard.sforce.pages.SForceConnectionWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.connector.wizard.sforce.pages.SForceDeletesObjectsWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="salesforce-querysobjects"
            priority="1"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.connector.wizard.sforce.pages.SForceConnectionWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.connector.wizard.sforce.pages.SForceQuerysObjectsWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="salesforce-retrievesobjects"
            priority="1"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.connector.wizard.sforce.pages.SForceConnectionWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.connector.wizard.sforce.pages.SForceRetrievesObjectsWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="salesforce-updatesobject"
            priority="1"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.connector.wizard.sforce.pages.SForceConnectionWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.connector.wizard.sforce.pages.SForceUpdatesObjectWizardPage">
         </configurationPage>
      </connectorWizard>
   </extension>
</plugin>
