<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="comboElementProvider" name="Provider for the Text or Data or Enum or... Widget" schema="schema/comboElementProvider.exsd"/>
   <extension-point id="textordataFactory" name="TextOrData Factory" schema="schema/textordataFactory.exsd"/>
   <extension
         point="org.codehaus.groovy.eclipse.ui.syntaxHighlightingExtension">
      <highlightingExtender
            extender="org.bonitasoft.studio.groovy.ui.contentassist.BonitaSyntaxHighlighting"
            natureID="org.bonitasoft.studio.common.repository.bonitaNature">
      </highlightingExtender>
   </extension>
   <extension
         point="org.bonitasoft.studio.groovy.ui.comboElementProvider">
      <comboElementsProvider
            priority="9"
            providerClass="org.bonitasoft.studio.groovy.ui.widgets.GroovyComboProvider">
      </comboElementsProvider>
      <comboElementsProvider
            priority="0"
            providerClass="org.bonitasoft.studio.groovy.ui.widgets.pojo.JavaObjectComboProvider">
      </comboElementsProvider>
      <comboElementsProvider
            priority="0"
            providerClass="org.bonitasoft.studio.groovy.ui.widgets.multiple.MultipleDataComboProvider">
      </comboElementsProvider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.bonitasoft.studio.application.project.explorer.new?after=org.bonitasoft.studio.actors.newFilterImpl">
         <separator
               name="org.bonitasoft.studio.groovy.ui.separator"
               visible="true">
         </separator>
         <command
               commandId="org.bonitasoft.studio.groovy.ui.newScript"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <or>
                     <iterate>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.bonitasoft.studio.application.isBonitaProject">
                        </test>
                     </iterate>
                  </or>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.bonitasoft.studio.groovy.ui.newScript"
            name="%GroovyClass">
      </command>
   </extension>
   <extension
         point="org.bonitasoft.studio.scripting.scriptLanguageProvider">
      <scriptLanguage
            languageProviderClass="org.bonitasoft.studio.groovy.ui.providers.GroovyScriptLanguageProvider">
      </scriptLanguage>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.synchronizer">
      <synchronier
            class="org.bonitasoft.studio.groovy.ui.providers.ProcessGroovyScriptConfigurationSynchronizer">
      </synchronier>
      <synchronier
            class="org.bonitasoft.studio.groovy.ui.providers.ApplicationGroovyScriptConfigurationSynchronizer">
      </synchronier>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.exportConfigurationAction">
      <exportConfigurationAction
            class="org.bonitasoft.studio.groovy.ui.providers.ExportGroovyScriptAction">
      </exportConfigurationAction>
   </extension>
   <extension point="org.eclipse.jdt.groovy.core.typeLookup">
    	<lookup lookup="org.bonitasoft.studio.groovy.ui.contentassist.BonitaConstantsTypeLookup">
      		<appliesTo projectNature="org.bonitasoft.studio.common.repository.bonitaNature"/>
    	</lookup>
	</extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bonitasoft.studio.groovy.ui.handler.NewGroovyScript"
            commandId="org.bonitasoft.studio.groovy.ui.newScript">
      </handler>
      <handler
            class="org.bonitasoft.studio.groovy.ui.handler.NewGroovyScript"
            commandId="org.bonitasoft.studio.application.newWithWizard">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <test
                        property="org.bonitasoft.studio.groovy.ui.isGroovySrcFolder">
                  </test>
                </iterate>
            </and>
          </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.bonitasoft.studio.groovy.ui.newScript"
            icon="icons/newgroovyclass_wiz.gif">
      </image>
   </extension>


</plugin>
