<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension-point id="connectorWizard" name="Custom Connector Wizard" schema="schema/connectorWizard.exsd"/>
   <extension-point id="connectorDefinitionMapper" name="Connector Definition Mapper" schema="schema/connectorMapper.exsd"/>
   <extension-point id="connectorDefFilter" name="Connector Definition Filter" schema="schema/connectorDefFilter.exsd"/>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.bonitasoft.studio.connectors.handler.NewConnectorDefinitionHandler"
            id="org.bonitasoft.studio.connectors.newDefinition"
            name="%newConnectorDefinition">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.connectors.handler.EditConnectorDefinitionHandler"
            id="org.bonitasoft.studio.connectors.editDefinition"
            name="%editDefinition">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.connectors.handler.ExportConnectorHandler"
            id="org.bonitasoft.studio.connectors.exportConnector"
            name="%exportConnector">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.connectors.handler.ImportConnectorHandler"
            id="org.bonitasoft.studio.connectors.importConnector"
            name="%importConnector">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.connectors.handler.NewConnectorImplementationHandler"
            id="org.bonitasoft.studio.connectors.newImplementation"
            name="%newConnectorImplementation">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.connectors.handler.EditConnectorImplementationHandler"
            id="org.bonitasoft.studio.connectors.editImplementation"
            name="%editConnectorImplementation">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.connectors.handler.TestConnectorWizardHandler"
            id="org.bonitasoft.studio.connectors.testConnector"
            name="%testConnector">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.connectors.handler.EditConnectorConfigurationHandler"
            id="org.bonitasoft.studio.connectors.editConnectorConfiguration"
            name="%editConnectorConfiguration">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.bonitasoft.studio.diagram">
         <propertyTab
               afterTab="tab.operations"
               category="domain"
               id="tab.connectors.out"
               label="%tab.connectors.out">
         </propertyTab>
         <propertyTab
               category="domain"
               id="tab.connectors.in"
               label="%tab.connectors.in">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.bonitasoft.studio.diagram">
         <propertySection
               class="org.bonitasoft.studio.connectors.ui.property.section.ConnectorOutSection"
               enablesFor="1"
               filter="org.bonitasoft.studio.connectors.ui.property.filter.ConnectableElementWithoutSendTaskAndSubProcessEvent"
               id="ConnectorsOutSection"
               tab="tab.connectors.out"
               viewID="org.bonitasoft.studio.views.properties.process.execution">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.connectors.ui.property.section.ConnectorInSection"
               enablesFor="1"
               filter="org.bonitasoft.studio.connectors.ui.property.filter.ConnectableElementWithoutSendTaskAndSubProcessEvent"
               id="ConnectorsInSection"
               tab="tab.connectors.in"
               viewID="org.bonitasoft.studio.views.properties.process.execution">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.connectors.repository.ConnectorImplRepositoryStore">
      </repositoryStore>
      <repositoryStore
            class="org.bonitasoft.studio.connectors.repository.ConnectorConfRepositoryStore">
      </repositoryStore>
      <repositoryStore
            class="org.bonitasoft.studio.connectors.repository.ConnectorDefRepositoryStore">
      </repositoryStore>
      <repositoryStore
            class="org.bonitasoft.studio.connectors.repository.ConnectorSourceRepositoryStore">
      </repositoryStore>
      <repositoryStore
            class="org.bonitasoft.studio.connectors.repository.DatabaseConnectorPropertiesRepositoryStore">
      </repositoryStore>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.expressionProvider">
      <expressionProvider
            providerClass="org.bonitasoft.studio.connectors.expression.ConnectorOutputExpressionProvider">
      </expressionProvider>
      <expressionProvider
            providerClass="org.bonitasoft.studio.connectors.expression.ConnectorExpressionProvider">
      </expressionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.bonitasoft.studio.development?before=org.bonitasoft.studio.document.manageResources.command">
         <dynamic
               class="org.bonitasoft.studio.connectors.menu.ConnectorMenuContributionItem"
               id="org.bonitasoft.studio.menu.connector">
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="isBonitaPerspectiveActive">
               </reference>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.synchronizer">
      <synchronier
            class="org.bonitasoft.studio.connectors.configuration.ConnectorsConfigurationSynchronizer">
      </synchronier>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.wizardPage">
      <configurationWizardPage
            class="org.bonitasoft.studio.connectors.configuration.ConnectorConfigurationWizardPage"
            priority="3">
      </configurationWizardPage>
   </extension>
   <extension
         point="org.bonitasoft.studio.common.barResourcesProvider">
      <barResourceProvider
            providerClass="org.bonitasoft.studio.connectors.configuration.ConnectorBarResourceProvider">
      </barResourceProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.bosArchiveProvider">
      <bosArchiveProvider
            providerClass="org.bonitasoft.studio.connectors.repository.ConnectorResourceProvider">
      </bosArchiveProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.exportConfigurationAction">
      <exportConfigurationAction
            class="org.bonitasoft.studio.connectors.configuration.ExportConnectorAction">
      </exportConfigurationAction>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.bonitasoft.studio.preferences.pages.BPM"
            class="org.bonitasoft.studio.connectors.ui.preferences.DBConnectorsPreferencePage"
            id="org.bonitasoft.studio.preferences.dbconnectors"
            name="DBConnectors">
      </page>
   </extension>
   <extension
         point="org.bonitasoft.studio.connectors.connectorWizard">
      <connectorWizard
            DefinitionId="scripting-groovy-script"
            canFinishProvider="org.bonitasoft.studio.connectors.ui.wizard.custom.GroovyScriptConfigurationWizardPage"
            priority="1"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.connectors.ui.wizard.custom.GroovyScriptConfigurationWizardPage">
         </configurationPage>
      </connectorWizard>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.bonitasoft.studio.connectors.propertyTester.ConnectorPropertyTester"
            id="org.bonitasoft.studio.connectors.propertyTester"
            namespace="org.bonitasoft.studio.connectors"
            properties="isConnectorDefFolder,isConnectorDefFile,isConnectorImplFolder,isConnectorImplFile"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bonitasoft.studio.connectors.handler.ExportConnectorHandler"
            commandId="org.bonitasoft.studio.application.export">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.bonitasoft.studio.connectors.isConnectorImplFolder">
                     </test>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.connectors.handler.ExportSingleConnectorHandler"
            commandId="org.bonitasoft.studio.application.export">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.bonitasoft.studio.connectors.isConnectorImplFile">
                     </test>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.connectors.handler.ExportConnectorFromDefinitionHandler"
            commandId="org.bonitasoft.studio.application.export">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.bonitasoft.studio.connectors.isConnectorDefFile">
                     </test>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.bonitasoft.studio.connectors.connectorWizard">
      <connectorWizard
            DefinitionId="webservice"
            canBeUsedProvider="org.bonitasoft.studio.connectors.ui.wizard.custom.webservice.IsConnectorEditing"
            priority="1"
            useDefaultGeneratedPages="true"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.connectors.ui.wizard.custom.webservice.SecuredWSConnectorWizardPage">
         </configurationPage>
      </connectorWizard>
   </extension>
   <extension
         point="org.bonitasoft.studio.connectors.connectorWizard">
      <connectorWizard
            DefinitionId="email"
            priority="5"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.connector.model.definition.wizard.GeneratedConnectorWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.connector.model.definition.wizard.GeneratedConnectorWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.connectors.ui.wizard.custom.MailContentWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.connector.model.definition.wizard.GeneratedConnectorWizardPage">
         </configurationPage>
      </connectorWizard>
   </extension>
   <extension
         point="org.bonitasoft.studio.connectors.connectorWizard">
      <connectorWizard
            DefinitionId="twitter-direct"
            priority="1"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.connectors.ui.wizard.custom.twitter.TwitterConnectionWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.connectors.ui.wizard.custom.twitter.TwitterDirectMessageWizardPage">
         </configurationPage>
      </connectorWizard>
      <connectorWizard
            DefinitionId="twitter-update-status"
            priority="1"
            useDefaultGeneratedPages="false"
            useDefaultOutputPage="true">
         <configurationPage
               page="org.bonitasoft.studio.connectors.ui.wizard.custom.twitter.TwitterConnectionWizardPage">
         </configurationPage>
         <configurationPage
               page="org.bonitasoft.studio.connectors.ui.wizard.custom.twitter.TwitterUpdateStatusWizardPage">
         </configurationPage>
      </connectorWizard>
   </extension>
   <extension
         id="org.bonitasoft.studio.connectors.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi"
            apply="always">
      </fragment>
   </extension>

</plugin>
