<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Categories"
         point="org.eclipse.ui.activities">
      <category
            id="org.bonitasoft.studio.profiles.processmodeling"
            name="Process Modeling">
      </category>

      <category
            id="org.bonitasoft.studio.profiles.formsmodeling"
            name="Forms Modeling">
      </category>
      <category
            id="org.bonitasoft.studio.profiles.appearance"
            name="Appearance Customization">
      </category>
      <category
            id="org.bonitasoft.studio.profiles.validation"
            name="Validation">
      </category>
      <category
            id="org.bonitasoft.studio.profiles.dependencies"
            name="Dependencies Management">
      </category>
      <category
            id="org.bonitasoft.studio.profiles.execution"
            name="Execution/Deployment">
      </category>
      <category
            id="org.bonitasoft.studio.profiles.connectors"
            name="Connectors">
      </category>
      <category
            id="org.bonitasoft.studio.profiles.datamanagement"
            name="Data Management">
      </category>
       <category
            id="org.bonitasoft.studio.profiles.looknfeels"
            name="Look&apos;n&apos;Feels">
      </category>
      <category
            id="org.bonitasoft.studio.profiles.validators"
            name="Validators">
      </category>
      
      
       </extension>
   <extension
         name="Activities"
         point="org.eclipse.ui.activities">
      <activity
            id="org.bonitasoft.studio.profiles.application.view"
            name="Application View">
      </activity>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.application.view"
            isEqualityPattern="true"
            pattern="org.bonitasoft.studio.application/org.bonitasoft.studio.views.properties.application">
      </activityPatternBinding>
      <activity
            id="org.bonitasoft.studio.profiles.genral.view"
            name="General View">
      </activity>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.genral.view"
            isEqualityPattern="true"
            pattern="org.bonitasoft.studio.application/org.bonitasoft.studio.views.properties.process.general">
      </activityPatternBinding>
      <activity
            id="org.bonitasoft.studio.profiles.appearance.view"
            name="Appearance View">
      </activity>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.appearance.view"
            isEqualityPattern="true"
            pattern="org.bonitasoft.studio.application/org.bonitasoft.studio.views.properties.process.appearance">
      </activityPatternBinding>
      <activity
            id="org.bonitasoft.studio.profiles.connector.menu"
            name="Connector Menu">
      </activity>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.connector.menu"
            isEqualityPattern="false"
            pattern="org.bonitasoft.studio.connectors/org.bonitasoft.studio.connectors.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.connector.menu"
            isEqualityPattern="false"
            pattern="org.bonitasoft.studio.actors/org.bonitasoft.studio.actors.*">
      </activityPatternBinding>
      <activity
            id="org.bonitasoft.studio.profiles.dependencies.menu"
            name="Dependencies Menu">
      </activity>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.dependencies.menu"
            isEqualityPattern="false"
            pattern="org.bonitasoft.studio.dependencies/org.bonitasoft.studio.dependencies.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.dependencies.menu"
            isEqualityPattern="false"
            pattern="org.bonitasoft.studio.dependencies/org.bonitasoft.studio.application.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.dependencies.menu"
            isEqualityPattern="false"
            pattern="org.bonitasoft.studio.groovy.ui/org.bonitasoft.studio.groovy.ui.*">
      </activityPatternBinding>
      <activity
            id="org.bonitasoft.studio.profiles.run.menu"
            name="Run Menu">
      </activity>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.run.menu"
            isEqualityPattern="false"
            pattern="org.bonitasoft.studio.engine/org.bonitasoft.studio.engine.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.run.menu"
            isEqualityPattern="false"
            pattern="org.bonitasoft.studio.engine/org.bonitasoft.studio.application.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.run.menu"
            isEqualityPattern="false"
            pattern="org.bonitasoft.studio.configuration/org.bonitasoft.studio.configuration.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.run.menu"
            isEqualityPattern="false"
            pattern="org.bonitasoft.studio.debug/org.bonitasoft.studio.debug.*">
      </activityPatternBinding>
      <activity
            id="org.bonitasoft.studio.profiles.validation.activity"
            name="Validation Activity">
      </activity>
      <activity
            id="org.bonitasoft.studio.profiles.actors.menu"
            name="Actors Menu">
      </activity>
      <activity
            id="org.bonitasoft.studio.profiles.connector.tab"
            name="Connectord Tab">
      </activity>
      <activity
            id="org.bonitasoft.studio.profiles.data.tab"
            name="Data Tab">
      </activity>
      <activity
            id="org.bonitasoft.studio.profiles.validators.menu"
            name="Validators Menu">
      </activity>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.validators.menu"
            isEqualityPattern="false"
            pattern="org.bonitasoft.studio.validators/org.bonitasoft.studio.validators.*">
      </activityPatternBinding>
      <activity
            id="org.bonitasoft.studio.profiles.looknfeel.tab"
            name="Look&apos;n&apos;Feel tab">
      </activity>
      <activity
            id="org.bonitasoft.studio.profiles.execution.view"
            name="Execution View">
      </activity>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.execution.view"
            isEqualityPattern="true"
            pattern="org.bonitasoft.studio.application/org.bonitasoft.studio.views.properties.process.execution">
      </activityPatternBinding>
      <activity
            id="org.bonitasoft.studio.profiles.data.view"
            name="Data View">
      </activity>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.data.view"
            isEqualityPattern="true"
            pattern="org.bonitasoft.studio.application/org.bonitasoft.studio.views.properties.process.data">
      </activityPatternBinding>
      <activity
            id="org.bonitasoft.studio.profiles.uidesigner.menu"
            name="UI Designer Menu">
      </activity>
      <activityPatternBinding
            activityId="org.bonitasoft.studio.profiles.uidesigner.menu"
            isEqualityPattern="false"
            pattern="org.bonitasoft.studio.designer/org.bonitasoft.studio.pagedesigner.*">
      </activityPatternBinding>
   </extension>
   <extension
         name="Activities Binding"
         point="org.eclipse.ui.activities">
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.application.view"
            categoryId="org.bonitasoft.studio.profiles.formsmodeling">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.connector.tab"
            categoryId="org.bonitasoft.studio.profiles.connectors">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.genral.view"
            categoryId="org.bonitasoft.studio.profiles.processmodeling">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.appearance.view"
            categoryId="org.bonitasoft.studio.profiles.appearance">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.run.menu"
            categoryId="org.bonitasoft.studio.profiles.execution">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.dependencies.menu"
            categoryId="org.bonitasoft.studio.profiles.dependencies">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.validation.activity"
            categoryId="org.bonitasoft.studio.profiles.validation">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.connector.menu"
            categoryId="org.bonitasoft.studio.profiles.connectors">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.data.tab"
            categoryId="org.bonitasoft.studio.profiles.datamanagement">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.validators.menu"
            categoryId="org.bonitasoft.studio.profiles.validators">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.looknfeel.tab"
            categoryId="org.bonitasoft.studio.profiles.looknfeels">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.execution.view"
            categoryId="org.bonitasoft.studio.profiles.execution">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.data.view"
            categoryId="org.bonitasoft.studio.profiles.datamanagement">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.bonitasoft.studio.profiles.uidesigner.menu"
            categoryId="org.bonitasoft.studio.profiles.formsmodeling">
      </categoryActivityBinding>
   </extension>
     <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.bonitasoft.studio.profiles.ProfilePreferenceInitializer">
      </initializer>
   </extension>
     <extension
           point="org.bonitasoft.studio.repositoryStore">
        <repositoryStore
              class="org.bonitasoft.studio.profiles.repository.ProfileRepositoryStore">
        </repositoryStore>
     </extension>
     <extension
           point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
              class="org.bonitasoft.studio.profiles.manager.ActivityPropertyTester"
              id="org.eclipse.ui.activityPropertyTester"
              namespace="org.bonitasoft"
              properties="isActivityEnabled,isCategoryEnabled,is6XLegacyEnabled"
              type="org.eclipse.ui.IWorkbenchWindow">
        </propertyTester>
     </extension>

</plugin>
