<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.importer.import">
      <importFactory
            description="%import_BAR_desc"
            filterExtensions="*.bar"
            importerFactoryClass="org.bonitasoft.studio.importer.bar.factory.BarImporterFactory"
            inputName="%import_BAR_name"
            menuIcon="icons/bos-desc.png"
            priorityDisplay="2">
      </importFactory>
   </extension>
   <extension
         point="org.bonitasoft.studio.connectors.connectorDefinitionMapper">
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.EmailConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.GroovyConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.JDBCConnectorMapper">
      </connectorDefinitionMapper>
   </extension>

</plugin>
