<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.importer.import">
      <importFactory
            description="%import_BAR_desc"
            filterExtensions="*.bar"
            importerFactoryClass="org.bonitasoft.studio.importer.bar.factory.BarImporterFactory"
            inputName="%import_BAR_name"
            menuIcon="icons/bos-desc.png"
            priorityDisplay="2">
      </importFactory>
   </extension>
   <extension
         point="org.bonitasoft.studio.connectors.connectorDefinitionMapper">
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.EmailConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.GroovyConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.JDBCConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.TalendTISJobLauncherConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.TalendJobLauncherConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.WebServiceConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.MySQLConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.AS400ConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.MSSqlConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.PostgresConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.H2ConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.HSQLConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.DB2ConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.InformixConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.IngresConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.OracleConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.SybaseConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.TeradataConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.SapConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.CreateFolderAlfrescoConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.DeleteFolderAlfrescoConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.DeleteItemAlfrescoConnectorMapper">
      </connectorDefinitionMapper>
		<connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.SalesForceCreateObjectConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.SalesForceRetrieveObjectsConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.SalesForceQueryObjectsConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.SalesForceUpdateObjectConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.SalesForceDeleteObjectsConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.UploadFileAlfrescoConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.TwitterDirectConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.TwitterUpdateConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.CMISCreateFolderConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.CMISDeleteFolderConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.CMISUploadDocumentConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.CMISDeleteObjectConnectorMapper">
      </connectorDefinitionMapper>
      <connectorDefinitionMapper
            class="org.bonitasoft.studio.importer.bar.custom.migration.connector.mapper.CMISDownloadDocumentConnectorMapper">
      </connectorDefinitionMapper>
   </extension>

</plugin>


