<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.bonitasoft.studio.properties.form.action.data" name="Data section addition" schema="schema/org.bonitasoft.studio.properties.form.action.data.exsd"/>
      <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.bonitasoft.studio.diagram.form">
         <propertyTab
               category="domain"
               id="Form.GeneralTab"
               label="%form.general.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.GeneralTab"
               category="domain"
               id="Form.UserAidsTab"
               label="%form.useraids.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.UserAidsTab"
               category="domain"
               id="Form.OptionsTab"
               label="%form.options.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.OptionsTab"
               category="domain"
               id="Form.DataTab"
               label="%form.Data.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.DataTab"
               category="domain"
               id="Form.ButtonActionsTab"
               label="%form.Actions.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.DataTab"
               category="domain"
               id="Form.FormActionsTab"
               label="%form.Actions.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.GridTab"
               category="domain"
               id="Form.AppearanceTab.Cell"
               label="%form.appearance.cell.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.AppearanceTab.Cell"
               category="domain"
               id="Form.AppearanceTab.Label"
               label="%form.appearance.label.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.AppearanceTab.Label"
               category="domain"
               id="Form.AppearanceTab.Field"
               label="%form.appearance.field.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.AppearanceTab.Field"
               category="domain"
               id="Form.AppearanceTab.Table"
               label="%form.appearance.table.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.AppearanceTab.Table"
               category="domain"
               id="Form.AppearanceTab.TableCells"
               label="%form.appearance.tablecells.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.AppearanceTab.TableCells"
               category="domain"
               id="Form.AppearanceTab.TableHeaders"
               label="%form.appearance.tableheaders.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.AppearanceTab.TableHeaders"
               category="domain"
               id="Form.AppearanceTab.Add"
               label="%form.appearance.addbutton.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.AppearanceTab.Add"
               category="domain"
               id="Form.AppearanceTab.Remove"
               label="%form.appearance.removebutton.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.AppearanceTab.Remove"
               category="domain"
               id="Form.AppearanceTab.Items"
               label="%form.appearance.items.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.AppearanceTab.Items"
               category="domain"
               id="Form.AppearanceTab.SuggestPanel"
               label="%form.appearance.suggest.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.AppearanceTab.SuggestPanel"
               category="domain"
               id="Form.GridTab"
               label="%form.grid.tab">
         </propertyTab>
         <propertyTab
               afterTab="Form.AppearanceTab.TableCells"
               category="domain"
               id="Form.AppearanceTab.Image"
               label="%form.appearance.image.tab">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.bonitasoft.studio.diagram.form">
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.general.GeneralPropertySection"
               filter="org.bonitasoft.studio.properties.form.filters.GeneralFilter"
               id="Form.GeneralSection"
               tab="Form.GeneralTab"
               viewID="org.bonitasoft.studio.views.properties.form.general">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.useraids.UserAidsPropertySection"
               filter="org.bonitasoft.studio.properties.form.filters.WidgetExceptGroupFilter"
               id="Form.UserAidsSection"
               tab="Form.UserAidsTab"
               viewID="org.bonitasoft.studio.views.properties.form.general">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.options.OptionsPropertySection"
               filter="org.bonitasoft.studio.properties.form.filters.WidgetFilter"
               id="Form.OptionsSection"
               tab="Form.OptionsTab"
               viewID="org.bonitasoft.studio.views.properties.form.general">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.actions.FormActionsPropertySection"
               filter="org.bonitasoft.studio.properties.form.filters.ConsultationFilter"
               id="Form.FormActionsSection"
               tab="Form.FormActionsTab"
               viewID="org.bonitasoft.studio.views.properties.form.general">
            <input
                  type="org.bonitasoft.studio.diagram.form.custom.parts.CustomFormEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.actions.FormActionsPropertySection"
               filter="org.bonitasoft.studio.properties.form.filters.SubmitButtonFilter"
               id="Form.ButtonActionsSection"
               tab="Form.ButtonActionsTab"
               viewID="org.bonitasoft.studio.views.properties.form.general">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.actions.table.TableDataPropertySection"
               filter="org.bonitasoft.studio.properties.form.filters.TableWidget"
               id="Form.TableDataSection"
               tab="Form.DataTab"
               viewID="org.bonitasoft.studio.views.properties.form.general">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.actions.table.DynamicTableDataPropertySection"
               filter="org.bonitasoft.studio.properties.form.filters.DynamicTableFilter"
               id="Form.DynamicTableSection"
               tab="Form.DataTab"
               viewID="org.bonitasoft.studio.views.properties.form.general">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.actions.DataPropertySection"
               filter="org.bonitasoft.studio.properties.form.filters.NotButtonWidget"
               id="Form.DataSection"
               tab="Form.DataTab"
               viewID="org.bonitasoft.studio.views.properties.form.general">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.grid.GridSection"
               filter="org.bonitasoft.studio.properties.form.filters.WidgetFilter"
               id="Form.GridSection"
               tab="Form.GridTab"
               viewID="org.bonitasoft.studio.views.properties.form.appearance">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.appearance.CellAppearanceSection"
               filter="org.bonitasoft.studio.properties.form.filters.AppearanceFilter"
               id="Form.Appearance.Cell"
               tab="Form.AppearanceTab.Cell"
               viewID="org.bonitasoft.studio.views.properties.form.appearance">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.appearance.LabelAppearanceSection"
               filter="org.bonitasoft.studio.properties.form.filters.LabelAppearanceFilter"
               id="Form.Appearance.Label"
               tab="Form.AppearanceTab.Label"
               viewID="org.bonitasoft.studio.views.properties.form.appearance">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.appearance.FieldAppearanceSection"
               filter="org.bonitasoft.studio.properties.form.filters.AppearanceFilter"
               id="Form.Appearance.Field"
               tab="Form.AppearanceTab.Field"
               viewID="org.bonitasoft.studio.views.properties.form.appearance">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.appearance.TableAppearanceSection"
               filter="org.bonitasoft.studio.properties.form.filters.TableAppearanceFilter"
               id="Form.Appearance.Table"
               tab="Form.AppearanceTab.Table"
               viewID="org.bonitasoft.studio.views.properties.form.appearance">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.appearance.TableCellsAppearanceSection"
               filter="org.bonitasoft.studio.properties.form.filters.TableAppearanceFilter"
               id="Form.Appearance.TableCells"
               tab="Form.AppearanceTab.TableCells"
               viewID="org.bonitasoft.studio.views.properties.form.appearance">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.appearance.TableHeadersAppearanceSection"
               filter="org.bonitasoft.studio.properties.form.filters.TableAppearanceFilter"
               id="Form.Appearance.TableHeaders"
               tab="Form.AppearanceTab.TableHeaders"
               viewID="org.bonitasoft.studio.views.properties.form.appearance">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.appearance.ItemsAppearanceSection"
               filter="org.bonitasoft.studio.properties.form.filters.WidgetWithItems"
               id="Form.Appearance.Items"
               tab="Form.AppearanceTab.Items"
               viewID="org.bonitasoft.studio.views.properties.form.appearance">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.appearance.ItemsAppearanceSection"
               filter="org.bonitasoft.studio.properties.form.filters.SuggestBoxFilter"
               id="Form.Appearance.SuggestPanel"
               tab="Form.AppearanceTab.SuggestPanel"
               viewID="org.bonitasoft.studio.views.properties.form.appearance">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.form.sections.appearance.ImageAppearancePropertySection"
               filter="org.bonitasoft.studio.properties.form.filters.ImageFilter"
               id="Form.Appearance.Image"
               tab="Form.AppearanceTab.Image"
               viewID="org.bonitasoft.studio.views.properties.form.appearance">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
