<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.bonitasoft.org/organization"
            class="org.bonitasoft.studio.identity.organization.model.organization.OrganizationPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="organization"
            class="org.bonitasoft.studio.identity.organization.model.organization.util.OrganizationResourceFactoryImpl">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.bonitasoft.studio.menu.edit">
         <menu
               label="%actors_Label"
               id="org.bonitasoft.studio.actor.organizationMenu">
            <command
                  commandId="org.bonitasoft.studio.identity.organization.create.command"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.identity.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.identity.organization.open.command"
                  style="push">
            </command>
            <separator
                  name="separator0"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.organization.publish"
                  icon="icons/synchronize.png"
                  style="push">
            </command>
            <separator
                  name="separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.actors.export"
                  icon="icons/organization_export.png"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.actors.import"
                  icon="icons/organization_import.png"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.bonitasoft.studio.development?after=org.bonitasoft.studio.menu.connector">
         <menu
               label="%Filters"
               icon="icons/actor_filter.png"
               id="org.bonitasoft.studio.menu.filter">
            <command
                  commandId="org.bonitasoft.studio.actors.editFilterDef"
                  icon="icons/actor_filter-def-edit.png"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.actors.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.actors.editFilterImpl"
                  icon="icons/actor_filter-implem-edit.png"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.actors.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.actors.filter.export"
                  icon="icons/actor_filter-export.png"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.bonitasoft.studio.application.project.explorer.new?after=org.bonitasoft.studio.application.placeholder.organization">
         <command
               commandId="org.bonitasoft.studio.identity.organization.create.command"
               id="org.bonitasoft.studio.organization.manage.popup.menu"
               label="%newOrganizationLabel"
               mnemonic="O"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <or>
                        <iterate>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.bonitasoft.studio.application.isBonitaProject">
                           </test>
                        </iterate>
                     </or>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.bonitasoft.studio.identity.organization.handler.ExportOrganizationHandler"
            name="%export_Label"
            id="org.bonitasoft.studio.actors.export">
         <commandParameter
               id="organizationToExport"
               name="Organization to export"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.identity.actors.ui.handler.NewFilterDefinitionHandler"
            name="%newFilterDef"
            id="org.bonitasoft.studio.actors.newFilterDef">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.identity.actors.ui.handler.EditFilterDefinitionHandler"
            name="%editFilterDef"
            id="org.bonitasoft.studio.actors.editFilterDef">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.identity.actors.ui.handler.NewFilterImplementationHandler"
            name="%newFilterImpl"
            id="org.bonitasoft.studio.actors.newFilterImpl">
      </command>
      <command
            name="%installOrganization"
            id="org.bonitasoft.studio.engine.installOrganization">
         <commandParameter
               name="artifact"
               optional="false"
               id="artifact">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.identity.actors.ui.handler.EditFilterImplementationHandler"
            name="%editFilterImpl"
            id="org.bonitasoft.studio.actors.editFilterImpl">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.identity.actors.ui.handler.ExportActorFilterHandler"
            name="%export_Label"
            id="org.bonitasoft.studio.actors.filter.export">
      </command>
      <command
            defaultHandler="org.bonitasoft.studio.identity.actors.ui.handler.ImportActorFilterHandler"
            name="%import_Label"
            id="org.bonitasoft.studio.actors.filter.import">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.bonitasoft.studio.diagram">
         <propertyTab
               label="%actor_tab_label"
               category="domain"
               afterTab="tab.data"
               id="tab.actors">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.bonitasoft.studio.diagram">
         <propertySection
               filter="org.bonitasoft.studio.identity.actors.ui.section.filter.AssignableActorsFilter"
               tab="tab.actors"
               class="org.bonitasoft.studio.identity.actors.ui.section.AssignableActorsPropertySection"
               enablesFor="1"
               id="section.assignable.actors"
               viewID="org.bonitasoft.studio.views.properties.process.general">
         </propertySection>
         <propertySection
               filter="org.bonitasoft.studio.identity.actors.ui.section.filter.ProcessActorsFilter"
               tab="tab.actors"
               class="org.bonitasoft.studio.identity.actors.ui.section.ProcessActorsPropertySection"
               enablesFor="1"
               id="section.process.actors"
               viewID="org.bonitasoft.studio.views.properties.process.general">
         </propertySection>
         <propertySection
               filter="org.bonitasoft.studio.identity.actors.ui.section.filter.LaneActorFilter"
               tab="tab.actors"
               class="org.bonitasoft.studio.identity.actors.ui.section.LaneAssignableActorsPropertySection"
               enablesFor="1"
               id="section.lane.actors"
               viewID="org.bonitasoft.studio.views.properties.process.general">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.wizardPage">
      <configurationWizardPage
            priority="0"
            class="org.bonitasoft.studio.identity.actors.configuration.ActorMappingConfigurationWizardPage">
      </configurationWizardPage>
      <configurationWizardPage
            priority="6"
            class="org.bonitasoft.studio.identity.actors.configuration.ActorFilterConfigurationWizardPage">
      </configurationWizardPage>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.importConfigurationAction">
      <importConfigurationAction
            class="org.bonitasoft.studio.identity.actors.action.ImportActorMappingAction">
      </importConfigurationAction>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.exportConfigurationAction">
      <exportConfigurationAction
            class="org.bonitasoft.studio.identity.actors.action.ExportActorMappingAction">
      </exportConfigurationAction>
      <exportConfigurationAction
            class="org.bonitasoft.studio.identity.actors.configuration.ExportActorFiltersAction">
      </exportConfigurationAction>
   </extension>
   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.identity.organization.repository.OrganizationRepositoryStore">
      </repositoryStore>
      <repositoryStore
            class="org.bonitasoft.studio.identity.actors.repository.ActorFilterSourceRepositoryStore">
      </repositoryStore>
      <repositoryStore
            class="org.bonitasoft.studio.identity.actors.repository.ActorFilterDefRepositoryStore">
      </repositoryStore>
      <repositoryStore
            class="org.bonitasoft.studio.identity.actors.repository.ActorFilterImplRepositoryStore">
      </repositoryStore>
      <repositoryStore
            class="org.bonitasoft.studio.identity.actors.repository.ActorFilterConfRepositoryStore">
      </repositoryStore>
   </extension>
   <extension
         point="org.bonitasoft.studio.repository.fileContribution">
      <fileContribution
            class="org.bonitasoft.studio.identity.organization.repository.DefaultOrganizationContribution">
      </fileContribution>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.synchronizer">
      <synchronier
            class="org.bonitasoft.studio.identity.actors.configuration.ActorFiltersConfigurationSynchronizer">
      </synchronier>
      <synchronier
            class="org.bonitasoft.studio.identity.actors.configuration.ActorMappingConfigurationSynchronizer">
      </synchronier>
   </extension>
   <extension
         point="org.bonitasoft.studio.common.barResourcesProvider">
      <barResourceProvider
            providerClass="org.bonitasoft.studio.identity.actors.configuration.ActorFilterBarResourceProvider">
      </barResourceProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.bosArchiveProvider">
      <bosArchiveProvider
            providerClass="org.bonitasoft.studio.identity.actors.repository.ActorFilterResourceProvider">
      </bosArchiveProvider>
   </extension>
   <extension
         point="org.eclipse.emf.edapt.migrators">
      <migrator
            path="model/Organization.history">
      </migrator>
   </extension>
   <extension
         point="org.bonitasoft.studio.engine.postEngineAction">
      <action
            class="org.bonitasoft.studio.identity.organization.action.PublishActiveOrganizationAction">
      </action>
   </extension>
   <extension
         point="org.bonitasoft.studio.connectors.connectorWizard">
      <connectorWizard
            DefinitionId="custom-user-info"
            useDefaultOutputPage="true"
            priority="5"
            useDefaultGeneratedPages="false">
         <configurationPage
               page="org.bonitasoft.studio.identity.actors.ui.wizard.connector.CustomUserInfoConnectorConfigurationWizardPage">
         </configurationPage>
      </connectorWizard>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.bonitasoft.studio.engine.installOrganization"
            class="org.bonitasoft.studio.identity.organization.handler.InstallOrganizationHandler">
         <activeWhen>
            <reference
                  definitionId="isABonitaProduct">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.identity.organization.handler.ImportOrganizationHandler"
            commandId="org.bonitasoft.studio.application.import">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.bonitasoft.studio.organization.isOrganizationFolder">
                     </test>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.identity.organization.handler.ExportOrganizationHandler"
            commandId="org.bonitasoft.studio.application.export">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              property="org.bonitasoft.studio.organization.isOrganizationFolder">
                        </test>
                        <test
                              property="org.bonitasoft.studio.organization.isOrganizationFile">
                        </test>
                     </or>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.identity.organization.handler.CreateOrganizationHandler"
            commandId="org.bonitasoft.studio.application.new">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.bonitasoft.studio.organization.isOrganizationFolder">
                     </test>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.identity.actors.ui.handler.ExportActorFilterHandler"
            commandId="org.bonitasoft.studio.application.export">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.bonitasoft.studio.actors.isActorFilterImplFolder">
                     </test>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.identity.actors.ui.handler.ExportSingleActorFilterHandler"
            commandId="org.bonitasoft.studio.application.export">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.bonitasoft.studio.actors.isActorFilterImplFile">
                     </test>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.identity.actors.ui.handler.ExportActorFilterFromDefinitionHandler"
            commandId="org.bonitasoft.studio.application.export">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.bonitasoft.studio.actors.isActorFilterDefFile">
                     </test>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         id="org.bonitasoft.studio.actors.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.bonitasoft.studio.identity.organization.propertyTester.OrganizationPropertyTester"
            id="org.bonitasoft.studio.actors.organizationTester"
            namespace="org.bonitasoft.studio.organization"
            properties="isOrganizationFolder,isOrganizationFile"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
      <propertyTester
            class="org.bonitasoft.studio.identity.actors.propertyTester.ActorPropertyTester"
            id="org.bonitasoft.studio.actors.actorTester"
            namespace="org.bonitasoft.studio.actors"
            properties="isActorFilterDefFolder,isActorFilterDefFile,isActorFilterImplFolder,isActorFilterImplFile"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.bonitasoft.studio.organization.manage"
            icon="icons/organization.png">
      </image>
      <image
            commandId="org.bonitasoft.studio.identity.organization.create.command"
            icon="icons/organization.png">
      </image>
      <image
            commandId="org.bonitasoft.studio.actors.newFilterDef"
            icon="icons/actor_filter-def-new.png">
      </image>
      <image
            commandId="org.bonitasoft.studio.actors.newFilterImpl"
            icon="icons/actor_filter-implem-new.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.bonitasoft.studio.identity.organization.editor.OrganizationPerspectiveFactory"
            id="org.bonitasoft.studio.identity.organization.perspective"
            name="%organizationPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.bonitasoft.studio.identity.organization.editor.OrganizationEditor"
            default="false"
            extensions="organization"
            icon="icons/organization.png"
            id="org.bonitasoft.studio.identity.organization.editor"
            name="%organizationEditor">
         <contentTypeBinding
               contentTypeId="org.bonitasoft.studio.identity.organization.contentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="organization"
            id="org.bonitasoft.studio.identity.organization.contentType"
            name="Organization"
            priority="normal">
         <describer
               class="org.bonitasoft.studio.identity.organization.editor.OrganizationContentDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution
            id="orga-xsd">
         <public
               publicId="http://documentation.bonitasoft.com/organization-xml-schema/1.1"
               uri="model/bos-organization.xsd">
         </public>
      </catalogContribution>
   </extension>

</plugin>
