<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.connectors.connectorWizard">
      <connectorWizard
            connectorId="JavaExecutor"
            priority="1"
            useDefaultOutputPage="true">
         <wizardPage
               page="org.bonitasoft.studio.connectors.wizards.java.JavaConnectorWizardPage"></wizardPage>
      </connectorWizard>
   </extension>
</plugin>
