<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.bonitasoft.studio.diagram">
         <propertyTab
               afterTab="tab.document"
               category="domain"
               id="tab.parameter"
               label="%Parameter">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.bonitasoft.studio.diagram">
         <propertySection
               class="org.bonitasoft.studio.parameters.property.section.ParameterPropertySection"
               enablesFor="1"
               filter="org.bonitasoft.studio.parameters.property.section.AbstractProcessFilter"
               id="parameter.section"
               tab="tab.parameter"
               viewID="org.bonitasoft.studio.views.properties.process.data">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.expressionProvider">
      <expressionProvider
            providerClass="org.bonitasoft.studio.parameters.expression.ParameterExpressionProvider">
      </expressionProvider>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.wizardPage">
      <configurationWizardPage
            class="org.bonitasoft.studio.parameters.wizard.page.ParametersConfigurationWizardPage"
            priority="3">
      </configurationWizardPage>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.importConfigurationAction">
      <importConfigurationAction
            class="org.bonitasoft.studio.parameters.action.ImportParametersAction">
      </importConfigurationAction>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.exportConfigurationAction">
      <exportConfigurationAction
            class="org.bonitasoft.studio.parameters.action.ExportParametersAction">
      </exportConfigurationAction>
   </extension>
   <extension
         point="org.bonitasoft.studio.configuration.synchronizer">
      <synchronier
            class="org.bonitasoft.studio.parameters.configuration.ParametersConfigurationSynchronizer">
      </synchronier>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.proposalListener">
      <proposalListner
            name="%createDataLabel"
            providerClass="org.bonitasoft.studio.parameters.wizard.page.CreateParameterProposalListener"
            type="TYPE_PARAMETER">
      </proposalListner>
   </extension>

</plugin>
