<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=org.bonitasoft.studio.menu.run">
         <menu
               id="org.bonitasoft.studio.menu.simulation"
               label="%Simulation">
            <command
                  commandId="org.bonitasoft.studio.simulation.manageResources"
                  icon="icons/manage_resources.png"
                  label="%ManageResources"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.simulation.manageLoadProfiles"
                  icon="icons/manage_load_profiles.png"
                  label="%ManageLoadProfiles"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.simulation.run"
                  disabledIcon="icons/run_simulation_disabled.png"
                  icon="icons/run_simulation.png"
                  label="%RunSimulation"
                  style="push">
            </command>
            <separator
                  name="org.bonitasoft.studio.simulation.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.bonitasoft.studio.simulation.export"
                  icon="icons/export_simulation.png"
                  label="%export"
                  style="push">
            </command>
            <command
                  commandId="org.bonitasoft.studio.simulation.import"
                  icon="icons/import_simulation.png"
                  label="%import"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.bonitasoft.studio.simulation.manageResources"
            name="Manage Resources"></command>
      <command
            id="org.bonitasoft.studio.simulation.manageLoadProfiles"
            name="Manage Load Profiles">
      </command>
      <command
            id="org.bonitasoft.studio.simulation.run"
            name="Run Simulation">
      </command>
      <command
            id="org.bonitasoft.studio.simulation.export"
            name="export">
      </command>
      <command
            id="org.bonitasoft.studio.simulation.import"
            name="import">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bonitasoft.studio.simulation.commands.ManageResourcesCommand"
            commandId="org.bonitasoft.studio.simulation.manageResources">
      </handler>
      <handler
            class="org.bonitasoft.studio.simulation.commands.ManageLoadProfilesCommand"
            commandId="org.bonitasoft.studio.simulation.manageLoadProfiles">
      </handler>
      <handler
            class="org.bonitasoft.studio.simulation.commands.RunSimulationHandler"
            commandId="org.bonitasoft.studio.simulation.run">
         <enabledWhen>
            <reference
                  definitionId="isActiveEditorAnInstanceOfBonitaEditor">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.bonitasoft.studio.simulation.commands.ExportSimulationArtifacts"
            commandId="org.bonitasoft.studio.simulation.export">
      </handler>
      <handler
            class="org.bonitasoft.studio.simulation.commands.ImportSimulationArtifact"
            commandId="org.bonitasoft.studio.simulation.import">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.bonitasoft.studio.diagram">
         <propertySection
               class="org.bonitasoft.studio.simulation.properties.sections.GeneralExtensibleGridPropertySection"
               enablesFor="1"
               filter="org.bonitasoft.studio.simulation.properties.filters.SimulationProcessOrActivity"
               id="section.simulation.general"
               tab="tab.simulation.general"
               viewID="org.bonitasoft.studio.views.properties.simulation">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.simulation.properties.sections.DataExtensiblePropertySection"
               enablesFor="1"
               filter="org.bonitasoft.studio.simulation.properties.filters.SimulationDataAbleProcessFilter"
               id="section.simulation.data"
               tab="tab.simulation.data"
               viewID="org.bonitasoft.studio.views.properties.simulation">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.simulation.properties.sections.ResourceAssignmentExtensibleGridPropertySection"
               enablesFor="1"
               filter="org.bonitasoft.studio.simulation.properties.filters.SimulationActivityFilter"
               id="section.simulation.resourceassignment"
               tab="tab.simulation.resourceassignment"
               viewID="org.bonitasoft.studio.views.properties.simulation">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.bonitasoft.studio.diagram">
         <propertyTab
               category="domain"
               id="tab.simulation.general"
               label="General">
         </propertyTab>
         <propertyTab
               afterTab="tab.simulation.general"
               category="domain"
               id="tab.simulation.data"
               label="Data">
         </propertyTab>
         <propertyTab
               afterTab="tab.simulation.data"
               category="domain"
               id="tab.simulation.resourceassignment"
               label="%tab.simulation.resourceassignment">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.propertiesView">
      <excludeSources
            id="org.bonitasoft.studio.views.properties.simulation">
      </excludeSources>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.bonitasoft.studio.application.bonita"
            class="org.bonitasoft.studio.simulation.views.BonitaSimulationPropertiesView"
            icon="icons/simulation.png"
            id="org.bonitasoft.studio.views.properties.simulation"
            name="%SimulationView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.bonitasoft.studio.application.PropertiesView">
      <ViewContribution
            ViewId="org.bonitasoft.studio.views.properties.simulation"
            perspectiveID="org.bonitasoft.studio.perspective.process">
      </ViewContribution>
   </extension>
   <extension
         point="org.bonitasoft.studio.repositoryStore">
      <repositoryStore
            class="org.bonitasoft.studio.simulation.repository.SimulationResourceRepositoryStore">
      </repositoryStore>
      <repositoryStore
            class="org.bonitasoft.studio.simulation.repository.SimulationLoadProfileRepositoryStore">
      </repositoryStore>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.expressionProvider">
      <expressionProvider
            providerClass="org.bonitasoft.studio.simulation.expression.SimulationDataExpressionProvider">
      </expressionProvider>
   </extension>

</plugin>
