<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="ca.ecliptical.gmf.ant.tasks.GenerateDiagramCode"
            library="ant-tasks.jar"
            name="GenerateDiagramCode"
            uri="http://ecliptical.ca/gmf/ant">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="ant-tasks.jar">
      </extraClasspathEntry>
   </extension>

</plugin>
