<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--/**
 * Copyright (C) 2009 BonitaSoft S.A.
 * BonitaSoft, 31 rue Gustave Eiffel - 38000 Grenoble
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 2.0 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */-->
<plugin>
   <extension-point id="org.bonitasoft.studio.properties.widget" name="Widget Contribution" schema="schema/org.bonitasoft.studio.properties.widget.exsd"/>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.bonitasoft.studio.diagram">
         <propertyTab
               afterTab="top"
               category="domain"
               id="tab.diagram"
               label="%tab.diagram.label">
         </propertyTab>
         <propertyTab
               afterTab="top"
               category="domain"
               id="tab.general"
               label="%tab.general.label">
         </propertyTab>
         <propertyTab
               afterTab="top"
               category="domain"
               id="tab.pool"
               label="%tab.pool.label">
         </propertyTab>
         <propertyTab
               afterTab="tab.general"
               category="domain"
               id="tab.lane"
               label="%tab.lane.label">
         </propertyTab>
         <propertyTab
               afterTab="tab.userxp"
               category="domain"
               id="tab.callActivity"
               label="%tab.callActivity.label">
         </propertyTab>
 
         <propertyTab
               afterTab="tab.connectors.in"
               category="domain"
               id="tab.callActivityMapping.input"
               label="%tab.callActivityMapping.input.label">
         </propertyTab>
         <propertyTab
               afterTab="tab.callActivityMapping.input"
               category="domain"
               id="tab.callActivityMapping.output"
               label="%tab.callActivityMapping.output.label">
         </propertyTab>
         <propertyTab
               afterTab="tab.general"
               category="domain"
               id="tab.userxp"
               label="%tab.userxp.label">
         </propertyTab>
         <propertyTab
               afterTab="tab.general"
               category="domain"
               id="tab.throwMessage"
               label="%tab.throwMessage.label">
         </propertyTab>
         <propertyTab
               afterTab="tab.visibility"
               category="domain"
               id="tab.color.font"
               label="%tab.color.font">
         </propertyTab>
         <propertyTab
               category="domain"
               id="tab.visibility"
               label="%tab.visibility">
         </propertyTab>
         <propertyTab
               afterTab="tab.color.font"
               category="domain"
               id="tab.ruler.grid"
               label="%tab.grid">
         </propertyTab>
         <propertyTab
               afterTab="tab.userxp"
               category="domain"
               id="tab.catchMessage.content"
               label="%tab.catchMessageContent">
         </propertyTab>
         <propertyTab
               afterTab="tab.catchMessage.content"
               category="domain"
               id="tab.catchMessage.correlation"
               label="%tab.catchMessageCorrelation">
         </propertyTab>
         <propertyTab
               afterTab="tab.form.mapping.overview"
               category="domain"
               id="tab.operations"
               label="%tab.operations.label">
         </propertyTab>
         <propertyTab
               afterTab="tab.callActivityMapping.output"
               category="domain"
               id="tab.loop"
               label="%tab.loop.label">
         </propertyTab>
         <propertyTab
               afterTab="tab.loop"
               category="domain"
               id="tab.transitionordering"
               label="%tab.transitionordering.label">
         </propertyTab>
         <propertyTab
               afterTab="tab.data"
               category="domain"
               id="tab.document"
               label="%tab.document.label">
         </propertyTab>
         <propertyTab
               afterTab="tab.document"
               category="domain"
               id="tab.index"
               label="%tab.index.label">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.bonitasoft.studio.diagram">
         <propertySection
               class="org.bonitasoft.studio.properties.sections.diagram.DiagramSection"
               enablesFor="1"
               filter="org.bonitasoft.studio.properties.filters.DiagramFilter"
               id="DiagramSection"
               tab="tab.diagram"
               viewID="org.bonitasoft.studio.views.properties.process.general">
         </propertySection>
         <propertySection
               class="org.bonitasoft.studio.properties.sections.general.GeneralExtensibleGridPropertySection"
               enablesFor="1"
               filter="org.bonitasoft.studio.properties.filters.ElementExceptContainersFilter"
               id="GeneralSection"
               tab="tab.general"
               viewID="org.bonitasoft.studio.views.properties.process.general">
         </propertySection>
        <propertySection
              class="org.bonitasoft.studio.properties.sections.general.PoolGeneralPropertySection"
              enablesFor="1"
              filter="org.bonitasoft.studio.properties.filters.PoolOrLaneFilter"
              id="PoolSection"
              tab="tab.pool"
              viewID="org.bonitasoft.studio.views.properties.process.general">
        </propertySection>
        <propertySection
              class="org.bonitasoft.studio.properties.sections.lane.LaneSection"
              enablesFor="1"
              filter="org.bonitasoft.studio.properties.filters.LaneFilter"
              id="LaneSection"
              tab="tab.lane"
              viewID="org.bonitasoft.studio.views.properties.process.general">
        </propertySection>
        <propertySection
              class="org.bonitasoft.studio.properties.sections.iteration.IterationPropertySection"
              enablesFor="1"
              filter="org.bonitasoft.studio.properties.filters.ActivityFilter"
              id="LoopSection"
              tab="tab.loop"
              viewID="org.bonitasoft.studio.views.properties.process.general">
        </propertySection>
        <propertySection
              class="org.bonitasoft.studio.properties.sections.callActivity.CallActivitySection"
              enablesFor="1"
              filter="org.bonitasoft.studio.properties.filters.SubProcessFilter"
              id="CallActivitySection"
              tab="tab.callActivity"
              viewID="org.bonitasoft.studio.views.properties.process.general">
        </propertySection>
        <propertySection
              class="org.bonitasoft.studio.properties.sections.callActivity.InputParametersMappingSection"
              enablesFor="1"
              filter="org.bonitasoft.studio.properties.filters.SubProcessFilter"
              id="InputMappingSection"
              tab="tab.callActivityMapping.input"
              viewID="org.bonitasoft.studio.views.properties.process.execution">
        </propertySection>
        <propertySection
              class="org.bonitasoft.studio.properties.sections.callActivity.OutputParametersMappingSection"
              enablesFor="1"
              filter="org.bonitasoft.studio.properties.filters.SubProcessFilter"
              id="OutputMappingSection"
              tab="tab.callActivityMapping.output"
              viewID="org.bonitasoft.studio.views.properties.process.execution">
        </propertySection>
        <propertySection
              class="org.bonitasoft.studio.properties.sections.userxp.UserXPSection"
              enablesFor="1"
              filter="org.bonitasoft.studio.properties.filters.UserXPTabFilter"
              id="UserXPSection"
              tab="tab.userxp"
              viewID="org.bonitasoft.studio.views.properties.process.general">
        </propertySection>
        <propertySection
              class="org.bonitasoft.studio.properties.sections.appearance.ColorAndFontPropertySection"
              filter="org.bonitasoft.studio.properties.filters.FillColorSectionFilter"
              id="section.appearance.color.font"
              tab="tab.color.font"
              viewID="org.bonitasoft.studio.views.properties.process.appearance">
        </propertySection>
        <propertySection
              class="org.bonitasoft.studio.properties.sections.appearance.VisibiltyExtensibleGridPropertySection"
              filter="org.bonitasoft.studio.properties.filters.VisibilitySectionFilter"
              id="section.appearance.visibility"
              tab="tab.visibility"
              viewID="org.bonitasoft.studio.views.properties.process.appearance">
        </propertySection>
                <propertySection
              class="org.bonitasoft.studio.properties.sections.appearance.BonitaRulerGridPropertySection"
              filter="org.bonitasoft.studio.properties.filters.RulerGridFilter"
              id="section.appearance.ruler.grid"
              tab="tab.ruler.grid"
              viewID="org.bonitasoft.studio.views.properties.process.appearance">
        </propertySection>
                <propertySection
                      class="org.bonitasoft.studio.properties.sections.catchmessage.CatchMessageContentEventSection"
                      filter="org.bonitasoft.studio.properties.filters.CatchMessageEventFilter"
                      id="section.general.tab.catchMessage.content"
                      tab="tab.catchMessage.content"
                      viewID="org.bonitasoft.studio.views.properties.process.general">
                </propertySection>
                <propertySection
                      class="org.bonitasoft.studio.properties.sections.catchmessage.CatchMessageEventCorrelationSection"
                      filter="org.bonitasoft.studio.properties.filters.CatchMessageEventCorrelationFilter"
                      id="section.general.tab.catchMessage.correlation"
                      tab="tab.catchMessage.correlation"
                      viewID="org.bonitasoft.studio.views.properties.process.general">
                </propertySection>
                <propertySection
                      class="org.bonitasoft.studio.properties.sections.operation.OperationsPropertySection"
                      enablesFor="1"
                      filter="org.bonitasoft.studio.properties.filters.OperationContainerFilter"
                      id="OperationsSection"
                      tab="tab.operations"
                      viewID="org.bonitasoft.studio.views.properties.process.execution">
                </propertySection>
                <propertySection
                      class="org.bonitasoft.studio.properties.sections.transitionordering.TransitionOrderingPropertySection"
                      filter="org.bonitasoft.studio.properties.filters.ExclusiveGatewayFilter"
                      id="section.general.tab.transitionordering"
                      tab="tab.transitionordering"
                      viewID="org.bonitasoft.studio.views.properties.process.general">
                </propertySection>
      </propertySections>
   </extension>
</plugin>
