<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
    Copyright (c) 2007, 2010 BMW Car IT, Technische Universitaet Muenchen, and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        BMW Car IT - Initial API and implementation
        Technische Universitaet Muenchen - Major refactoring and extension
 -->

<plugin>
   <extension-point id="org.eclipse.emf.edapt.factories" name="org.eclipse.emf.edapt.factories" schema="schema/org.eclipse.emf.edapt.factories.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/emf/edapt/migration/0.3" 
       class = "org.eclipse.emf.edapt.spi.migration.impl.MigrationPackageImpl"
       genModel = "model/model.genmodel" /> 
  </extension>

</plugin>
