<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=org.bonitasoft.studio.menu.help">
         <menu
               id="org.bonitasoft.studio.teamMenu"
               label="%team">
            <menu
                  id="org.bonitasoft.studio.team.git.menu"
                  label="Git">
               <dynamic
                     class="org.bonitasoft.studio.team.git.ui.MenuContributionItem"
                     id="org.bonitasoft.studio.team.git.dynamicMenu">
               </dynamic>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.bonitasoft.studio.application.project.explorer?after=team.main">
         <command
               commandId="org.bonitasoft.studio.team.git.command.share"
               icon="icons/git.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
	               <with
	                     variable="activeMenuSelection">
	                  <and>
		                  <count
		                        value="1">
		                  </count>
	                     <iterate>
	                        <instanceof
	                              value="org.eclipse.core.resources.IProject">
	                        </instanceof>
	                        <test
	                              property="org.bonitasoft.studio.application.isBonitaProject">
	                        </test>
	                        <test
	                              property="org.bonitasoft.studio.team.git.isProjectNotShared">
	                        </test>
	                     </iterate>
		               </and>
	               </with>
	            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            properties="isProjectNotShared"
            namespace="org.bonitasoft.studio.team.git"
            type="org.eclipse.core.resources.IProject"
            class="org.bonitasoft.studio.team.git.ProjectNotSharedPropertyTester"
            id="org.bonitasoft.studio.team.git.projectNotSharedPropertyTester">
      </propertyTester>
   </extension>
   <extension
         id="org.bonitasoft.studio.team.git.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bonitasoft.studio.team.git.core.ShareGitProject"
            commandId="org.bonitasoft.studio.team.git.command.share">
      </handler>
      <handler
            class="org.bonitasoft.studio.team.git.core.CloneGitProject"
            commandId="org.bonitasoft.studio.team.git.command.clone">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.bonitasoft.studio.team.git.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
