<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension-point id="introModelPageId" name="introModelPageId" schema="schema/introModelPageId.exsd"/>

   <extension
          id="RestAPIExtensionNature"
          name="Rest API Extension"
         point="org.eclipse.core.resources.natures">
      <builder
            id="org.bonitasoft.studio.rest.api.extension.pagePropertyBuilder">
      </builder>
      <runtime>
         <run
               class="org.bonitasoft.studio.common.RestAPIExtensionNature">
         </run>
      </runtime>
      <builder
            id="org.bonitasoft.studio.rest.api.extension.themePagePropertyBuilder">
      </builder>
   </extension>
   <extension
         id="org.bonitasoft.studio.common.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi"
            apply="always">
      </fragment>
   </extension>

</plugin>
