<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.connectors.connectorWizard">
      <connectorWizard
            connectorId="SAPCallFunction"
            priority="1"
            useDefaultOutputPage="false">
         <wizardPage
               page="org.bonitasoft.studio.connector.wizard.sap.pages.SAPConnectionWizardPage"></wizardPage>
         <wizardPage
               page="org.bonitasoft.studio.connector.wizard.sap.pages.SAPFunctionDefinitionWizardPage">
         </wizardPage>
         <wizardPage
               page="org.bonitasoft.studio.connector.wizard.sap.pages.SAPInputParamsWizardPage">
         </wizardPage>
         <wizardPage
               page="org.bonitasoft.studio.connector.wizard.sap.pages.SAPOutputParamsWizardPage">
         </wizardPage>
      </connectorWizard>
      <connectorWizard
            connectorId="SAPCreateClient"
            priority="1"
            useDefaultOutputPage="true">
         <wizardPage
               page="org.bonitasoft.studio.connector.wizard.sap.pages.SAPConnectionWizardPage"></wizardPage>
      </connectorWizard>
   </extension>

</plugin>
