<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.expression.expressionProvider">
      <expressionProvider
            providerClass="org.bonitasoft.studio.data.provider.DataExpressionProvider">
      </expressionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.bonitasoft.studio.diagram">
               <propertyTab
                     afterTab="tab.poolData"
                     category="domain"
                     id="tab.data"
                     label="%tab.data.label">
         </propertyTab>
               <propertyTab
                     category="domain"
                     id="tab.poolData"
                     label="%poolVariables">
               </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.operatorEditor">
      <operatorEditor
            class="org.bonitasoft.studio.data.provider.JavaSetterOperatorEditor">
      </operatorEditor>
   </extension>
   <extension
         point="org.bonitasoft.studio.expression.proposalListener">
      <proposalListner
            name="%createDataLabel"
            providerClass="org.bonitasoft.studio.data.ui.wizard.CreateVariableProposalListener"
            type="TYPE_VARIABLE">
      </proposalListner>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.bonitasoft.studio.diagram">
           <propertySection
              afterSection="tab.poolData"
              class="org.bonitasoft.studio.data.ui.property.section.DataSection"
              enablesFor="1"
              filter="org.bonitasoft.studio.data.ui.property.section.LocalDataFilter"
              id="DataSection"
              tab="tab.data"
              viewID="org.bonitasoft.studio.views.properties.process.data">
        </propertySection>
        <propertySection
              class="org.bonitasoft.studio.data.ui.property.section.PoolDataSection"
              filter="org.bonitasoft.studio.data.ui.property.section.HasDataFilter"
              id="PoolDataSection"
              tab="tab.poolData"
              viewID="org.bonitasoft.studio.views.properties.process.data">
        </propertySection>
      </propertySections>
   </extension>

</plugin>
