<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bonitasoft.studio.application.registration">
      <registration_class
            class="org.bonitasoft.studio.registration.RegistrationContribution">
      </registration_class>
   </extension>

</plugin>
