@charset "utf-8";
* {
	font-size: 14px;
	margin: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 0;
}

#bonita_form_page_label {
	border-right-style: solid;
	padding: 3px 0px 3px 0px;
	height: 25px;
	margin: 40px auto 0 auto;
	border-width: 1px;
	width: 680px;
	background-color: #a5cc07;
	border-left-color: #999999;
	border-top-color: #999999;
	border-left-style: solid;
	border-top-style: solid;
	border-left-width: 1px;
	border-color: #999999;
	border-top-width: 1px;
	color: #FFF;
}

#bonita_form_page_label div {
	font-size: 18px;
	margin: 3px 25px 3px 10px;
	font-weight: bold;
}

#requestHeader {
	border-bottom-width: 1px;
	padding: 10px 25px 3px 10px;
	border-bottom-style: solid;
	height: 20px;
	margin: 0 auto 0 auto;
	background-color: #eaeaea;
	border-bottom-color: #999999;
	color: #FFF;
}

#requestHeaderText {
	float: left;
	margin: 0 auto 0 auto;
	color: #000000;
}

#requestHeaderText strong {
	color: #929292;
}

#priorityHeader {
	color: #000;
	float: right;
}

#priorityHeader strong {
	color: #C00;
}

#mainContainer {
	border-right-style: solid;
	padding: 0px 0px 3px 0px;
	height: auto;
	border-right-color: #999999;
	border-right-width: 1px;
	margin: 0 auto 0 auto;
	width: 680px;
	background-color: #FFF;
	border-left-color: #999999;
	border-left-style: solid;
	border-left-width: 1px;
}

#requestSender {
	font-weight: bold;
	margin: 10px 3px 0px 3px;
	font-size: 16px;
	padding-left: 10px;
	color: #481bdc;
}

#requestMessage {
	margin: 10px 3px 0px 3px;
	font-size: 13px;
	padding-left: 10px;
	color: #666666;
}

input.default,textarea.default {
	line-height: 1.5em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
	border-radius: 4px 4px 4px 4px;
	max-width: 430px;
	background: none repeat scroll 0 0 #FFFFFF;
	width: 430px;
	border: 1px solid #BCBBBB;
	padding: 5px;
}

.bonita_form_label {
	padding-right: 20px;
	width: 210px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	color: #666666;
}

#fieldset {
	height: auto;
	text-align: right;
	width: 100%;
	margin-top: 20px;
}

.bonita_form_button {
	padding: 1px 5px 1px 5px;
	margin: 20px 0 10px 0;
	border-width: 1px;
	border-radius: 4px;
	background-color: #a5cc07;
	border-style: solid;
	border-color: #ababab;
	color: #FFF;
}

.bonita_form_button:hover {
	background-color: #B2EC18;
}

