<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (C) 2009-2015 BonitaSoft S.A.
 BonitaSoft, 32 rue Gustave Eiffel - 38000 Grenoble
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 2.0 of the License, or
 (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/actormapping/6.0"
            class="org.bonitasoft.studio.model.actormapping.ActorMappingPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated process -->
      <parser
            type="actormapping"
            class="org.bonitasoft.studio.model.actormapping.util.ActorMappingResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/studio/configuration"
            class="org.bonitasoft.studio.model.configuration.ConfigurationPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated process -->
      <parser
            type="conf"
            class="org.bonitasoft.studio.model.configuration.util.ConfigurationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://wwww.bonitasoft.org/model/connector/configuration"
            class="org.bonitasoft.studio.model.connectorconfiguration.ConnectorConfigurationPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated process -->
      <parser
            type="connectorconfig"
            class="org.bonitasoft.studio.model.connectorconfiguration.util.ConnectorConfigurationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/studio/expression"
            class="org.bonitasoft.studio.model.expression.ExpressionPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/studio/kpi"
            class="org.bonitasoft.studio.model.kpi.KpiPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/studio/parameter"
            class="org.bonitasoft.studio.model.parameter.ParameterPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/studio/process"
            class="org.bonitasoft.studio.model.process.ProcessPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/studio/process/decision"
            class="org.bonitasoft.studio.model.process.decision.DecisionPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated process -->
      <parser
            type="decision"
            class="org.bonitasoft.studio.model.process.decision.util.DecisionResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/studio/process/decision/transitions"
            class="org.bonitasoft.studio.model.process.decision.transitions.TransitionsPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated process -->
      <parser
            type="transitions"
            class="org.bonitasoft.studio.model.process.decision.transitions.util.TransitionsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/studio/form"
            class="org.bonitasoft.studio.model.form.FormPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/studio/process/simulation"
            class="org.bonitasoft.studio.model.simulation.SimulationPackage"/>
   </extension>

</plugin>
