<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
           <command
            defaultHandler="org.bonitasoft.studio.examples.handler.OpenExampleDiagramCommandHandler"
            id="org.bonitasoft.studio.example.command.openExample"
            name="Open Example">
      </command>
   </extension>

</plugin>
