<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="bonitaTaskGuidance" name="bonitaTaskGuidance" schema="schema/bonitaTaskGuidance.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.bonitasoft.studio.userguidance.command.OpenUserGuidanceCommandHandler"
            id="org.bonitasoft.studio.openUserGuidance"
            name="%openUserGuidance">
      </command>
   </extension>
   <extension
         point="org.bonitasoft.studio.userguidance.bonitaTaskGuidance">
      <task
            redirectId="1"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/process-modeling.html"
            id="org.bonitasoft.studio.userguidance.processmodeling"
            name="%processModeling"
            rank="0">
      </task>
      <task
            redirectId="2"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/create-new-diagram.html"
            id="org.bonitasoft.studio.userguidance.createNewDiagram"
            name="%createNewDiagram"
            parentTask="org.bonitasoft.studio.userguidance.processmodeling"
            rank="1">
      </task>
      <task
            redirectId="3"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/create-new-pool.html"
            id="org.bonitasoft.studio.userguidance.createNewPool"
            name="%createNewPool"
            parentTask="org.bonitasoft.studio.userguidance.processmodeling"
            rank="2">
      </task>
      <task
            redirectId="4"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/add-a-task.html"
            id="org.bonitasoft.studio.userguidance.addATask"
            name="%addATask"
            parentTask="org.bonitasoft.studio.userguidance.processmodeling"
            rank="3">
      </task>
      <task
            redirectId="5"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/define-a-transition.html"
            id="org.bonitasoft.studio.userguidance.defineATransition"
            name="%defineATransition"
            parentTask="org.bonitasoft.studio.userguidance.processmodeling"
            rank="4">
      </task>
      <task
            redirectId="6"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/add-a-gate.html"
            id="org.bonitasoft.studio.userguidance.addAGate"
            name="%addAGate"
            parentTask="org.bonitasoft.studio.userguidance.processmodeling"
            rank="5">
      </task>
      <task
            redirectId="7"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/add-a-timer-event.html"
            id="org.bonitasoft.studio.userguidance.addATimer"
            name="%addATimer"
            parentTask="org.bonitasoft.studio.userguidance.processmodeling"
            rank="6">
      </task>
      <task
            redirectId="8"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/add-a-message-flow.html"
            id="org.bonitasoft.studio.userguidance.addAMessageFlow"
            name="%addAMessageFlow"
            parentTask="org.bonitasoft.studio.userguidance.processmodeling"
            rank="7">
      </task>
      <task
            redirectId="9"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/add-a-subprocess.html"
            id="org.bonitasoft.studio.userguidance.addACallActivity"
            name="%addACallActivity"
            parentTask="org.bonitasoft.studio.userguidance.processmodeling"
            rank="8">
      </task>
      <task
            redirectId="10"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/define-actors.html"
            id="org.bonitasoft.studio.userguidance.defineActors"
            name="%defineActors"
            rank="9">
      </task>
      <task
            redirectId="11"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/create-a-new-lane.html"
            id="org.bonitasoft.studio.userguidance.createALane"
            name="%createALane"
            parentTask="org.bonitasoft.studio.userguidance.defineActors"
            rank="10">
      </task>
      <task
            redirectId="12"
		categoryId="org.bonitasoft.studio.profiles.appearance"
            content="html/en/change-appearance.html"
            id="org.bonitasoft.studio.userguidance.changeAppearance"
            name="%changeAppearance"
            rank="11">
      </task>
      <task
            redirectId="13"
		categoryId="org.bonitasoft.studio.profiles.appearance"
            content="html/en/choose-color-and-font.html"
            id="org.bonitasoft.studio.userguidance.chooseColorAndFont"
            name="%chooseColorAndFont"
            parentTask="org.bonitasoft.studio.userguidance.changeAppearance"
            rank="12">
      </task>
      <task
            redirectId="14"
		categoryId="org.bonitasoft.studio.profiles.validation"
            content="html/en/check-bpmn-model.html"
            id="org.bonitasoft.studio.userguidance.checkBPMNModel"
            name="%checkBPMNModel"
            rank="14">
      </task>
      <task
            redirectId="15"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/basic-actions.html"
            id="org.bonitasoft.studio.userguidance.basicActions"
            name="%basicActions"
            rank="15">
      </task>
      <task
            redirectId="16"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/add-annotation-to-symbolize-action.html"
            id="org.bonitasoft.studio.userguidance.addAnnotations"
            name="%addAnnotations"
            parentTask="org.bonitasoft.studio.userguidance.basicActions"
            rank="16">
      </task>
      <task
            redirectId="17"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/generate-documentation.html"
            id="org.bonitasoft.studio.userguidance.generateDocumentation"
            name="%generateDocumentation"
            rank="17">
      </task>
      <task
            redirectId="18"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/share.html"
            id="org.bonitasoft.studio.userguidance.share"
            name="%share"
            rank="19">
      </task>
      <task
            redirectId="19"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/print-diagram.html"
            id="org.bonitasoft.studio.userguidance.print"
            name="%print"
            parentTask="org.bonitasoft.studio.userguidance.share"
            rank="20">
      </task>
      <task
            redirectId="20"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/export-diagram.html"
            id="org.bonitasoft.studio.userguidance.export"
            name="%export"
            parentTask="org.bonitasoft.studio.userguidance.share"
            rank="21">
      </task>
      <task
            redirectId="21"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/import-diagram.html"
            id="org.bonitasoft.studio.userguidance.import"
            name="%import"
            parentTask="org.bonitasoft.studio.userguidance.share"
            rank="22">
      </task>
      <task
            redirectId="22"
		categoryId="org.bonitasoft.studio.profiles.simulation"
            content="html/en/simulation-introduction.html"
            id="org.bonitasoft.studio.userguidance.simulation"
            name="%simulation"
            rank="23">
      </task>
      <task
            redirectId="23"
		categoryId="org.bonitasoft.studio.profiles.datamanagement"
            content="html/en/add-data.html"
            id="org.bonitasoft.studio.userguidance.addData"
            name="%addData"
            rank="25">
      </task>
      <task
            redirectId="24"
		categoryId="org.bonitasoft.studio.profiles.datamanagement"
            content="html/en/define-global-and-local-variables.html"
            id="org.bonitasoft.studio.userguidance.defineGlobalLocalVariable"
            name="%defineGlobalLocalVariable"
            parentTask="org.bonitasoft.studio.userguidance.addData"
            rank="26">
      </task>
      <task
            redirectId="25"
		categoryId="org.bonitasoft.studio.profiles.datamanagement"
            content="html/en/define-single-or-multiple-variables.html"
            id="org.bonitasoft.studio.userguidance.defineSingleMultipleVariable"
            name="%defineSingleMultipleVariable"
            parentTask="org.bonitasoft.studio.userguidance.addData"
            rank="27">
      </task>
      <task
            redirectId="26"
		categoryId="org.bonitasoft.studio.profiles.datamanagement"
            content="html/en/define-a-list-of-options-as-a-variable.html"
            id="org.bonitasoft.studio.userguidance.defineListOfOptions"
            name="%defineListOfOptions"
            parentTask="org.bonitasoft.studio.userguidance.addData"
            rank="28">
      </task>
      <task
            redirectId="27"
		categoryId="org.bonitasoft.studio.profiles.datamanagement"
            content="html/en/define-a-transition.html"
            id="org.bonitasoft.studio.userguidance.defineTransitions"
            name="%defineTransitions"
            rank="29">
      </task>
      <task
            redirectId="28"
		categoryId="org.bonitasoft.studio.profiles.datamanagement"
            content="html/en/condition.html"
            id="org.bonitasoft.studio.userguidance.conditions"
            name="%conditions"
            parentTask="org.bonitasoft.studio.userguidance.defineTransitions"
            rank="30">
      </task>
      <task
            redirectId="29"
		categoryId="org.bonitasoft.studio.profiles.datamanagement"
            content="html/en/decision-table.html"
            id="org.bonitasoft.studio.userguidance.decisionTable"
            name="%decisionTable"
            parentTask="org.bonitasoft.studio.userguidance.defineTransitions"
            rank="31">
      </task>
      <task
            redirectId="30"
		categoryId="org.bonitasoft.studio.profiles.connectors"
            content="html/en/add-connectors.html"
            id="org.bonitasoft.studio.userguidance.addConnectors"
            name="%addConnectors"
            rank="32">
      </task>
      <task
            redirectId="31"
		categoryId="org.bonitasoft.studio.profiles.connectors"
            content="html/en/add-a-connector-to-a-task-or-a-pool.html"
            id="org.bonitasoft.studio.userguidance.addConnectorToTaskOrPool"
            name="%addConnectorToTaskOrPool"
            parentTask="org.bonitasoft.studio.userguidance.addConnectors"
            rank="33">
      </task>
      <task
            redirectId="32"
		categoryId="org.bonitasoft.studio.profiles.connectors"
            content="html/en/test-a-connector.html"
            id="org.bonitasoft.studio.userguidance.testConnector"
            name="%testConnector"
            parentTask="org.bonitasoft.studio.userguidance.addConnectors"
            rank="34">
      </task>
      <task
            redirectId="33"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/multi-instantiation-introduction.html"
            id="org.bonitasoft.studio.userguidance.multiInstantiation"
            name="%multiInstantiation"
            rank="35">
      </task>
      <task
            redirectId="34"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/configure-events.html"
            id="org.bonitasoft.studio.userguidance.configureEvents"
            name="%configureEvents"
            rank="37">
      </task>
      <task
            redirectId="35"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/configure-events-timer.html"
            id="org.bonitasoft.studio.userguidance.configureTimer"
            name="%configureTimer"
            parentTask="org.bonitasoft.studio.userguidance.configureEvents"
            rank="38">
      </task>
      <task
            redirectId="36"
		categoryId="org.bonitasoft.studio.profiles.processmodeling"
            content="html/en/configure-events-message.html"
            id="org.bonitasoft.studio.userguidance.configureMessages"
            name="%configureMessages"
            parentTask="org.bonitasoft.studio.userguidance.configureEvents"
            rank="39">
      </task>
      <task
            redirectId="37"
		categoryId="org.bonitasoft.studio.profiles.execution"
            content="html/en/run.html"
            id="org.bonitasoft.studio.userguidance.run"
            name="%run"
            rank="40">
      </task>
      <task
            redirectId="38"
		categoryId="org.bonitasoft.studio.profiles.execution"
            content="html/en/debug.html"
            id="org.bonitasoft.studio.userguidance.debug"
            name="%debug"
            rank="42">
      </task>
      <task
            redirectId="39"
		categoryId="org.bonitasoft.studio.profiles.formsmodeling"
            content="html/en/forms.html"
            id="org.bonitasoft.studio.userguidance.forms"
            name="%forms"
            rank="44">
      </task>
      <task
            redirectId="40"
		categoryId="org.bonitasoft.studio.profiles.formsmodeling"
            content="html/en/add-a-form-to-a-task-or-a-pool.html"
            id="org.bonitasoft.studio.userguidance.addFormToTaskOrPool"
            name="%addFormToTaskOrPool"
            parentTask="org.bonitasoft.studio.userguidance.forms"
            rank="45">
      </task>
      <task
            redirectId="41"
		categoryId="org.bonitasoft.studio.profiles.formsmodeling"
            content="html/en/add-remove-move-merge-cells-in-a-form.html"
            id="org.bonitasoft.studio.userguidance.addRemoveMoveMergeCellsInForm"
            name="%addRemoveMoveMergeCellsInForm"
            parentTask="org.bonitasoft.studio.userguidance.forms"
            rank="46">
      </task>
      <task
            redirectId="42"
		categoryId="org.bonitasoft.studio.profiles.formsmodeling"
            content="html/en/modify-grid-appearance.html"
            id="org.bonitasoft.studio.userguidance.modifyGridAppearance"
            name="%modifyGridAppearance"
            parentTask="org.bonitasoft.studio.userguidance.forms"
            rank="47">
      </task>
      <task
            redirectId="43"
		categoryId="org.bonitasoft.studio.profiles.formsmodeling"
            content="html/en/configure-pageflow.html"
            id="org.bonitasoft.studio.userguidance.configurePageflow"
            name="%configurePageflow"
            rank="48">
      </task>
      <task
            redirectId="44"
		categoryId="org.bonitasoft.studio.profiles.formsmodeling"
            content="html/en/create-a-multipage-form.html"
            id="org.bonitasoft.studio.userguidance.createMultiPageForm"
            name="%createMultiPageForm"
            parentTask="org.bonitasoft.studio.userguidance.configurePageflow"
            rank="49">
      </task>
      <task
            redirectId="45"
		categoryId="org.bonitasoft.studio.profiles.formsmodeling"
            content="html/en/create-a-confirmation-page.html"
            id="org.bonitasoft.studio.userguidance.createAConfirmationPage"
            name="%createAConfirmationPage"
            rank="57">
      </task>
      <task
            redirectId="46"
		categoryId="org.bonitasoft.studio.profiles.formsmodeling"
            content="html/en/confirmation-page-template.html"
            id="org.bonitasoft.studio.userguidance.confirmationPageTemplate"
            name="%confirmationPageTemplate"
            parentTask="org.bonitasoft.studio.userguidance.createAConfirmationPage"
            rank="58">
      </task>
      <task
            redirectId="47"
		 categoryId="org.bonitasoft.studio.profiles.looknfeels"
            content="html/en/choose-a-look-and-feel.html"
            id="org.bonitasoft.studio.userguidance.chooseLookFeel"
            name="%chooseLookFeel"
            rank="59">
      </task>
   </extension>
   <extension
         point="org.bonitasoft.studio.application.prestartup">
      <contribution
            class="org.bonitasoft.studio.userguidance.InstallGuidanceContribution"
            priority="10">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.bonitasoft.studio.menu.help?after=org.bonitasoft.studio.application.showHelp">
         <command
               commandId="org.bonitasoft.studio.openUserGuidance"
               icon="icons/user_guidance.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.bonitasoft.studio.coolbarContributionItem">
      <coolbarItem
            class="org.bonitasoft.studio.userguidance.coolbar.UserGuidanceCoolbarItem"
            priority="0"
            toolbarPosition="16">
      </coolbarItem>
   </extension>

</plugin>
